archive/files/20260330_temp_candidates/temp_wf.json
{"updatedAt":"2026-03-27T20:15:17.985Z","createdAt":"2026-03-27T19:51:22.931Z","id":"HuuRe6ooTrbh5rJF","name":"Saudi Legal Scraper v2 - سحب القوانين من المصادر الرسمية","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","weekInterval":1,"triggerAtDay":[4],"triggerAtHour":23}]}},"id":"a1000001-0001-4001-8001-000000000001","name":"⏰ جدولة أسبوعية","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,-80]},{"parameters":{},"id":"a1000001-0001-4001-8001-000000000002","name":"▶️ تشغيل يدوي","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[60,-280]},{"parameters":{"jsCode":"// قائمة الأنظمة السعودية المهمة من هيئة الخبراء\nconst laws = [\n  { law_id: '08381293-6388-48e2-8ad2-a9a700f2aa94', law_name: 'نظام العمل', category: 'labor_law' },\n  { law_id: '25df73d6-0f49-4dc5-b010-a9a700f2ec1d', law_name: 'نظام مكافحة جرائم المعلوماتية', category: 'cyber_crimes' },\n  { law_id: '6f509360-2c39-4358-ae2a-a9a700f2ed16', law_name: 'نظام التعاملات الإلكترونية', category: 'ecommerce' },\n  { law_id: 'c2c05ee1-201a-48de-91e7-a9a700f2d14f', law_name: 'نظام المنافسات والمشتريات الحكومية', category: 'procurement' },\n  { law_id: '23576008-1ce4-4685-ac3e-a9a700f2cb02', law_name: 'نظام ضريبة الدخل', category: 'tax' },\n  { law_id: 'ae610645-e094-48ef-814e-aeb4009d244f', law_name: 'نظام الاتصالات وتقنية المعلومات', category: 'telecom' },\n  { law_id: 'eda86cc3-3a00-4b90-900d-b1d000c8a863', law_name: 'نظام الاستثمار', category: 'investment' },\n  { law_id: '85364e57-c01e-41ba-8def-a9a700f183e9', law_name: 'نظام المرور', category: 'traffic' },\n  { law_id: '98ee4b51-d398-4323-ae69-b2b8009f3156', law_name: 'نظام السجل التجاري', category: 'commercial_registry' },\n  { law_id: '93e87aa7-f344-4711-b97c-a9a700f1662b', law_name: 'نظام مجلس الوزراء', category: 'government' },\n  { law_id: 'b5cf540a-e6ac-426a-b348-a9a700f163de', law_name: 'نظام مجلس الشورى', category: 'government' },\n  { law_id: '93f81644-fbbc-49ca-b33c-a9a700f16701', law_name: 'نظام المناطق', category: 'regions' }\n];\n\nreturn laws.map(law => ({\n  json: {\n    ...law,\n    url: `https://laws.boe.gov.sa/BoeLaws/Laws/LawDetails/${law.law_id}/1`,\n    source: 'laws.boe.gov.sa'\n  }\n}));"},"id":"a1000001-0001-4001-8001-000000000003","name":"📋 قائمة القوانين","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-180]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"a1000001-0001-4001-8001-000000000004","name":"🔄 معالجة واحد تلو الآخر","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[540,-180]},{"parameters":{"url":"={{ $json.url }}","options":{"timeout":60000,"response":{"response":{"responseFormat":"text"}},"allowUnauthorizedCerts":true}},"id":"a1000001-0001-4001-8001-000000000005","name":"🌐 سحب صفحة القانون","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,-180]},{"parameters":{"jsCode":"// استخراج نص القانون من HTML وتقسيمه إلى أجزاء\nconst chunkSize = 800;\nconst overlap = 100;\nconst results = [];\n\n// الحصول على بيانات القانون من SplitInBatches\nconst batchNode = $('🔄 معالجة واحد تلو الآخر');\nconst meta = batchNode.item.json;\nconst lawName = meta.law_name || 'unknown';\nconst lawId = meta.law_id || 'unknown';\nconst source = meta.source || 'boe.gov.sa';\nconst category = meta.category || '';\n\n// الحصول على HTML من HTTP Response\nlet html = '';\nif (typeof $json === 'string') {\n  html = $json;\n} else if ($json.data && typeof $json.data === 'string') {\n  html = $json.data;\n} else {\n  html = JSON.stringify($json);\n}\n\n// تنظيف HTML\nlet text = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '');\ntext = text.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '');\ntext = text.replace(/<[^>]+>/g, ' ');\ntext = text.replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"');\ntext = text.replace(/\\s+/g, ' ').trim();\n\n// البحث عن بداية نص النظام\nconst markers = ['نـــص النظـــام', 'نص النظام', 'المادة الأولى'];\nlet startIdx = -1;\nfor (const m of markers) {\n  startIdx = text.indexOf(m);\n  if (startIdx > -1) break;\n}\nif (startIdx > -1) text = text.substring(startIdx);\n\n// إزالة الفوتر\nconst footerMarkers = ['جميع الحقوق محفوظة', 'go to top', 'Additional Links'];\nfor (const m of footerMarkers) {\n  const idx = text.indexOf(m);\n  if (idx > -1) text = text.substring(0, idx);\n}\ntext = text.trim();\n\nif (text.length < 100) {\n  return [{ json: { error: `النص قصير جداً: ${lawName}`, length: text.length } }];\n}\n\n// تقسيم النص\nlet start = 0, chunkIdx = 0;\nwhile (start < text.length) {\n  const end = Math.min(start + chunkSize, text.length);\n  const chunk = text.substring(start, end).trim();\n  if (chunk.length > 50) {\n    results.push({\n      json: {\n        chunk_id: `boe_${category}_c${chunkIdx}`,\n        chunk_text: chunk,\n        law_name: lawName,\n        law_id: lawId,\n        source: source,\n        category: category,\n        chunk_index: chunkIdx,\n        total_text_length: text.length\n      }\n    });\n    chunkIdx++;\n  }\n  if (end >= text.length) break;\n  start += chunkSize - overlap;\n}\n\nreturn results;"},"id":"a1000001-0001-4001-8001-000000000006","name":"✂️ استخراج وتقسيم النص","type":"n8n-nodes-base.code","typeVersion":2,"position":[980,-180]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'nomic-embed-text', prompt: $json.chunk_text }) }}","options":{"timeout":120000}},"id":"a1000001-0001-4001-8001-000000000007","name":"🧠 Ollama Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,-180]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// دمج بيانات Embedding مع بيانات القطعة\nconst embedding = $json.embedding;\nconst prev = $('✂️ استخراج وتقسيم النص').item.json;\n\nreturn {\n  ids: [prev.chunk_id],\n  embeddings: [embedding],\n  documents: [prev.chunk_text],\n  metadatas: [{\n    law_name: prev.law_name,\n    law_id: prev.law_id,\n    source: prev.source,\n    category: prev.category,\n    chunk_index: prev.chunk_index,\n    ingested_at: new Date().toISOString()\n  }],\n  chunk_id: prev.chunk_id,\n  law_name: prev.law_name\n};"},"id":"a1000001-0001-4001-8001-000000000008","name":"🔗 تحضير بيانات ChromaDB","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,-180]},{"parameters":{"method":"POST","url":"http://chromadb:8000/api/v1/collections/8c394725-8a25-4c26-a0d3-4711f554aab8/upsert","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ ids: $json.ids, embeddings: $json.embeddings, documents: $json.documents, metadatas: $json.metadatas }) }}","options":{"timeout":30000}},"id":"a1000001-0001-4001-8001-000000000009","name":"💾 حفظ في ChromaDB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,-180]},{"parameters":{"jsCode":"// تقرير نهائي\nconst items = $input.all();\nconst successCount = items.filter(i => !i.json.error).length;\nconst errorCount = items.filter(i => i.json.error).length;\n\nreturn [{\n  json: {\n    total_chunks_saved: successCount,\n    errors: errorCount,\n    message: `✅ تم حفظ ${successCount} قطعة في ChromaDB بنجاح`,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"a1000001-0001-4001-8001-000000000010","name":"📊 تقرير نهائي","type":"n8n-nodes-base.code","typeVersion":2,"position":[1860,-180]}],"connections":{"⏰ جدولة أسبوعية":{"main":[[{"node":"📋 قائمة القوانين","type":"main","index":0}]]},"▶️ تشغيل يدوي":{"main":[[{"node":"📋 قائمة القوانين","type":"main","index":0}]]},"📋 قائمة القوانين":{"main":[[{"node":"🔄 معالجة واحد تلو الآخر","type":"main","index":0}]]},"🔄 معالجة واحد تلو الآخر":{"main":[[{"node":"📊 تقرير نهائي","type":"main","index":0}],[{"node":"🌐 سحب صفحة القانون","type":"main","index":0}]]},"🌐 سحب صفحة القانون":{"main":[[{"node":"✂️ استخراج وتقسيم النص","type":"main","index":0}]]},"✂️ استخراج وتقسيم النص":{"main":[[{"node":"🧠 Ollama Embedding","type":"main","index":0}]]},"🧠 Ollama Embedding":{"main":[[{"node":"🔗 تحضير بيانات ChromaDB","type":"main","index":0}]]},"🔗 تحضير بيانات ChromaDB":{"main":[[{"node":"💾 حفظ في ChromaDB","type":"main","index":0}]]},"💾 حفظ في ChromaDB":{"main":[[{"node":"🔄 معالجة واحد تلو الآخر","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:⏰ جدولة أسبوعية":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"ac5ac540-e3bf-44b8-9c2e-3ac643c0b638","activeVersionId":"ac5ac540-e3bf-44b8-9c2e-3ac643c0b638","versionCounter":11,"triggerCount":1,"shared":[{"updatedAt":"2026-03-27T19:51:22.931Z","createdAt":"2026-03-27T19:51:22.931Z","role":"workflow:owner","workflowId":"HuuRe6ooTrbh5rJF","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-27T20:15:17.987Z","createdAt":"2026-03-27T20:15:17.987Z","versionId":"ac5ac540-e3bf-44b8-9c2e-3ac643c0b638","workflowId":"HuuRe6ooTrbh5rJF","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","weekInterval":1,"triggerAtDay":[4],"triggerAtHour":23}]}},"id":"a1000001-0001-4001-8001-000000000001","name":"⏰ جدولة أسبوعية","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,-80]},{"parameters":{},"id":"a1000001-0001-4001-8001-000000000002","name":"▶️ تشغيل يدوي","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[60,-280]},{"parameters":{"jsCode":"// قائمة الأنظمة السعودية المهمة من هيئة الخبراء\nconst laws = [\n  { law_id: '08381293-6388-48e2-8ad2-a9a700f2aa94', law_name: 'نظام العمل', category: 'labor_law' },\n  { law_id: '25df73d6-0f49-4dc5-b010-a9a700f2ec1d', law_name: 'نظام مكافحة جرائم المعلوماتية', category: 'cyber_crimes' },\n  { law_id: '6f509360-2c39-4358-ae2a-a9a700f2ed16', law_name: 'نظام التعاملات الإلكترونية', category: 'ecommerce' },\n  { law_id: 'c2c05ee1-201a-48de-91e7-a9a700f2d14f', law_name: 'نظام المنافسات والمشتريات الحكومية', category: 'procurement' },\n  { law_id: '23576008-1ce4-4685-ac3e-a9a700f2cb02', law_name: 'نظام ضريبة الدخل', category: 'tax' },\n  { law_id: 'ae610645-e094-48ef-814e-aeb4009d244f', law_name: 'نظام الاتصالات وتقنية المعلومات', category: 'telecom' },\n  { law_id: 'eda86cc3-3a00-4b90-900d-b1d000c8a863', law_name: 'نظام الاستثمار', category: 'investment' },\n  { law_id: '85364e57-c01e-41ba-8def-a9a700f183e9', law_name: 'نظام المرور', category: 'traffic' },\n  { law_id: '98ee4b51-d398-4323-ae69-b2b8009f3156', law_name: 'نظام السجل التجاري', category: 'commercial_registry' },\n  { law_id: '93e87aa7-f344-4711-b97c-a9a700f1662b', law_name: 'نظام مجلس الوزراء', category: 'government' },\n  { law_id: 'b5cf540a-e6ac-426a-b348-a9a700f163de', law_name: 'نظام مجلس الشورى', category: 'government' },\n  { law_id: '93f81644-fbbc-49ca-b33c-a9a700f16701', law_name: 'نظام المناطق', category: 'regions' }\n];\n\nreturn laws.map(law => ({\n  json: {\n    ...law,\n    url: `https://laws.boe.gov.sa/BoeLaws/Laws/LawDetails/${law.law_id}/1`,\n    source: 'laws.boe.gov.sa'\n  }\n}));"},"id":"a1000001-0001-4001-8001-000000000003","name":"📋 قائمة القوانين","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-180]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"a1000001-0001-4001-8001-000000000004","name":"🔄 معالجة واحد تلو الآخر","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[540,-180]},{"parameters":{"url":"={{ $json.url }}","options":{"timeout":60000,"response":{"response":{"responseFormat":"text"}},"allowUnauthorizedCerts":true}},"id":"a1000001-0001-4001-8001-000000000005","name":"🌐 سحب صفحة القانون","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,-180]},{"parameters":{"jsCode":"// استخراج نص القانون من HTML وتقسيمه إلى أجزاء\nconst chunkSize = 800;\nconst overlap = 100;\nconst results = [];\n\n// الحصول على بيانات القانون من SplitInBatches\nconst batchNode = $('🔄 معالجة واحد تلو الآخر');\nconst meta = batchNode.item.json;\nconst lawName = meta.law_name || 'unknown';\nconst lawId = meta.law_id || 'unknown';\nconst source = meta.source || 'boe.gov.sa';\nconst category = meta.category || '';\n\n// الحصول على HTML من HTTP Response\nlet html = '';\nif (typeof $json === 'string') {\n  html = $json;\n} else if ($json.data && typeof $json.data === 'string') {\n  html = $json.data;\n} else {\n  html = JSON.stringify($json);\n}\n\n// تنظيف HTML\nlet text = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '');\ntext = text.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '');\ntext = text.replace(/<[^>]+>/g, ' ');\ntext = text.replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"');\ntext = text.replace(/\\s+/g, ' ').trim();\n\n// البحث عن بداية نص النظام\nconst markers = ['نـــص النظـــام', 'نص النظام', 'المادة الأولى'];\nlet startIdx = -1;\nfor (const m of markers) {\n  startIdx = text.indexOf(m);\n  if (startIdx > -1) break;\n}\nif (startIdx > -1) text = text.substring(startIdx);\n\n// إزالة الفوتر\nconst footerMarkers = ['جميع الحقوق محفوظة', 'go to top', 'Additional Links'];\nfor (const m of footerMarkers) {\n  const idx = text.indexOf(m);\n  if (idx > -1) text = text.substring(0, idx);\n}\ntext = text.trim();\n\nif (text.length < 100) {\n  return [{ json: { error: `النص قصير جداً: ${lawName}`, length: text.length } }];\n}\n\n// تقسيم النص\nlet start = 0, chunkIdx = 0;\nwhile (start < text.length) {\n  const end = Math.min(start + chunkSize, text.length);\n  const chunk = text.substring(start, end).trim();\n  if (chunk.length > 50) {\n    results.push({\n      json: {\n        chunk_id: `boe_${category}_c${chunkIdx}`,\n        chunk_text: chunk,\n        law_name: lawName,\n        law_id: lawId,\n        source: source,\n        category: category,\n        chunk_index: chunkIdx,\n        total_text_length: text.length\n      }\n    });\n    chunkIdx++;\n  }\n  if (end >= text.length) break;\n  start += chunkSize - overlap;\n}\n\nreturn results;"},"id":"a1000001-0001-4001-8001-000000000006","name":"✂️ استخراج وتقسيم النص","type":"n8n-nodes-base.code","typeVersion":2,"position":[980,-180]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'nomic-embed-text', prompt: $json.chunk_text }) }}","options":{"timeout":120000}},"id":"a1000001-0001-4001-8001-000000000007","name":"🧠 Ollama Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,-180]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// دمج بيانات Embedding مع بيانات القطعة\nconst embedding = $json.embedding;\nconst prev = $('✂️ استخراج وتقسيم النص').item.json;\n\nreturn {\n  ids: [prev.chunk_id],\n  embeddings: [embedding],\n  documents: [prev.chunk_text],\n  metadatas: [{\n    law_name: prev.law_name,\n    law_id: prev.law_id,\n    source: prev.source,\n    category: prev.category,\n    chunk_index: prev.chunk_index,\n    ingested_at: new Date().toISOString()\n  }],\n  chunk_id: prev.chunk_id,\n  law_name: prev.law_name\n};"},"id":"a1000001-0001-4001-8001-000000000008","name":"🔗 تحضير بيانات ChromaDB","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,-180]},{"parameters":{"method":"POST","url":"http://chromadb:8000/api/v1/collections/8c394725-8a25-4c26-a0d3-4711f554aab8/upsert","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ ids: $json.ids, embeddings: $json.embeddings, documents: $json.documents, metadatas: $json.metadatas }) }}","options":{"timeout":30000}},"id":"a1000001-0001-4001-8001-000000000009","name":"💾 حفظ في ChromaDB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,-180]},{"parameters":{"jsCode":"// تقرير نهائي\nconst items = $input.all();\nconst successCount = items.filter(i => !i.json.error).length;\nconst errorCount = items.filter(i => i.json.error).length;\n\nreturn [{\n  json: {\n    total_chunks_saved: successCount,\n    errors: errorCount,\n    message: `✅ تم حفظ ${successCount} قطعة في ChromaDB بنجاح`,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"a1000001-0001-4001-8001-000000000010","name":"📊 تقرير نهائي","type":"n8n-nodes-base.code","typeVersion":2,"position":[1860,-180]}],"connections":{"⏰ جدولة أسبوعية":{"main":[[{"node":"📋 قائمة القوانين","type":"main","index":0}]]},"▶️ تشغيل يدوي":{"main":[[{"node":"📋 قائمة القوانين","type":"main","index":0}]]},"📋 قائمة القوانين":{"main":[[{"node":"🔄 معالجة واحد تلو الآخر","type":"main","index":0}]]},"🔄 معالجة واحد تلو الآخر":{"main":[[{"node":"📊 تقرير نهائي","type":"main","index":0}],[{"node":"🌐 سحب صفحة القانون","type":"main","index":0}]]},"🌐 سحب صفحة القانون":{"main":[[{"node":"✂️ استخراج وتقسيم النص","type":"main","index":0}]]},"✂️ استخراج وتقسيم النص":{"main":[[{"node":"🧠 Ollama Embedding","type":"main","index":0}]]},"🧠 Ollama Embedding":{"main":[[{"node":"🔗 تحضير بيانات ChromaDB","type":"main","index":0}]]},"🔗 تحضير بيانات ChromaDB":{"main":[[{"node":"💾 حفظ في ChromaDB","type":"main","index":0}]]},"💾 حفظ في ChromaDB":{"main":[[{"node":"🔄 معالجة واحد تلو الآخر","type":"main","index":0}]]}},"authors":"saleh almajnouni","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-27T20:15:18.030Z","id":5,"workflowId":"HuuRe6ooTrbh5rJF","versionId":"ac5ac540-e3bf-44b8-9c2e-3ac643c0b638","event":"deactivated","userId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"},{"createdAt":"2026-03-27T20:15:18.060Z","id":6,"workflowId":"HuuRe6ooTrbh5rJF","versionId":"ac5ac540-e3bf-44b8-9c2e-3ac643c0b638","event":"activated","userId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"},{"createdAt":"2026-03-27T20:24:49.055Z","id":7,"workflowId":"HuuRe6ooTrbh5rJF","versionId":"ac5ac540-e3bf-44b8-9c2e-3ac643c0b638","event":"deactivated","userId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"},{"createdAt":"2026-03-27T20:24:49.078Z","id":8,"workflowId":"HuuRe6ooTrbh5rJF","versionId":"ac5ac540-e3bf-44b8-9c2e-3ac643c0b638","event":"activated","userId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}]}}