n8n/workflows/advisory_council.json
{
  "id": "CwCounclMain001",
  "name": "المجلس الاستشاري — Advisory Council",
  "nodes": [

    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 7 * * 0" }]
        }
      },
      "id": "ac-0001",
      "name": "⏰ جلسة أسبوعية (الأحد 7 صباحاً)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [60, 300]
    },

    {
      "parameters": {},
      "id": "ac-0002",
      "name": "▶️ تشغيل يدوي",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [60, 120]
    },

    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "ac-0003",
      "name": "📨 طلب من تيليجرام (صالح يطلب دراسة)",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [60, 480],
      "credentials": {
        "telegramApi": { "id": "telegram_bot_cred", "name": "SaleH Telegram Bot" }
      }
    },

    {
      "parameters": {
        "jsCode": "// =========================================\n// تحديد مصدر الطلب وإعداد الموضوع\n// =========================================\n\nconst inputData = $input.item.json;\n\n// إذا جاء من تيليجرام — نسحب نص رسالة صالح\nconst telegramText = inputData?.message?.text || inputData?.text || null;\n\n// إذا جاء من جدولة أو يدوي — موضوع افتراضي\nconst defaultTopic = 'مراجعة أسبوعية: تقييم حالة النظام وفرص التحسين وأي أولويات تشغيلية مستجدة';\n\nconst topic = telegramText && !telegramText.startsWith('/') ? telegramText : defaultTopic;\n\nconst isScheduled = !telegramText;\nconst sessionId = `COUNCIL-${Date.now()}`;\nconst sessionDate = new Date().toLocaleDateString('ar-SA', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',\n  timeZone: 'Asia/Riyadh'\n});\n\nreturn [{ json: { topic, sessionId, sessionDate, isScheduled, requestedBy: telegramText ? 'صالح (تيليجرام)' : 'جدولة تلقائية' } }];"
      },
      "id": "ac-0004",
      "name": "🎯 تحديد الموضوع ومصدر الطلب",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },

    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $vars.SALEH_TELEGRAM_CHAT_ID }}",
        "text": "={{ '🏛️ *المجلس الاستشاري — انعقدت الجلسة*\\n\\n📋 *الموضوع:*\\n' + $json.topic + '\\n\\n⏳ يعمل الوكلاء على الدراسة... سيصلك الرأي الموحد قريباً.' }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "ac-0005",
      "name": "📣 إشعار: بدأت الجلسة",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [540, 300],
      "credentials": {
        "telegramApi": { "id": "telegram_bot_cred", "name": "SaleH Telegram Bot" }
      }
    },

    {
      "parameters": {
        "method": "POST",
        "url": "http://open_webui:8080/api/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $vars.WEBUI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أنت وكيل الامتثال القانوني في مجلس استشاري. تخصصك: أنظمة العمل السعودية، نظام حماية البيانات (PDPL)، ضوابط الأمن السيبراني (NCA)، ونظام الشركات. مهمتك: للموضوع المطروح، قدّم رأيك من المنظور القانوني والتنظيمي فقط. اجعل رأيك موجزاً (3 نقاط). ابدأ بـ: ⚖️ *وكيل القانون والامتثال:*' }, { role: 'user', content: 'الموضوع: ' + $('🎯 تحديد الموضوع ومصدر الطلب').item.json.topic }], stream: false, max_tokens: 400 }) }}",
        "options": { "timeout": 90000 }
      },
      "id": "ac-0006",
      "name": "⚖️ وكيل القانون والامتثال",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 60]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "http://open_webui:8080/api/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $vars.WEBUI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أنت وكيل الذكاء المالي والأعمال في مجلس استشاري. تخصصك: الجدوى الاقتصادية، الأولويات المالية، العائد على الاستثمار، وكفاءة التشغيل. مهمتك: للموضوع المطروح، قدّم رأيك من المنظور المالي وقيمة الأعمال فقط. اجعل رأيك موجزاً (3 نقاط). ابدأ بـ: 💰 *وكيل المال والأعمال:*' }, { role: 'user', content: 'الموضوع: ' + $('🎯 تحديد الموضوع ومصدر الطلب').item.json.topic }], stream: false, max_tokens: 400 }) }}",
        "options": { "timeout": 90000 }
      },
      "id": "ac-0007",
      "name": "💰 وكيل المال والأعمال",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 220]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "http://open_webui:8080/api/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $vars.WEBUI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أنت وكيل الأمن السيبراني في مجلس استشاري. تخصصك: ضوابط NCA، حماية البيانات، المخاطر التقنية الأمنية، وسلامة التنفيذ. مهمتك: للموضوع المطروح، قدّم رأيك من منظور الأمن والمخاطر فقط. اجعل رأيك موجزاً (3 نقاط). ابدأ بـ: 🛡️ *وكيل الأمن السيبراني:*' }, { role: 'user', content: 'الموضوع: ' + $('🎯 تحديد الموضوع ومصدر الطلب').item.json.topic }], stream: false, max_tokens: 400 }) }}",
        "options": { "timeout": 90000 }
      },
      "id": "ac-0008",
      "name": "🛡️ وكيل الأمن السيبراني",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 380]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "http://open_webui:8080/api/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $vars.WEBUI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أنت وكيل التطوير التقني في مجلس استشاري. تخصصك: جاهزية النظام التقني، قابلية التنفيذ، التبعيات التقنية، وجودة الكود والبنية. مهمتك: للموضوع المطروح، قدّم رأيك من المنظور التقني وقابلية التنفيذ فقط. اجعل رأيك موجزاً (3 نقاط). ابدأ بـ: ⚙️ *وكيل التطوير التقني:*' }, { role: 'user', content: 'الموضوع: ' + $('🎯 تحديد الموضوع ومصدر الطلب').item.json.topic }], stream: false, max_tokens: 400 }) }}",
        "options": { "timeout": 90000 }
      },
      "id": "ac-0009",
      "name": "⚙️ وكيل التطوير التقني",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 540]
    },

    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "ac-0010",
      "name": "🔀 تجميع آراء الوكلاء",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1060, 300]
    },

    {
      "parameters": {
        "jsCode": "// =========================================\n// تجميع آراء الوكلاء الأربعة واستخلاصها\n// =========================================\n\nconst allInputs = $input.all();\n\nconst extractContent = (item) => {\n  try {\n    return item.json?.choices?.[0]?.message?.content ||\n           item.json?.message?.content ||\n           item.json?.response ||\n           '(لم يتوفر رأي)';\n  } catch { return '(خطأ في استخراج الرأي)'; }\n};\n\nconst opinions = allInputs.map(extractContent);\n\n// بناء النص الكامل لجلسة المجلس\nconst councilSession = opinions.join('\\n\\n---\\n\\n');\n\n// إعداد بيانات الجلسة للمنسق\nconst topicData = $('🎯 تحديد الموضوع ومصدر الطلب').item.json;\n\nreturn [{\n  json: {\n    topic: topicData.topic,\n    sessionId: topicData.sessionId,\n    sessionDate: topicData.sessionDate,\n    requestedBy: topicData.requestedBy,\n    councilSession,\n    opinions_count: opinions.length\n  }\n}];"
      },
      "id": "ac-0011",
      "name": "📊 تجميع نص الجلسة",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "http://open_webui:8080/api/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $vars.WEBUI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أنت رئيس المجلس الاستشاري ومنسقه. مهمتك: بعد الاستماع لآراء الوكلاء الأربعة، تُصدر قراراً موحداً بهذا الهيكل الصارم:\n\n🏛️ *قرار المجلس الاستشاري*\n\n*الموضوع:* [اذكر الموضوع]\n\n*الرأي الموحد:* [حكم واحد واضح]\n\n*أبرز نقاط الاتفاق:*\n- نقطة 1\n- نقطة 2\n\n*أبرز نقاط الخلاف أو الحذر:*\n- نقطة 1\n\n*التوصية للتنفيذ:*\n[جملة واحدة: ما الذي يُنصح بفعله]\n\n*مستوى الثقة في التوصية:* [عالٍ / متوسط / يحتاج مزيد بحث]\n\nكن موجزاً وحازماً. لا تكرر آراء الوكلاء بالتفصيل.' }, { role: 'user', content: 'الموضوع: ' + $json.topic + '\\n\\nآراء الوكلاء:\\n' + $json.councilSession }], stream: false, max_tokens: 600 }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "ac-0012",
      "name": "🏛️ رئيس المجلس — القرار الموحد",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300]
    },

    {
      "parameters": {
        "jsCode": "// استخراج القرار النهائي من رئيس المجلس\nconst chairDecision = $json?.choices?.[0]?.message?.content ||\n                      $json?.message?.content ||\n                      $json?.response ||\n                      '(تعذر استخراج القرار)';\n\nconst sessionData = $('📊 تجميع نص الجلسة').item.json;\n\n// بناء رسالة تيليجرام النهائية\nconst telegramMessage = [\n  `🏛️ *المجلس الاستشاري — قرار الجلسة*`,\n  ``,\n  `📅 ${sessionData.sessionDate}`,\n  `🔖 ${sessionData.sessionId}`,\n  `📥 طلب من: ${sessionData.requestedBy}`,\n  ``,\n  `📋 *الموضوع:*`,\n  sessionData.topic,\n  ``,\n  `─────────────────────`,\n  ``,\n  chairDecision,\n  ``,\n  `─────────────────────`,\n  ``,\n  `هل تعتمد توصية المجلس؟`\n].join('\\n');\n\nreturn [{\n  json: {\n    telegramMessage,\n    chairDecision,\n    sessionId: sessionData.sessionId,\n    topic: sessionData.topic\n  }\n}];"
      },
      "id": "ac-0013",
      "name": "📝 صياغة القرار النهائي",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },

    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $vars.SALEH_TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": {
            "inline_keyboard": [[
              { "text": "✅ اعتمد التوصية", "callback_data": "={{ 'COUNCIL_APPROVE::' + $json.sessionId }}" },
              { "text": "🔄 أعد الدراسة", "callback_data": "={{ 'COUNCIL_RESTUDY::' + $json.sessionId }}" },
              { "text": "❌ رفض", "callback_data": "={{ 'COUNCIL_REJECT::' + $json.sessionId }}" }
            ]]
          }
        }
      },
      "id": "ac-0014",
      "name": "📤 إرسال قرار المجلس لصالح",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2020, 300],
      "credentials": {
        "telegramApi": { "id": "telegram_bot_cred", "name": "SaleH Telegram Bot" }
      }
    },

    {
      "parameters": {
        "jsCode": "// حفظ محضر الجلسة في logs/\nconst fs = require('fs');\nconst path = require('path');\n\nconst sessionData = $('📊 تجميع نص الجلسة').item.json;\nconst chairDecision = $('📝 صياغة القرار النهائي').item.json.chairDecision;\n\nconst record = {\n  sessionId: sessionData.sessionId,\n  sessionDate: sessionData.sessionDate,\n  topic: sessionData.topic,\n  requestedBy: sessionData.requestedBy,\n  councilOpinions: sessionData.councilSession,\n  chairDecision,\n  recordedAt: new Date().toISOString()\n};\n\n// محاولة الحفظ (يعمل فقط إذا كان /app/logs موجوداً داخل الحاوية)\ntry {\n  const logPath = '/app/logs/advisory_council_sessions.jsonl';\n  fs.appendFileSync(logPath, JSON.stringify(record, null, 0) + '\\n', 'utf8');\n} catch(e) {\n  console.log('تنبيه: تعذر حفظ المحضر في logs/ — ' + e.message);\n}\n\nreturn [{ json: { status: 'logged', sessionId: sessionData.sessionId } }];"
      },
      "id": "ac-0015",
      "name": "💾 حفظ محضر الجلسة",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 520]
    }
  ],

  "connections": {
    "⏰ جلسة أسبوعية (الأحد 7 صباحاً)": {
      "main": [[{ "node": "🎯 تحديد الموضوع ومصدر الطلب", "type": "main", "index": 0 }]]
    },
    "▶️ تشغيل يدوي": {
      "main": [[{ "node": "🎯 تحديد الموضوع ومصدر الطلب", "type": "main", "index": 0 }]]
    },
    "📨 طلب من تيليجرام (صالح يطلب دراسة)": {
      "main": [[{ "node": "🎯 تحديد الموضوع ومصدر الطلب", "type": "main", "index": 0 }]]
    },
    "🎯 تحديد الموضوع ومصدر الطلب": {
      "main": [[{ "node": "📣 إشعار: بدأت الجلسة", "type": "main", "index": 0 }]]
    },
    "📣 إشعار: بدأت الجلسة": {
      "main": [[
        { "node": "⚖️ وكيل القانون والامتثال", "type": "main", "index": 0 },
        { "node": "💰 وكيل المال والأعمال", "type": "main", "index": 0 },
        { "node": "🛡️ وكيل الأمن السيبراني", "type": "main", "index": 0 },
        { "node": "⚙️ وكيل التطوير التقني", "type": "main", "index": 0 }
      ]]
    },
    "⚖️ وكيل القانون والامتثال": {
      "main": [[{ "node": "🔀 تجميع آراء الوكلاء", "type": "main", "index": 0 }]]
    },
    "💰 وكيل المال والأعمال": {
      "main": [[{ "node": "🔀 تجميع آراء الوكلاء", "type": "main", "index": 1 }]]
    },
    "🛡️ وكيل الأمن السيبراني": {
      "main": [[{ "node": "🔀 تجميع آراء الوكلاء", "type": "main", "index": 2 }]]
    },
    "⚙️ وكيل التطوير التقني": {
      "main": [[{ "node": "🔀 تجميع آراء الوكلاء", "type": "main", "index": 3 }]]
    },
    "🔀 تجميع آراء الوكلاء": {
      "main": [[{ "node": "📊 تجميع نص الجلسة", "type": "main", "index": 0 }]]
    },
    "📊 تجميع نص الجلسة": {
      "main": [[{ "node": "🏛️ رئيس المجلس — القرار الموحد", "type": "main", "index": 0 }]]
    },
    "🏛️ رئيس المجلس — القرار الموحد": {
      "main": [[{ "node": "📝 صياغة القرار النهائي", "type": "main", "index": 0 }]]
    },
    "📝 صياغة القرار النهائي": {
      "main": [[
        { "node": "📤 إرسال قرار المجلس لصالح", "type": "main", "index": 0 },
        { "node": "💾 حفظ محضر الجلسة", "type": "main", "index": 0 }
      ]]
    }
  },

  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [],
  "meta": { "instanceId": "salehsaas" }
}
