n8n/workflows/advisory_council_telegram_decisions.json
{
  "id": "CwCounclTele001",
  "name": "Advisory Council Telegram Decisions - قرارات تيليجرام",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "council-callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ct-0001",
      "name": "📩 Telegram Callback Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [120, 260],
      "webhookId": "council-callback"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json || {};\nconst callback = body.callback_query || {};\nconst callbackData = callback.data || '';\nconst callbackQueryId = callback.id || '';\n\nif (!callbackData.startsWith('COUNCIL_')) {\n  return [{ json: { skip: true } }];\n}\n\nconst [rawDecision, sessionId] = callbackData.split('::');\nconst chatId = String(callback?.message?.chat?.id || '');\nconst allowedChatId = String($vars.SALEH_TELEGRAM_CHAT_ID || '');\n\nif (!allowedChatId || chatId !== allowedChatId) {\n  return [{ json: { chatId, callbackQueryId, message: '⛔ غير مصرح' } }];\n}\n\nconst map = {\n  COUNCIL_APPROVE: { status: 'approved', label: '✅ تم اعتماد التوصية' },\n  COUNCIL_REJECT: { status: 'rejected', label: '❌ تم رفض التوصية' },\n  COUNCIL_RESTUDY: { status: 'restudy', label: '🔄 إعادة دراسة' },\n};\n\nconst decisionInfo = map[rawDecision] || { status: 'unknown', label: 'قرار غير معروف' };\n\nreturn [{\n  json: {\n    chatId,\n    callbackQueryId,\n    message: decisionInfo.label + '\\n\\n🔖 الجلسة: ' + (sessionId || '') + '\\n🕒 ' + new Date().toISOString()\n  }\n}];"
      },
      "id": "ct-0002",
      "name": "🧠 تحليل callback وتحديث السجل",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $vars.TELEGRAM_BOT_TOKEN + '/answerCallbackQuery' }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $json.callbackQueryId, text: $json.message }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "ct-0003",
      "name": "📤 إيقاف التحميل answerCallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $vars.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('🧠 تحليل callback وتحديث السجل').item.json.chatId, text: $('🧠 تحليل callback وتحديث السجل').item.json.message }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "ct-0004",
      "name": "📤 إشعار نتيجة القرار",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{}"
      },
      "id": "ct-0005",
      "name": "↩️ رد Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1020, 260]
    }
  ],
  "connections": {
    "📩 Telegram Callback Webhook": {
      "main": [
        [
          {
            "node": "🧠 تحليل callback وتحديث السجل",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 تحليل callback وتحديث السجل": {
      "main": [
        [
          {
            "node": "📤 إيقاف التحميل answerCallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 إيقاف التحميل answerCallback": {
      "main": [
        [
          {
            "node": "📤 إشعار نتيجة القرار",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 إشعار نتيجة القرار": {
      "main": [
        [
          {
            "node": "↩️ رد Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [],
  "meta": {
    "instanceId": "salehsaas"
  }
}
