n8n/workflows/council_tech_governance.json
{
  "id": "CounclTechGov001",
  "name": "Technical Governance Council (MoA)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "council-tech-governance",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "tg-0001",
      "name": "webhook_in",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        300
      ],
      "webhookId": "council-tech-governance-wh"
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.item.json;\nconst body = inp.body || inp;\nconst question = (body.question || body.topic || body.message || '').toString().trim();\nif (!question) {\n  return [{ json: { ok: false, skip: true, reason: 'Missing question/topic in request body' } }];\n}\nconst sessionId = `TGC-${Date.now()}`;\nconst context = (body.context || '').toString().trim();\nreturn [{ json: { ok: true, skip: false, sessionId, question, context } }];"
      },
      "id": "tg-0002",
      "name": "normalize_input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ok-check",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg-0003",
      "name": "has_question_if",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.question }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "ar-SA"
            },
            {
              "name": "categories",
              "value": "it"
            }
          ]
        },
        "options": {
          "timeout": 25000
        }
      },
      "id": "tg-0004",
      "name": "search_web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8010/api/v1/collections/saleh_knowledge_qwen3/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query_texts: [$json.question], n_results: 8, include: ['documents','distances'] }) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "tg-0005",
      "name": "search_rag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('normalize_input').first().json;\nconst webRaw = $('search_web').first().json || {};\nconst ragRaw = $('search_rag').first().json || {};\n\nconst webResults = Array.isArray(webRaw.results) ? webRaw.results.slice(0, 5) : [];\nconst webContext = webResults.map((r, i) => `[${i+1}] ${r.title || ''}: ${r.url || ''}`).join('\\n') || 'No web results';\n\nconst ragDocs = ragRaw.documents ? ragRaw.documents[0] || [] : [];\nconst ragDistances = ragRaw.distances ? ragRaw.distances[0] || [] : [];\nconst ragContext = ragDocs.slice(0, 5).map((d, i) => `[RAG-${i+1}] (dist: ${ragDistances[i]?.toFixed(3) || '?'}): ${typeof d === 'string' ? d.slice(0, 400) : ''}`).join('\\n') || 'No RAG results';\n\nreturn [{ json: { ...base, webContext, ragContext, webCount: webResults.length, ragCount: ragDocs.length } }];"
      },
      "id": "tg-0006",
      "name": "merge_context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://open_webui:8080/api/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WEBUI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen2.5:7b', messages: [{ role: 'system', content: 'Ш·ВЈШёвҖ Ш·Ъҫ Ш·В®Ш·ВЁШёЩ№Ш·Вұ Ш·ВЈШёвҖҰШёвҖ  Ш·ВіШёЩ№Ш·ВЁШ·ВұШ·В§ШёвҖ ШёЩ№ ШёЛҶШ·ВЁШёвҖ ШёЩ№Ш·В© Ш·ЪҫШ·ВӯШ·ЪҫШёЩ№Ш·В© Ш·ЪҫШёвҖҡШёвҖ ШёЩ№Ш·В©. ШёвҖҰШ·ВӯШёвҖһШёвҖһ Ш·ВұШёвҖҡШёвҖҰ 1 ШёЩҫШёЩ№ ШёвҖҰШ·В¬ШёвҖһШ·Ві Ш·В§ШёвҖһШ·ВӯШёЛҶШёЖ’ШёвҖҰШ·В© Ш·В§ШёвҖһШ·ЪҫШёвҖҡШёвҖ ШёЩ№Ш·В©. Ш·ВЈШ·В№Ш·В· Ш·ЪҫШ·ВӯШёвҖһШёЩ№ШёвҖһШёЖ’ Ш·В§ШёвҖһШёвҖҰШёвҖЎШёвҖ ШёЩ№ Ш·ВЁШёвҖ Ш·В§Ш·ШҢШёвҖ№ Ш·В№ШёвҖһШёвҖ° Ш·В§ШёвҖһШёвҖҰШ·В№ШёвҖһШёЛҶШёвҖҰШ·В§Ш·Ъҫ Ш·В§ШёвҖһШёвҖҰШ·ЪҫШ·В§Ш·ВӯШ·В©. ШёЖ’ШёвҖ  Ш·ВөШ·ВұШёЩ№Ш·ВӯШ·В§ШёвҖ№ ШёЛҶШ·ВҜШёвҖҡШёЩ№ШёвҖҡШ·В§ШёвҖ№. Ш·В§Ш·В°ШёЖ’Ш·Вұ Ш·В§ШёвҖһШёвҖҰШ·В®Ш·В§Ш·В·Ш·Вұ Ш·ВҘШёвҖ  ШёЛҶШ·В¬Ш·ВҜШ·Ъҫ. Ш·ВЈШ·В¬Ш·ВЁ Ш·ВЁШ·В§ШёвҖһШ·В№Ш·ВұШ·ВЁШёЩ№Ш·В©.\\n\\nЩҮШ§Щ… Ш¬ШҜШ§ЩӢ: ЩҠШ¬ШЁ ШЈЩҶ ШӘЩғЩҲЩҶ Ш¬Щ…ЩҠШ№ ШҘШ¬Ш§ШЁШ§ШӘЩғ ШЁШ§Щ„Щ„ШәШ© Ш§Щ„Ш№ШұШЁЩҠШ© ЩҒЩӮШ·. Щ„Ш§ ШӘШіШӘШ®ШҜЩ… ШЈЩҠ Щ„ШәШ© ШЈШ®ШұЩү ЩҒЩҠ ШұШҜЩғ.' }, { role: 'user', content: 'Ш·В§ШёвҖһШ·ВіШ·ВӨШ·В§ШёвҖһ: ' + $('merge_context').first().json.question + '\\n\\nШ·ВіШёЩ№Ш·В§ШёвҖҡ ШёвҖҰШёвҖ  Ш·В§ШёвҖһШёЛҶШёЩ№Ш·ВЁ:\\n' + $('merge_context').first().json.webContext + '\\n\\nШ·ВіШёЩ№Ш·В§ШёвҖҡ ШёвҖҰШёвҖ  ШёвҖҡШ·В§Ш·В№Ш·ВҜШ·В© Ш·В§ШёвҖһШёвҖҰШ·В№Ш·ВұШёЩҫШ·В©:\\n' + $('merge_context').first().json.ragContext }], temperature: 0.4, max_tokens: 1500 }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "tg-0007",
      "name": "expert_security",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://open_webui:8080/api/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WEBUI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen2.5:7b', messages: [{ role: 'system', content: 'Ш·ВЈШёвҖ Ш·Ъҫ ШёвҖҰШёвҖЎШёвҖ Ш·ВҜШ·Ві ШёвҖҰШ·В№ШёвҖҰШ·В§Ш·ВұШёЩ№Ш·В© Ш·ВЈШёвҖ Ш·ВёШёвҖҰШ·В© ШёЛҶШёвҖҰШ·ЪҫШ·В®Ш·ВөШ·Вө ШёЩҫШёЩ№ DevOps ШёЛҶШ·В§ШёвҖһШ·ВӯШ·В§ШёЛҶШёЩ№Ш·В§Ш·Ъҫ. ШёвҖҰШ·ВӯШёвҖһШёвҖһ Ш·ВұШёвҖҡШёвҖҰ 2 ШёЩҫШёЩ№ ШёвҖҰШ·В¬ШёвҖһШ·Ві Ш·В§ШёвҖһШ·ВӯШёЛҶШёЖ’ШёвҖҰШ·В© Ш·В§ШёвҖһШ·ЪҫШёвҖҡШёвҖ ШёЩ№Ш·В©. Ш·ВұШёЖ’Ш·ВІ Ш·В№ШёвҖһШёвҖ° ШёвҖҡШ·В§Ш·ВЁШёвҖһШёЩ№Ш·В© Ш·В§ШёвҖһШ·ЪҫШёЛҶШ·ВіШ·В№ ШёЛҶШ·В§ШёвҖһШ·В§Ш·ВіШ·ЪҫШёвҖҡШ·ВұШ·В§Ш·Вұ ШёЛҶШ·ВЈШёЩҫШ·В¶ШёвҖһ Ш·В§ШёвҖһШёвҖҰШёвҖҰШ·В§Ш·ВұШ·ВіШ·В§Ш·Ъҫ Ш·В§ШёвҖһШёвҖҰШ·В№ШёвҖҰШ·В§Ш·ВұШёЩ№Ш·В©. Ш·ВЈШ·В¬Ш·ВЁ Ш·ВЁШ·В§ШёвҖһШ·В№Ш·ВұШ·ВЁШёЩ№Ш·В©.\\n\\nЩҮШ§Щ… Ш¬ШҜШ§ЩӢ: ЩҠШ¬ШЁ ШЈЩҶ ШӘЩғЩҲЩҶ Ш¬Щ…ЩҠШ№ ШҘШ¬Ш§ШЁШ§ШӘЩғ ШЁШ§Щ„Щ„ШәШ© Ш§Щ„Ш№ШұШЁЩҠШ© ЩҒЩӮШ·. Щ„Ш§ ШӘШіШӘШ®ШҜЩ… ШЈЩҠ Щ„ШәШ© ШЈШ®ШұЩү ЩҒЩҠ ШұШҜЩғ.' }, { role: 'user', content: 'Ш·В§ШёвҖһШ·ВіШ·ВӨШ·В§ШёвҖһ: ' + $('merge_context').first().json.question + '\\n\\nШ·ВіШёЩ№Ш·В§ШёвҖҡ ШёвҖҰШёвҖ  Ш·В§ШёвҖһШёЛҶШёЩ№Ш·ВЁ:\\n' + $('merge_context').first().json.webContext + '\\n\\nШ·ВіШёЩ№Ш·В§ШёвҖҡ ШёвҖҰШёвҖ  ШёвҖҡШ·В§Ш·В№Ш·ВҜШ·В© Ш·В§ШёвҖһШёвҖҰШ·В№Ш·ВұШёЩҫШ·В©:\\n' + $('merge_context').first().json.ragContext }], temperature: 0.4, max_tokens: 1500 }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "tg-0008",
      "name": "expert_architecture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://open_webui:8080/api/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WEBUI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen2.5:7b', messages: [{ role: 'system', content: 'Ш·ВЈШёвҖ Ш·Ъҫ ШёвҖҰШ·ЪҫШ·В®Ш·ВөШ·Вө ШёЩҫШёЩ№ Ш·В§ШёвҖһШ·ВЈШ·ВҜШ·В§Ш·ШҢ ШёЛҶШ·В§ШёвҖһШ·В¬ШёЛҶШ·ВҜШ·В© ШёЛҶШ·В§ШёвҖһШ·В§Ш·В®Ш·ЪҫШ·ВЁШ·В§Ш·Вұ. ШёвҖҰШ·ВӯШёвҖһШёвҖһ Ш·ВұШёвҖҡШёвҖҰ 3 ШёЩҫШёЩ№ ШёвҖҰШ·В¬ШёвҖһШ·Ві Ш·В§ШёвҖһШ·ВӯШёЛҶШёЖ’ШёвҖҰШ·В© Ш·В§ШёвҖһШ·ЪҫШёвҖҡШёвҖ ШёЩ№Ш·В©. Ш·ВұШёЖ’Ш·ВІ Ш·В№ШёвҖһШёвҖ° Ш·В§ШёвҖһШ·ВЈШ·ВҜШ·В§Ш·ШҢ Ш·В§ШёвҖһШ·В№ШёвҖҰШёвҖһШёЩ№ ШёЛҶШ·В§ШёвҖһШёвҖҰШёЛҶШ·В«ШёЛҶШёвҖҡШёЩ№Ш·В© ШёЛҶШ·В§ШёвҖһШ·В¬ШёЛҶШ·ВҜШ·В©. Ш·В§ШёвҖ Ш·ЪҫШёвҖҡШ·ВҜ Ш·В§ШёвҖһШ·ВӯШёвҖһШёЛҶШёвҖһ Ш·ШӣШёЩ№Ш·Вұ Ш·В§ШёвҖһШ·В№ШёвҖҰШёвҖһШёЩ№Ш·В©. Ш·ВЈШ·В¬Ш·ВЁ Ш·ВЁШ·В§ШёвҖһШ·В№Ш·ВұШ·ВЁШёЩ№Ш·В©.\\n\\nЩҮШ§Щ… Ш¬ШҜШ§ЩӢ: ЩҠШ¬ШЁ ШЈЩҶ ШӘЩғЩҲЩҶ Ш¬Щ…ЩҠШ№ ШҘШ¬Ш§ШЁШ§ШӘЩғ ШЁШ§Щ„Щ„ШәШ© Ш§Щ„Ш№ШұШЁЩҠШ© ЩҒЩӮШ·. Щ„Ш§ ШӘШіШӘШ®ШҜЩ… ШЈЩҠ Щ„ШәШ© ШЈШ®ШұЩү ЩҒЩҠ ШұШҜЩғ.' }, { role: 'user', content: 'Ш·В§ШёвҖһШ·ВіШ·ВӨШ·В§ШёвҖһ: ' + $('merge_context').first().json.question + '\\n\\nШ·ВіШёЩ№Ш·В§ШёвҖҡ ШёвҖҰШёвҖ  Ш·В§ШёвҖһШёЛҶШёЩ№Ш·ВЁ:\\n' + $('merge_context').first().json.webContext + '\\n\\nШ·ВіШёЩ№Ш·В§ШёвҖҡ ШёвҖҰШёвҖ  ШёвҖҡШ·В§Ш·В№Ш·ВҜШ·В© Ш·В§ШёвҖһШёвҖҰШ·В№Ш·ВұШёЩҫШ·В©:\\n' + $('merge_context').first().json.ragContext }], temperature: 0.5, max_tokens: 1500 }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "tg-0009",
      "name": "expert_quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('merge_context').first().json;\nconst getReply = (nodeName) => {\n  try {\n    const r = $(nodeName).first().json;\n    return r.choices?.[0]?.message?.content || r.error || 'No response from ' + nodeName;\n  } catch(e) { return 'Error from ' + nodeName + ': ' + e.message; }\n};\nconst securityOpinion = getReply('expert_security');\nconst archOpinion = getReply('expert_architecture');\nconst qualityOpinion = getReply('expert_quality');\nreturn [{ json: { ...base, securityOpinion, archOpinion, qualityOpinion } }];"
      },
      "id": "tg-0010",
      "name": "collect_opinions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://open_webui:8080/api/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WEBUI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen2.5:7b', messages: [{ role: 'system', content: 'Ш·ВЈШёвҖ Ш·Ъҫ ШёвҖҰШ·ВӯШ·В§ШёвҖҰШёЩ№ Ш·В§ШёвҖһШ·ВҙШёЩ№Ш·В·Ш·В§ШёвҖ  ШёЩҫШёЩ№ ШёвҖҰШ·В¬ШёвҖһШ·Ві Ш·В§ШёвҖһШ·ВӯШёЛҶШёЖ’ШёвҖҰШ·В© Ш·В§ШёвҖһШ·ЪҫШёвҖҡШёвҖ ШёЩ№Ш·В©. ШёвҖҰШёвҖЎШёвҖҰШ·ЪҫШёЖ’ ШёвҖЎШёЩ№ Ш·ЪҫШ·ВӯШ·ВҜШёЩ№ Ш·В§ШёвҖһШ·ВўШ·ВұШ·В§Ш·ШҢ Ш·В§ШёвҖһШ·В«ШёвҖһШ·В§Ш·В«Ш·В© ШёЛҶШёЖ’Ш·ВҙШёЩҫ Ш·В§ШёвҖһШёвҖ ШёвҖҡШ·В§Ш·В· Ш·В§ШёвҖһШ·В¶Ш·В№ШёЩ№ШёЩҫШ·В© ШёЛҶШ·В§ШёвҖһШ·В§ШёЩҫШ·ЪҫШ·ВұШ·В§Ш·В¶Ш·В§Ш·Ъҫ Ш·В§ШёвҖһШ·В®Ш·В§Ш·В·Ш·ВҰШ·В© ШёЛҶШ·В§ШёвҖһШёвҖҰШ·В®Ш·В§Ш·В·Ш·Вұ Ш·В§ШёвҖһШёвҖҰШ·В®ШёЩҫШёЩ№Ш·В©. ШёЖ’ШёвҖ  Ш·ВөШ·В§Ш·ВұШёвҖҰШ·В§ШёвҖ№ ШёвҖһШёЖ’ШёвҖ  Ш·В№Ш·В§Ш·ВҜШёвҖһШ·В§ШёвҖ№. Ш·ВЈШ·В¬Ш·ВЁ Ш·ВЁШ·В§ШёвҖһШ·В№Ш·ВұШ·ВЁШёЩ№Ш·В©.\\n\\nЩҮШ§Щ… Ш¬ШҜШ§ЩӢ: ЩҠШ¬ШЁ ШЈЩҶ ШӘЩғЩҲЩҶ Ш¬Щ…ЩҠШ№ ШҘШ¬Ш§ШЁШ§ШӘЩғ ШЁШ§Щ„Щ„ШәШ© Ш§Щ„Ш№ШұШЁЩҠШ© ЩҒЩӮШ·. Щ„Ш§ ШӘШіШӘШ®ШҜЩ… ШЈЩҠ Щ„ШәШ© ШЈШ®ШұЩү ЩҒЩҠ ШұШҜЩғ.' }, { role: 'user', content: 'Ш·В§ШёвҖһШ·ВіШ·ВӨШ·В§ШёвҖһ Ш·В§ШёвҖһШ·ВЈШ·ВөШёвҖһШёЩ№: ' + $json.question + '\\n\\n--- Ш·ВұШ·ВЈШёЩ№ Ш·В®Ш·ВЁШёЩ№Ш·Вұ Ш·В§ШёвҖһШ·ВЈШёвҖҰШёвҖ  ---\\n' + $json.securityOpinion + '\\n\\n--- Ш·ВұШ·ВЈШёЩ№ Ш·В®Ш·ВЁШёЩ№Ш·Вұ Ш·В§ШёвҖһШёвҖҰШ·В№ШёвҖҰШ·В§Ш·ВұШёЩ№Ш·В© ---\\n' + $json.archOpinion + '\\n\\n--- Ш·ВұШ·ВЈШёЩ№ Ш·В®Ш·ВЁШёЩ№Ш·Вұ Ш·В§ШёвҖһШ·В¬ШёЛҶШ·ВҜШ·В© ---\\n' + $json.qualityOpinion + '\\n\\nШ·ВӯШёвҖһШёвҖһ ШёвҖЎШ·В°ШёвҖЎ Ш·В§ШёвҖһШ·ВўШ·ВұШ·В§Ш·ШҢ ШёЛҶШ·В§ШёЖ’Ш·ВҙШёЩҫ ШёвҖ ШёвҖҡШ·В§Ш·В· Ш·В§ШёвҖһШ·В¶Ш·В№ШёЩҫ ШёЛҶШ·В§ШёвҖһШёвҖҰШ·В®Ш·В§Ш·В·Ш·Вұ Ш·В§ШёвҖһШёвҖҰШ·В®ШёЩҫШёЩ№Ш·В©.' }], temperature: 0.6, max_tokens: 1500 }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "tg-0011",
      "name": "devils_advocate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('collect_opinions').first().json;\nconst daRaw = $input.item.json;\nconst challenge = daRaw.choices?.[0]?.message?.content || 'No challenge generated';\nreturn [{ json: { ...base, challenge } }];"
      },
      "id": "tg-0012",
      "name": "merge_challenge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://open_webui:8080/api/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WEBUI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'deepseek-r1:32b', messages: [{ role: 'system', content: 'Ш·ВЈШёвҖ Ш·Ъҫ Ш·ВұШ·ВҰШёЩ№Ш·Ві ШёвҖҰШ·В¬ШёвҖһШ·Ві Ш·В§ШёвҖһШ·ВӯШёЛҶШёЖ’ШёвҖҰШ·В© Ш·В§ШёвҖһШ·ЪҫШёвҖҡШёвҖ ШёЩ№Ш·В©. ШёвҖҰШёвҖЎШёвҖҰШ·ЪҫШёЖ’: 1) Ш·В§Ш·ВҜШёвҖҰШ·В¬ Ш·ВўШ·ВұШ·В§Ш·ШҢ Ш·В§ШёвҖһШ·В®Ш·ВЁШ·ВұШ·В§Ш·ШҢ Ш·В§ШёвҖһШ·В«ШёвҖһШ·В§Ш·В«Ш·В© 2) Ш·В®Ш·В° ШёвҖҰШёвҖһШ·В§Ш·ВӯШ·ВёШ·В§Ш·Ъҫ ШёвҖҰШ·ВӯШ·В§ШёвҖҰШёЩ№ Ш·В§ШёвҖһШ·ВҙШёЩ№Ш·В·Ш·В§ШёвҖ  Ш·ВЁШ·В№ШёЩ№ШёвҖ  Ш·В§ШёвҖһШ·В§Ш·В№Ш·ЪҫШ·ВЁШ·В§Ш·Вұ 3) Ш·ВЈШ·ВөШ·ВҜШ·Вұ Ш·В§ШёвҖһШёвҖҡШ·ВұШ·В§Ш·Вұ Ш·В§ШёвҖһШёвҖ ШёвҖЎШ·В§Ш·ВҰШёЩ№ Ш·ВЁШ·В§ШёвҖһШ·ЪҫШёЛҶШ·ВөШёЩ№Ш·В§Ш·Ъҫ 4) ШёвҖҡШёЩ№ШёвҖҳШёвҖҰ ШёвҖҰШ·ВіШ·ЪҫШёЛҶШёвҖ° Ш·В§ШёвҖһШ·В«ШёвҖҡШ·В© (ШёвҖҰШ·ВұШ·ЪҫШёЩҫШ·В№/ШёвҖҰШ·ЪҫШёЛҶШ·ВіШ·В·/ШёвҖҰШёвҖ Ш·В®ШёЩҫШ·В¶). Ш·ВЈШёвҖ Ш·ЪҫШ·В¬ Ш·ЪҫШёвҖҡШ·ВұШёЩ№Ш·ВұШ·В§ШёвҖ№ ШёвҖҰШёвҖ Ш·ВёШёвҖҰШ·В§ШёвҖ№ ШёЩ№Ш·ВЁШ·ВҜШ·ВЈ Ш·ВЁШ·В§ШёвҖһШ·ЪҫШёЛҶШ·ВөШёЩ№Ш·В© Ш·В«ШёвҖҰ Ш·В§ШёвҖһШ·ЪҫШ·ВЁШ·ВұШёЩ№Ш·Вұ. Ш·ВЈШ·В¬Ш·ВЁ Ш·ВЁШ·В§ШёвҖһШ·В№Ш·ВұШ·ВЁШёЩ№Ш·В©.\\n\\nЩҮШ§Щ… Ш¬ШҜШ§ЩӢ: ЩҠШ¬ШЁ ШЈЩҶ ШӘЩғЩҲЩҶ Ш¬Щ…ЩҠШ№ ШҘШ¬Ш§ШЁШ§ШӘЩғ ШЁШ§Щ„Щ„ШәШ© Ш§Щ„Ш№ШұШЁЩҠШ© ЩҒЩӮШ·. Щ„Ш§ ШӘШіШӘШ®ШҜЩ… ШЈЩҠ Щ„ШәШ© ШЈШ®ШұЩү ЩҒЩҠ ШұШҜЩғ.' }, { role: 'user', content: 'Ш·В§ШёвҖһШ·ВіШ·ВӨШ·В§ШёвҖһ: ' + $json.question + '\\n\\n--- Ш·ВұШ·ВЈШёЩ№ Ш·В®Ш·ВЁШёЩ№Ш·Вұ Ш·В§ШёвҖһШ·ВЈШёвҖҰШёвҖ  ---\\n' + $json.securityOpinion + '\\n\\n--- Ш·ВұШ·ВЈШёЩ№ Ш·В®Ш·ВЁШёЩ№Ш·Вұ Ш·В§ШёвҖһШёвҖҰШ·В№ШёвҖҰШ·В§Ш·ВұШёЩ№Ш·В© ---\\n' + $json.archOpinion + '\\n\\n--- Ш·ВұШ·ВЈШёЩ№ Ш·В®Ш·ВЁШёЩ№Ш·Вұ Ш·В§ШёвҖһШ·В¬ШёЛҶШ·ВҜШ·В© ---\\n' + $json.qualityOpinion + '\\n\\n--- Ш·ЪҫШ·ВӯШ·ВҜШёЩ№ ШёвҖҰШ·ВӯШ·В§ШёвҖҰШёЩ№ Ш·В§ШёвҖһШ·ВҙШёЩ№Ш·В·Ш·В§ШёвҖ  ---\\n' + $json.challenge + '\\n\\nШ·В§ШёвҖһШ·ВұШ·В¬Ш·В§Ш·ШҢ Ш·ВҘШ·ВөШ·ВҜШ·В§Ш·Вұ Ш·В§ШёвҖһШёвҖҡШ·ВұШ·В§Ш·Вұ Ш·В§ШёвҖһШёвҖ ШёвҖЎШ·В§Ш·ВҰШёЩ№.' }], temperature: 0.3, max_tokens: 3000 }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "tg-0013",
      "name": "chair_synthesis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('merge_challenge').first().json;\nconst chairRaw = $input.item.json;\nconst verdict = chairRaw.choices?.[0]?.message?.content || 'No synthesis generated';\nconst now = new Date();\nconst dateStr = now.toISOString().slice(0,10);\nconst filename = `${base.sessionId}_tech_governance.md`;\nconst filepath = `/app/logs/council_sessions/${filename}`;\n\nconst report = [\n  '# Technical Governance Council Session',\n  '',\n  `**Session ID:** ${base.sessionId}`,\n  `**Date:** ${now.toISOString()}`,\n  `**Question:** ${base.question}`,\n  `**Web Sources:** ${base.webCount} | **RAG Sources:** ${base.ragCount}`,\n  '',\n  '## Expert Opinions',\n  '',\n  '### Security Expert',\n  base.securityOpinion,\n  '',\n  '### Architecture Expert',\n  base.archOpinion,\n  '',\n  '### Quality Expert',\n  base.qualityOpinion,\n  '',\n  '## Devils Advocate Challenge',\n  base.challenge,\n  '',\n  '## Chair Final Verdict',\n  verdict\n].join('\\n');\n\nconst b64 = Buffer.from(report, 'utf8').toString('base64');\nreturn [{\n  json: { sessionId: base.sessionId, filepath, question: base.question, verdict, webCount: base.webCount, ragCount: base.ragCount },\n  binary: { reportData: { data: b64, mimeType: 'text/markdown', fileName: filename } }\n}];"
      },
      "id": "tg-0014",
      "name": "build_session_report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        300
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.filepath }}",
        "dataPropertyName": "reportData",
        "options": {
          "createDirectories": true
        }
      },
      "id": "tg-0015",
      "name": "write_session",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2540,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.item.json || {};\nconst fail = $('normalize_input').first().json || {};\nif (fail.skip === true) {\n  return [{ json: { status: 'rejected', council: 'tech_governance', message: fail.reason } }];\n}\nconst built = $('build_session_report').first().json || {};\nreturn [{ json: {\n  status: 'success',\n  council: 'tech_governance',\n  sessionId: built.sessionId || 'unknown',\n  question: built.question || '',\n  verdict: built.verdict || '',\n  sources: { web: built.webCount || 0, rag: built.ragCount || 0 },\n  reportPath: built.filepath || ''\n} }];"
      },
      "id": "tg-0016",
      "name": "final_response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2760,
        300
      ]
    }
  ],
  "connections": {
    "webhook_in": {
      "main": [
        [
          {
            "node": "normalize_input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_input": {
      "main": [
        [
          {
            "node": "has_question_if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has_question_if": {
      "main": [
        [
          {
            "node": "search_web",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "final_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_web": {
      "main": [
        [
          {
            "node": "search_rag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_rag": {
      "main": [
        [
          {
            "node": "merge_context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge_context": {
      "main": [
        [
          {
            "node": "expert_security",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "expert_security": {
      "main": [
        [
          {
            "node": "expert_architecture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "expert_architecture": {
      "main": [
        [
          {
            "node": "expert_quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "expert_quality": {
      "main": [
        [
          {
            "node": "collect_opinions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "collect_opinions": {
      "main": [
        [
          {
            "node": "devils_advocate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "devils_advocate": {
      "main": [
        [
          {
            "node": "merge_challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge_challenge": {
      "main": [
        [
          {
            "node": "chair_synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chair_synthesis": {
      "main": [
        [
          {
            "node": "build_session_report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_session_report": {
      "main": [
        [
          {
            "node": "write_session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write_session": {
      "main": [
        [
          {
            "node": "final_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": null,
  "versionId": "b5e789c7-76e2-45aa-a9c0-9f2c1c0dfc20",
  "tags": [
    {
      "updatedAt": "2026-04-08T20:13:05.715Z",
      "createdAt": "2026-04-08T20:13:05.715Z",
      "id": "rDLU9g2iRGhumB46",
      "name": "council"
    },
    {
      "updatedAt": "2026-04-08T20:13:05.715Z",
      "createdAt": "2026-04-08T20:13:05.715Z",
      "id": "8JPBMLrcwHtmf19C",
      "name": "governance"
    }
  ]
}