n8n/workflows/error_solution_hunter.json
{
  "id": "ErrSltnHntrV2",
  "name": "Error Solution Hunter Real V2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-hunt-v2",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "eh2-0001",
      "name": "webhook_in",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [120, 260],
      "webhookId": "error-solution-hunter-v2"
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.item.json;\nconst body = inp.body || inp;\nconst text = (body.problem || body.error || '').toString().trim();\nif (!text) {\n  return [{ json: { ok: false, skip: true, reason: 'Missing problem/error in request body' } }];\n}\nconst runId = `ESHV2-${Date.now()}`;\nreturn [{ json: { ok: true, skip: false, runId, problemText: text } }];"
      },
      "id": "eh2-0002",
      "name": "normalize_input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ok-check",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eh2-0003",
      "name": "has_problem_if",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [560, 260]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ 'site:community.n8n.io ' + $json.problemText }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "eh2-0004",
      "name": "search_searxng",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('normalize_input').first().json;\nconst sr = $input.item.json;\nconst results = Array.isArray(sr.results) ? sr.results.slice(0, 5) : [];\nconst lines = results.map((r, i) => `${i + 1}. ${r.title || 'No title'}\\n   ${r.url || ''}`);\nconst report = [\n  '# Error Solution Hunter Report',\n  '',\n  `Run ID: ${base.runId}`,\n  `Problem: ${base.problemText}`,\n  '',\n  'Top References:',\n  lines.length ? lines.join('\\n') : 'No references returned from SearXNG',\n  '',\n  'Status: Real execution completed'\n].join('\\n');\nconst filename = `${base.runId}.md`;\nconst filepath = `/app/logs/solution_reports/${filename}`;\nconst b64 = Buffer.from(report, 'utf8').toString('base64');\nreturn [{\n  json: { runId: base.runId, filepath, refs: results.length },\n  binary: {\n    reportData: {\n      data: b64,\n      mimeType: 'text/markdown',\n      fileName: filename\n    }\n  }\n}];"
      },
      "id": "eh2-0005",
      "name": "build_report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 160]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.filepath }}",
        "dataPropertyName": "reportData",
        "options": {
          "createDirectories": true
        }
      },
      "id": "eh2-0006",
      "name": "write_report",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1220, 160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.item.json || {};\nconst fail = $('normalize_input').first().json || {};\nif (fail.skip === true) {\n  return [{ json: { status: 'rejected', message: fail.reason } }];\n}\nconst built = $('build_report').first().json || {};\nconst runId = inp.runId || built.runId || 'unknown';\nconst reportPath = inp.filepath || built.filepath || '';\nconst refs = (inp.refs ?? built.refs ?? 0);\nconst writeErr = inp.error ? (typeof inp.error === 'object' ? (inp.error.message || JSON.stringify(inp.error)) : String(inp.error)) : '';\nconst status = writeErr ? 'partial_success' : 'success';\nconst message = writeErr ? `Search and report build succeeded, file write failed: ${writeErr}` : 'Workflow executed successfully';\nreturn [{ json: { status, message, runId, reportPath, refs } }];"
      },
      "id": "eh2-0007",
      "name": "final_response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 260]
    }
  ],
  "connections": {
    "webhook_in": {
      "main": [
        [
          {
            "node": "normalize_input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_input": {
      "main": [
        [
          {
            "node": "has_problem_if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has_problem_if": {
      "main": [
        [
          {
            "node": "search_searxng",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "final_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_searxng": {
      "main": [
        [
          {
            "node": "build_report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_report": {
      "main": [
        [
          {
            "node": "write_report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write_report": {
      "main": [
        [
          {
            "node": "final_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "2.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "devops"
    },
    {
      "name": "automation"
    }
  ]
}
