n8n/workflows/saudi_laws_sync.json
{
  "name": "Saudi Laws Sync - سحب وتحديث القوانين السعودية",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "⏰ جدولة يومية (2 صباحاً)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-date",
              "name": "run_date",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "boe-base",
              "name": "boe_base_url",
              "value": "https://www.boe.gov.sa",
              "type": "string"
            },
            {
              "id": "uqn-base",
              "name": "uqn_base_url",
              "value": "https://www.uqn.gov.sa",
              "type": "string"
            },
            {
              "id": "chroma-url",
              "name": "chroma_url",
              "value": "http://chromadb:8000",
              "type": "string"
            },
            {
              "id": "ollama-url",
              "name": "ollama_url",
              "value": "http://host.docker.internal:11434",
              "type": "string"
            },
            {
              "id": "collection",
              "name": "collection_name",
              "value": "saleh_legal_knowledge",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-config",
      "name": "⚙️ إعدادات النظام",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.boe.gov.sa/ar/LegalDocuments/Pages/default.aspx",
        "options": {
          "timeout": 30000,
          "headers": {
            "User-Agent": "Mozilla/5.0 (compatible; SaleH-SaaS/4.0; Legal Research Bot)"
          }
        }
      },
      "id": "fetch-boe",
      "name": "📥 سحب قائمة هيئة الخبراء",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        180
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.uqn.gov.sa/issues",
        "options": {
          "timeout": 30000,
          "headers": {
            "User-Agent": "Mozilla/5.0 (compatible; SaleH-SaaS/4.0; Legal Research Bot)"
          }
        }
      },
      "id": "fetch-uqn",
      "name": "📰 سحب أعداد أم القرى",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        420
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// معالجة صفحة هيئة الخبراء\nconst inputData = $input.first();\nconst html = inputData && inputData.json ? (inputData.json.data || inputData.json.body || '') : '';\nconst knownLaws = [\n  { id: 'labor', name: 'نظام العمل', url: 'https://www.boe.gov.sa/ar/LegalDocuments/Pages/LawDetails.aspx?LawID=1' },\n  { id: 'companies', name: 'نظام الشركات', url: 'https://www.boe.gov.sa/ar/LegalDocuments/Pages/LawDetails.aspx?LawID=2' },\n  { id: 'procurement', name: 'نظام المنافسات والمشتريات الحكومية', url: 'https://www.boe.gov.sa/ar/LegalDocuments/Pages/LawDetails.aspx?LawID=3' },\n  { id: 'vat', name: 'نظام ضريبة القيمة المضافة', url: 'https://www.boe.gov.sa/ar/LegalDocuments/Pages/LawDetails.aspx?LawID=4' },\n  { id: 'anticorruption', name: 'نظام مكافحة الفساد', url: 'https://www.boe.gov.sa/ar/LegalDocuments/Pages/LawDetails.aspx?LawID=5' }\n];\nconst fallback = knownLaws.map(function(law) {\n  return { json: { source: 'boe_fallback', source_name: 'هيئة الخبراء بمجلس الوزراء', law_id: law.id, law_name: law.name, url: law.url, fetched_at: new Date().toISOString() } };\n});\nif (html.length < 100) {\n  return fallback;\n}\nconst linkRegex = /href=\"([^\"]*LawDetails[^\"]*)\"/gi;\nconst links = [];\nlet match;\nwhile ((match = linkRegex.exec(html)) !== null) {\n  links.push({ json: { source: 'boe', source_name: 'هيئة الخبراء بمجلس الوزراء', url: match[1].startsWith('http') ? match[1] : 'https://www.boe.gov.sa' + match[1], fetched_at: new Date().toISOString() } });\n}\nreturn links.length > 0 ? links.slice(0, 50) : fallback;"
      },
      "id": "parse-boe",
      "name": "🔍 تحليل صفحة هيئة الخبراء",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// معالجة صفحة أم القرى\nconst inputData = $input.first();\nconst html = inputData && inputData.json ? (inputData.json.data || inputData.json.body || '') : '';\nconst today = new Date();\nconst fallback = [0,1,2,3].map(function(i) {\n  const d = new Date(today);\n  d.setDate(today.getDate() - i*7);\n  return { json: { source: 'uqn_fallback', source_name: 'جريدة أم القرى الرسمية', url: 'https://www.uqn.gov.sa/issues', approximate_date: d.toISOString().split('T')[0], fetched_at: new Date().toISOString(), type: 'official_gazette' } };\n});\nif (html.length < 100) {\n  return fallback;\n}\nconst issueRegex = /href=\"([^\"]*issue[^\"]*)\"/gi;\nconst issues = [];\nlet match;\nwhile ((match = issueRegex.exec(html)) !== null) {\n  issues.push({ json: { source: 'uqn', source_name: 'جريدة أم القرى الرسمية', url: match[1].startsWith('http') ? match[1] : 'https://www.uqn.gov.sa' + match[1], fetched_at: new Date().toISOString(), type: 'official_gazette' } });\n}\nreturn issues.length > 0 ? issues.slice(0, 10) : fallback;"
      },
      "id": "parse-uqn",
      "name": "📋 تحليل صفحة أم القرى",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        420
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-sources",
      "name": "🔗 دمج المصادر",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 45000,
          "headers": {
            "User-Agent": "Mozilla/5.0 (compatible; SaleH-SaaS/4.0; Legal Research Bot)",
            "Accept": "text/html,application/xhtml+xml,application/pdf"
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-document",
      "name": "📄 تحميل الوثيقة",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        300
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://tika:9998/tika",
        "method": "PUT",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 60000,
          "headers": {
            "Accept": "text/plain",
            "Content-Type": "application/octet-stream"
          }
        }
      },
      "id": "tika-extract",
      "name": "📑 Tika: استخراج النص",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        300
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// تنظيف النص المستخرج وتقسيمه إلى chunks\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const rawText = item.json.data || item.json.body || '';\n  const source = item.json.source || 'unknown';\n  const url = item.json.url || '';\n  const lawName = item.json.law_name || item.json.name || 'نظام غير محدد';\n  \n  if (!rawText || rawText.length < 100) {\n    continue; // تخطي الوثائق الفارغة\n  }\n  \n  // تنظيف النص\n  const cleanText = rawText\n    .replace(/<[^>]+>/g, ' ')  // إزالة HTML\n    .replace(/\\s+/g, ' ')       // توحيد المسافات\n    .trim();\n  \n  // تقسيم إلى chunks بحجم 1000 حرف مع تداخل 200 حرف\n  const chunkSize = 1000;\n  const overlap = 200;\n  const chunks = [];\n  \n  for (let i = 0; i < cleanText.length; i += (chunkSize - overlap)) {\n    const chunk = cleanText.substring(i, i + chunkSize);\n    if (chunk.length > 100) { // تجاهل الـ chunks الصغيرة جداً\n      chunks.push({\n        text: chunk,\n        chunk_index: chunks.length,\n        total_chunks: Math.ceil(cleanText.length / (chunkSize - overlap)),\n        source: source,\n        source_name: item.json.source_name || source,\n        url: url,\n        law_name: lawName,\n        doc_id: `${source}_${Buffer.from(url).toString('base64').substring(0, 20)}`,\n        fetched_at: item.json.fetched_at || new Date().toISOString(),\n        char_count: chunk.length\n      });\n    }\n  }\n  \n  results.push(...chunks);\n}\n\nreturn results;"
      },
      "id": "chunk-text",
      "name": "✂️ تقسيم النص إلى Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:11434/api/embeddings",
        "method": "POST",
        "sendBody": true,
        "options": {
          "timeout": 120000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nomic-embed-text:latest\",\n  \"prompt\": \"{{ $json.text }}\"\n}"
      },
      "id": "get-embedding",
      "name": "🧠 Ollama: توليد Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        300
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// التحقق من وجود الوثيقة في ChromaDB قبل الإضافة\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const embedding = item.json.embedding;\n  \n  if (!embedding || !Array.isArray(embedding) || embedding.length === 0) {\n    console.log('تخطي: لا يوجد embedding لـ', item.json.doc_id);\n    continue;\n  }\n  \n  results.push({\n    ...item.json,\n    embedding: embedding,\n    has_embedding: true,\n    processed_at: new Date().toISOString()\n  });\n}\n\nreturn results;"
      },
      "id": "validate-embedding",
      "name": "✅ التحقق من الـ Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://chromadb:8000/api/v1/collections/saleh_legal_knowledge/upsert",
        "method": "POST",
        "sendBody": true,
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"ids\": [\"{{ $json.doc_id }}_chunk_{{ $json.chunk_index }}\"],\n  \"embeddings\": [{{ JSON.stringify($json.embedding) }}],\n  \"documents\": [\"{{ $json.text.replace(/\"/g, '\\\\\"') }}\"],\n  \"metadatas\": [{\n    \"law_name\": \"{{ $json.law_name }}\",\n    \"source\": \"{{ $json.source }}\",\n    \"source_name\": \"{{ $json.source_name }}\",\n    \"url\": \"{{ $json.url }}\",\n    \"chunk_index\": {{ $json.chunk_index }},\n    \"fetched_at\": \"{{ $json.fetched_at }}\"\n  }]\n}"
      },
      "id": "upsert-chromadb",
      "name": "💾 ChromaDB: حفظ/تحديث",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        300
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// إنشاء تقرير نهائي بنتائج المزامنة\nconst items = $input.all();\n\nconst stats = {\n  total_processed: items.length,\n  successful: items.filter(i => i.json.status === 200 || i.json.upserted_count > 0).length,\n  failed: items.filter(i => i.json.error).length,\n  sources: {\n    boe: items.filter(i => i.json.source === 'boe' || i.json.source === 'boe_fallback').length,\n    uqn: items.filter(i => i.json.source === 'uqn' || i.json.source === 'uqn_fallback').length\n  },\n  run_date: new Date().toISOString(),\n  collection: 'saleh_legal_knowledge'\n};\n\nconst report = `\n📊 تقرير مزامنة القوانين السعودية\n=====================================\n📅 تاريخ التشغيل: ${stats.run_date}\n📦 إجمالي الـ Chunks المعالجة: ${stats.total_processed}\n✅ نجح: ${stats.successful}\n❌ فشل: ${stats.failed}\n\n📚 المصادر:\n  - هيئة الخبراء (BOE): ${stats.sources.boe} chunk\n  - أم القرى (UQN): ${stats.sources.uqn} chunk\n\n💾 قاعدة البيانات: ChromaDB - مجموعة '${stats.collection}'\n=====================================\n`;\n\nreturn [{ json: { report, stats } }];"
      },
      "id": "generate-report",
      "name": "📊 إنشاء تقرير المزامنة",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        300
      ]
    },
    {
      "id": "ensure-collection",
      "name": "🗄️ إنشاء مجموعة ChromaDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        520
      ],
      "parameters": {
        "method": "POST",
        "url": "http://chromadb:8000/api/v1/collections",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ name: 'saleh_legal_knowledge', metadata: { description: 'القوانين والأنظمة السعودية', created_by: 'SaleH-SaaS' } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-text",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-empty",
      "name": "🔎 تصفية الوثائق الفارغة",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2140,
        520
      ]
    }
  ],
  "connections": {
    "⏰ جدولة يومية (2 صباحاً)": {
      "main": [
        [
          {
            "node": "⚙️ إعدادات النظام",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ إعدادات النظام": {
      "main": [
        [
          {
            "node": "🗄️ إنشاء مجموعة ChromaDB",
            "type": "main",
            "index": 0
          },
          {
            "node": "📥 سحب قائمة هيئة الخبراء",
            "type": "main",
            "index": 0
          },
          {
            "node": "📰 سحب أعداد أم القرى",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 سحب قائمة هيئة الخبراء": {
      "main": [
        [
          {
            "node": "🔍 تحليل صفحة هيئة الخبراء",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📰 سحب أعداد أم القرى": {
      "main": [
        [
          {
            "node": "📋 تحليل صفحة أم القرى",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 تحليل صفحة هيئة الخبراء": {
      "main": [
        [
          {
            "node": "🔗 دمج المصادر",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 تحليل صفحة أم القرى": {
      "main": [
        [
          {
            "node": "🔗 دمج المصادر",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔗 دمج المصادر": {
      "main": [
        [
          {
            "node": "📄 تحميل الوثيقة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 تحميل الوثيقة": {
      "main": [
        [
          {
            "node": "📑 Tika: استخراج النص",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📑 Tika: استخراج النص": {
      "main": [
        [
          {
            "node": "✂️ تقسيم النص إلى Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✂️ تقسيم النص إلى Chunks": {
      "main": [
        [
          {
            "node": "🔎 تصفية الوثائق الفارغة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔎 تصفية الوثائق الفارغة": {
      "main": [
        [
          {
            "node": "🧠 Ollama: توليد Embedding",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "🧠 Ollama: توليد Embedding": {
      "main": [
        [
          {
            "node": "✅ التحقق من الـ Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ التحقق من الـ Embedding": {
      "main": [
        [
          {
            "node": "💾 ChromaDB: حفظ/تحديث",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 ChromaDB: حفظ/تحديث": {
      "main": [
        [
          {
            "node": "📊 إنشاء تقرير المزامنة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "legal",
      "createdAt": "2026-03-03"
    },
    {
      "name": "saudi-laws",
      "createdAt": "2026-03-03"
    },
    {
      "name": "rag",
      "createdAt": "2026-03-03"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-03T00:00:00.000Z",
  "versionId": "1.0.0"
}