n8n/workflows/saudi_laws_sync.json
{
  "name": "Saudi Laws Sync - سحب وتحديث القوانين السعودية",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "⏰ جدولة يومية (2 صباحاً)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        140,
        360
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "set-config",
      "name": "⚙️ إعدادات النظام",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        360
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-date",
              "name": "run_date",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "inbox-dir",
              "name": "inbox_dir",
              "value": "/knowledge_inbox",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "fetch-boe",
      "name": "📥 سحب قائمة هيئة الخبراء",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        280
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://www.boe.gov.sa/ar/LegalDocuments/Pages/default.aspx",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "fetch-uqn",
      "name": "📰 سحب أعداد أم القرى",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        440
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://www.uqn.gov.sa/issues",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "parse-boe",
      "name": "🔍 تحليل صفحة هيئة الخبراء",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        280
      ],
      "parameters": {
        "jsCode": "// معالجة صفحة هيئة الخبراء\nconst inputData = $input.first();\nconst html = inputData && inputData.json ? (inputData.json.data || inputData.json.body || '') : '';\nconst knownLaws = [\n  { id: 'labor', name: 'نظام العمل', url: 'https://www.boe.gov.sa/ar/LegalDocuments/Pages/LawDetails.aspx?LawID=1' },\n  { id: 'companies', name: 'نظام الشركات', url: 'https://www.boe.gov.sa/ar/LegalDocuments/Pages/LawDetails.aspx?LawID=2' },\n  { id: 'procurement', name: 'نظام المنافسات والمشتريات الحكومية', url: 'https://www.boe.gov.sa/ar/LegalDocuments/Pages/LawDetails.aspx?LawID=3' },\n  { id: 'vat', name: 'نظام ضريبة القيمة المضافة', url: 'https://www.boe.gov.sa/ar/LegalDocuments/Pages/LawDetails.aspx?LawID=4' },\n  { id: 'anticorruption', name: 'نظام مكافحة الفساد', url: 'https://www.boe.gov.sa/ar/LegalDocuments/Pages/LawDetails.aspx?LawID=5' }\n];\nreturn knownLaws.map(function(law) {\n  return { json: { source: 'boe', source_name: 'هيئة الخبراء بمجلس الوزراء', law_id: law.id, law_name: law.name, url: law.url, fetched_at: new Date().toISOString() } };\n});"
      }
    },
    {
      "id": "parse-uqn",
      "name": "📋 تحليل صفحة أم القرى",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        440
      ],
      "parameters": {
        "jsCode": "// معالجة صفحة أم القرى\nconst inputData = $input.first();\nconst html = inputData && inputData.json ? (inputData.json.data || inputData.json.body || '') : '';\nconst today = new Date();\nconst fallback = [0,1,2,3].map(function(i) {\n  const d = new Date(today);\n  d.setDate(today.getDate() - i*7);\n  return { json: { source: 'uqn_fallback', source_name: 'جريدة أم القرى الرسمية', url: 'https://www.uqn.gov.sa/issues', approximate_date: d.toISOString().split('T')[0], fetched_at: new Date().toISOString() } };\n});\nif (html.length < 100) { return fallback; }\nconst issueRegex = /href=\"([^\"]*issue[^\"]*)\"/gi;\nconst issues = [];\nlet match;\nwhile ((match = issueRegex.exec(html)) !== null) {\n  issues.push({ json: { source: 'uqn', source_name: 'جريدة أم القرى الرسمية', url: match[1].startsWith('http') ? match[1] : 'https://www.uqn.gov.sa' + match[1], fetched_at: new Date().toISOString() } });\n}\nreturn issues.length > 0 ? issues.slice(0, 4) : fallback;"
      }
    },
    {
      "id": "merge-sources",
      "name": "🔗 دمج المصادر",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        700,
        360
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "fetch-document",
      "name": "📄 تحميل الوثيقة",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        360
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 45000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "extract-text",
      "name": "📝 استخراج النص من HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        360
      ],
      "parameters": {
        "jsCode": "// استخراج النص من HTML بدون Tika\nconst item = $input.item;\nconst html = item.json.data || item.json.body || '';\nconst source = item.json.source || 'unknown';\nconst lawName = item.json.law_name || item.json.source_name || 'وثيقة قانونية';\nconst url = item.json.url || '';\nconst lawId = item.json.law_id || item.json.approximate_date || String(Date.now());\nlet text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/\\s+/g, ' ')\n  .trim();\nif (text.length < 50) { text = lawName + ' - ' + url; }\nconst safeId = (source + '_' + lawId).replace(/[^a-zA-Z0-9_]/g, '_').substring(0, 60);\nconst filename = safeId + '_' + new Date().toISOString().split('T')[0] + '.txt';\nreturn [{ json: { ...item.json, extracted_text: text, filename: filename, char_count: text.length } }];"
      }
    },
    {
      "id": "filter-empty",
      "name": "🔎 تصفية الوثائق الفارغة",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-length",
              "leftValue": "={{ $json.char_count }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "prepare-file",
      "name": "📦 تجهيز محتوى الملف",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        280
      ],
      "parameters": {
        "jsCode": "// تجهيز محتوى الملف للحفظ\nconst item = $input.item;\nconst text = item.json.extracted_text || '';\nconst header = '# ' + (item.json.law_name || item.json.source_name || 'وثيقة قانونية') + '\\n'\n  + 'المصدر: ' + (item.json.source_name || '') + '\\n'\n  + 'الرابط: ' + (item.json.url || '') + '\\n'\n  + 'تاريخ الجلب: ' + (item.json.fetched_at || '') + '\\n\\n';\nconst fullContent = header + text;\nconst base64Content = Buffer.from(fullContent, 'utf8').toString('base64');\nreturn [{ json: item.json, binary: { fileContent: { data: base64Content, mimeType: 'text/plain', fileName: item.json.filename } } }];"
      }
    },
    {
      "id": "save-to-inbox",
      "name": "💾 حفظ في knowledge_inbox",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1400,
        280
      ],
      "parameters": {
        "fileName": "=/knowledge_inbox/{{ $json.filename }}",
        "dataPropertyName": "fileContent"
      }
    },
    {
      "id": "generate-report",
      "name": "📊 تقرير المزامنة",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        280
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst count = items.length;\nconst names = items.map(function(i) { return i.json.law_name || i.json.source_name || '?'; });\nconsole.log('تم حفظ ' + count + ' وثيقة في knowledge_inbox');\nreturn [{ json: { saved_count: count, documents: names, timestamp: new Date().toISOString(), status: 'success' } }];"
      }
    }
  ],
  "connections": {
    "⏰ جدولة يومية (2 صباحاً)": {
      "main": [
        [
          {
            "node": "⚙️ إعدادات النظام",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ إعدادات النظام": {
      "main": [
        [
          {
            "node": "📥 سحب قائمة هيئة الخبراء",
            "type": "main",
            "index": 0
          },
          {
            "node": "📰 سحب أعداد أم القرى",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 سحب قائمة هيئة الخبراء": {
      "main": [
        [
          {
            "node": "🔍 تحليل صفحة هيئة الخبراء",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📰 سحب أعداد أم القرى": {
      "main": [
        [
          {
            "node": "📋 تحليل صفحة أم القرى",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 تحليل صفحة هيئة الخبراء": {
      "main": [
        [
          {
            "node": "🔗 دمج المصادر",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 تحليل صفحة أم القرى": {
      "main": [
        [
          {
            "node": "🔗 دمج المصادر",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔗 دمج المصادر": {
      "main": [
        [
          {
            "node": "📄 تحميل الوثيقة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 تحميل الوثيقة": {
      "main": [
        [
          {
            "node": "📝 استخراج النص من HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 استخراج النص من HTML": {
      "main": [
        [
          {
            "node": "🔎 تصفية الوثائق الفارغة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔎 تصفية الوثائق الفارغة": {
      "main": [
        [
          {
            "node": "📦 تجهيز محتوى الملف",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 تجهيز محتوى الملف": {
      "main": [
        [
          {
            "node": "💾 حفظ في knowledge_inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 حفظ في knowledge_inbox": {
      "main": [
        [
          {
            "node": "📊 تقرير المزامنة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "legal"
    },
    {
      "name": "saudi-laws"
    },
    {
      "name": "rag"
    },
    {
      "name": "n8n-openai-bridge"
    }
  ],
  "pinData": {}
}