n8n/workflows/saudi_laws_sync.json
{
  "name": "Saudi Laws Sync - سحب وتحديث القوانين السعودية",
  "nodes": [
    {
      "id": "trigger",
      "name": "▶️ تشغيل يدوي",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        300
      ],
      "parameters": {}
    },
    {
      "id": "load-split",
      "name": "📚 تحميل وتقسيم النصوص",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const laws = [{\"id\": \"labor_001\", \"name\": \"نظام العمل - الأحكام العامة\", \"text\": \"المادة الأولى: تسري أحكام هذا النظام على العقود المبرمة لأداء عمل في المملكة العربية السعودية. المادة الثانية: لا يسري هذا النظام على موظفي الحكومة والهيئات والمؤسسات العامة وعمال الزراعة والرعي الطبيعي. المادة الثالثة: العامل كل شخص طبيعي يعمل لمصلحة صاحب عمل وتحت إدارته أو إشرافه مقابل أجر. المادة الرابعة: صاحب العمل كل شخص طبيعي أو اعتباري يستخدم عاملاً أو أكثر مقابل أجر. المادة الخامسة: عند العمل لأقل من ثلاثة أشهر يعتبر العامل في فترة تجربة ما لم يتفق على خلاف ذلك.\"}, {\"id\": \"labor_002\", \"name\": \"نظام العمل - إنهاء العقد والتعويضات\", \"text\": \"المادة الثمانون: إذا أنهى صاحب العمل العقد دون سبب مشروع وجب عليه تعويض العامل عن مدة الخدمة بواقع أجر شهر عن كل سنة من سنوات الخدمة. المادة الواحدة والثمانون: يستحق العامل مكافأة نهاية الخدمة بواقع أجر نصف شهر عن كل سنة من السنوات الخمس الأولى وأجر شهر عن كل سنة بعد ذلك. المادة الثانية والثمانون: يحق للعامل إنهاء عقده دون إشعار مسبق إذا أخل صاحب العمل بالتزاماته التعاقدية.\"}, {\"id\": \"company_001\", \"name\": \"نظام الشركات - الشركة ذات المسؤولية المحدودة\", \"text\": \"المادة الأولى: الشركة ذات المسؤولية المحدودة شركة تتكون من شريك أو أكثر ولا يسأل كل منهم إلا بمقدار حصته في رأس المال. المادة الثانية: يجب ألا يقل رأس مال الشركة عن عشرة آلاف ريال سعودي. المادة الثالثة: تتكون الشركة من عقد تأسيس يتضمن اسم الشركة وغرضها ورأس مالها وحصص الشركاء. المادة الرابعة: تُدار الشركة بواسطة مدير أو أكثر من الشركاء أو من غيرهم.\"}, {\"id\": \"vat_001\", \"name\": \"نظام ضريبة القيمة المضافة\", \"text\": \"المادة الأولى: تُفرض ضريبة القيمة المضافة بنسبة خمسة عشر بالمائة على جميع السلع والخدمات المُورَّدة في المملكة. المادة الثانية: يلتزم كل شخص خاضع للضريبة بالتسجيل لدى الهيئة العامة للزكاة والضريبة والجمارك إذا تجاوز حجم أعماله حد التسجيل الإلزامي. المادة الثالثة: حد التسجيل الإلزامي مائة وثمانية وثمانون ألف ريال سعودي سنوياً.\"}, {\"id\": \"data_001\", \"name\": \"نظام حماية البيانات الشخصية\", \"text\": \"المادة الأولى: يهدف هذا النظام إلى حماية البيانات الشخصية من الجمع والمعالجة غير المشروعة وصون الخصوصية. المادة الثانية: لا يجوز جمع البيانات الشخصية أو معالجتها إلا بموافقة صريحة من صاحبها. المادة الثالثة: يحق لصاحب البيانات الاطلاع على بياناته وطلب تصحيحها أو حذفها. المادة الرابعة: يُعاقب على مخالفة أحكام هذا النظام بغرامة مالية لا تتجاوز خمسة ملايين ريال.\"}, {\"id\": \"cyber_001\", \"name\": \"نظام مكافحة الجرائم المعلوماتية\", \"text\": \"المادة الأولى: يُعاقب بالسجن مدة لا تزيد على سنة وبغرامة لا تزيد على خمسمائة ألف ريال كل من يرتكب جريمة معلوماتية. المادة الثانية: الجريمة المعلوماتية كل فعل يُرتكب متضمناً استخدام الحاسب الآلي أو الشبكة المعلوماتية بصورة غير مشروعة. المادة الثالثة: يُعاقب بالسجن مدة لا تزيد على أربع سنوات كل من يصل بطريقة غير مشروعة إلى بيانات تمس النظام العام.\"}];\nconst results = [];\nconst chunkSize = 600;\nconst overlap = 80;\nfor (const law of laws) {\n  const text = law.text;\n  let start = 0, idx = 0;\n  while (start < text.length) {\n    const end = Math.min(start + chunkSize, text.length);\n    const chunk = text.substring(start, end).trim();\n    if (chunk.length > 30) {\n      results.push({ json: { chunk_id: law.id + '_c' + idx, chunk_text: chunk, law_name: law.name, law_id: law.id } });\n      idx++;\n    }\n    if (end >= text.length) break;\n    start += chunkSize - overlap;\n  }\n}\nreturn results;"
      }
    },
    {
      "id": "ollama",
      "name": "🧠 Ollama Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'nomic-embed-text', prompt: $json.chunk_text }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "merge",
      "name": "🔗 دمج البيانات",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const embedding = $json.embedding;\nconst prev = $('📚 تحميل وتقسيم النصوص').item.json;\nreturn {\n  ids: [prev.chunk_id],\n  embeddings: [embedding],\n  documents: [prev.chunk_text],\n  metadatas: [{ law_name: prev.law_name, law_id: prev.law_id }],\n  chunk_id: prev.chunk_id,\n  law_name: prev.law_name\n};"
      }
    },
    {
      "id": "chroma",
      "name": "💾 ChromaDB Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://chromadb:8000/api/v2/tenants/default_tenant/databases/default_database/collections/saleh_legal_knowledge/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ids: $json.ids, embeddings: $json.embeddings, documents: $json.documents, metadatas: $json.metadatas }) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "summary",
      "name": "📊 تقرير النهائي",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nreturn [{ json: { total_saved: items.length, message: '✅ تم حفظ ' + items.length + ' chunk في ChromaDB بنجاح' } }];"
      }
    }
  ],
  "connections": {
    "▶️ تشغيل يدوي": {
      "main": [
        [
          {
            "node": "📚 تحميل وتقسيم النصوص",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📚 تحميل وتقسيم النصوص": {
      "main": [
        [
          {
            "node": "🧠 Ollama Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Ollama Embedding": {
      "main": [
        [
          {
            "node": "🔗 دمج البيانات",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 دمج البيانات": {
      "main": [
        [
          {
            "node": "💾 ChromaDB Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 ChromaDB Upsert": {
      "main": [
        [
          {
            "node": "📊 تقرير النهائي",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}