archive/cleanup_20260406/misc/all_workflows_exported.json
[{"updatedAt":"2026-04-03T21:15:38.819Z","createdAt":"2026-04-03T21:15:38.819Z","id":"V4AsJSTg8FNQPcdv","name":"Request Support for Browserless","description":null,"active":false,"isArchived":false,"nodes":[{"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,300],"parameters":{},"id":"b5f88a7b-e16b-41ca-8cef-9ccb0d59a851"},{"name":"Set Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,300],"parameters":{"values":{"json":{"toolName":"browserless","issueType":"Error in linking ID and failing to access the link.","priority":"CRITICAL","requirements":"Programmatically link the tool with n8n and correct the API path."}}},"id":"2c4d1ccb-e565-4d60-8f0b-6253856f4e37"},{"name":"Send Support Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"url":"https://support.example.com/api/requests","method":"POST","bodyParameters":[{"name":"toolName","value":"=json{ toolName }"},{"name":"issueType","value":"=json{ issueType }"},{"name":"priority","value":"=json{ priority }"},{"name":"requirements","value":"=json{ requirements }"}]},"id":"4f2b2160-c6e0-4a23-a31b-fe4b6ddc1b69"}],"connections":{"Manual Trigger":{"main":[[{"node":"Set Data","type":"main","index":0}]]},"Set Data":{"main":[[{"node":"Send Support Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"6e34749a-b32b-4ca1-aa42-18a00b22008c","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-03T21:15:38.819Z","createdAt":"2026-04-03T21:15:38.819Z","role":"workflow:owner","workflowId":"V4AsJSTg8FNQPcdv","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-31T02:03:13.950Z","createdAt":"2026-03-31T01:27:29.717Z","id":"TgBossChat001","name":"Telegram Boss Chat - محادثة الرئيس","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"telegram-boss","responseMode":"responseNode","options":{}},"id":"tb-0001","name":"📩 Telegram Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[120,300],"webhookId":"telegram-boss"},{"parameters":{"jsCode":"const body = $json.body || $json || {};\n\n// Determine update type\nif (body.callback_query) {\n  // callback_query from inline buttons\n  const cb = body.callback_query;\n  const callbackData = cb.data || '';\n  const callbackQueryId = cb.id || '';\n  const chatId = String(cb?.message?.chat?.id || '');\n  const allowedChatId = String($vars.SALEH_TELEGRAM_CHAT_ID || '');\n\n  if (!allowedChatId || chatId !== allowedChatId) {\n    return [{ json: { type: 'callback', chatId, callbackQueryId, message: '\\u26D4 \\u063A\\u064A\\u0631 \\u0645\\u0635\\u0631\\u062D' } }];\n  }\n\n  if (!callbackData.startsWith('COUNCIL_')) {\n    return [{ json: { type: 'skip' } }];\n  }\n\n  const [rawDecision, sessionId] = callbackData.split('::');\n  const map = {\n    COUNCIL_APPROVE: { status: 'approved', label: '\\u2705 \\u062A\\u0645 \\u0627\\u0639\\u062A\\u0645\\u0627\\u062F \\u0627\\u0644\\u062A\\u0648\\u0635\\u064A\\u0629' },\n    COUNCIL_REJECT: { status: 'rejected', label: '\\u274C \\u062A\\u0645 \\u0631\\u0641\\u0636 \\u0627\\u0644\\u062A\\u0648\\u0635\\u064A\\u0629' },\n    COUNCIL_RESTUDY: { status: 'restudy', label: '\\uD83D\\uDD04 \\u0625\\u0639\\u0627\\u062F\\u0629 \\u062F\\u0631\\u0627\\u0633\\u0629' }\n  };\n  const decisionInfo = map[rawDecision] || { status: 'unknown', label: '\\u0642\\u0631\\u0627\\u0631 \\u063A\\u064A\\u0631 \\u0645\\u0639\\u0631\\u0648\\u0641' };\n\n  return [{ json: {\n    type: 'callback',\n    chatId,\n    callbackQueryId,\n    message: decisionInfo.label + '\\n\\n\\uD83D\\uDD16 \\u0627\\u0644\\u062C\\u0644\\u0633\\u0629: ' + (sessionId || '') + '\\n\\uD83D\\uDD52 ' + new Date().toISOString()\n  }}];\n} else if (body.message && body.message.text) {\n  // Regular text message\n  const msg = body.message;\n  const chatId = String(msg.chat.id);\n  const allowedChatId = String($vars.SALEH_TELEGRAM_CHAT_ID || '');\n\n  if (!allowedChatId || chatId !== allowedChatId) {\n    return [{ json: { type: 'unauthorized', chatId } }];\n  }\n\n  const text = msg.text;\n  const firstName = msg.from?.first_name || '';\n\n  return [{ json: {\n    type: 'message',\n    chatId,\n    userText: text,\n    firstName\n  }}];\n} else {\n  return [{ json: { type: 'skip' } }];\n}\n"},"id":"tb-0002","name":"🧠 Route Update","type":"n8n-nodes-base.code","typeVersion":2,"position":[360,300]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"message","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":"Message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"callback","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":"Callback"}]},"options":{"fallbackOutput":"extra"}},"id":"tb-0003","name":"🔀 Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[600,300]},{"parameters":{"method":"POST","url":"http://open_webui:8080/api/chat/completions","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer sk-773169e4bcce483fb5e8268e9bf393dc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'evo', messages: [ { role: 'system', content: '\\u0623\\u0646\\u062a \\u0627\\u0644\\u0631\\u0626\\u064a\\u0633\\u060c \\u0627\\u0644\\u0645\\u0633\\u062a\\u0634\\u0627\\u0631 \\u0627\\u0644\\u0634\\u062e\\u0635\\u064a \\u0644\\u0635\\u0627\\u0644\\u062d. \\u0623\\u062c\\u0628 \\u062f\\u0627\\u0626\\u0645\\u0627\\u064b \\u0628\\u0627\\u0644\\u0644\\u063a\\u0629 \\u0627\\u0644\\u0639\\u0631\\u0628\\u064a\\u0629 \\u0641\\u0642\\u0637. \\u0623\\u0646\\u062a \\u0630\\u0643\\u064a \\u0648\\u062d\\u0643\\u064a\\u0645 \\u0648\\u062a\\u0633\\u0627\\u0639\\u062f \\u0635\\u0627\\u0644\\u062d \\u0641\\u064a \\u0643\\u0644 \\u0645\\u0627 \\u064a\\u062d\\u062a\\u0627\\u062c\\u0647 \\u0645\\u0646 \\u0627\\u0633\\u062a\\u0634\\u0627\\u0631\\u0627\\u062a \\u0648\\u0646\\u0635\\u0627\\u0626\\u062d \\u0648\\u0625\\u062f\\u0627\\u0631\\u0629 \\u0623\\u0639\\u0645\\u0627\\u0644\\u0647.' }, { role: 'user', content: $json.userText } ], stream: false }) }}","options":{"timeout":180000,"response":{"response":{"fullResponse":false}}}},"id":"tb-0004","name":"🤖 Ask الرئيس","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,160]},{"parameters":{"jsCode":"const chatId = $('🧠 Route Update').first().json.chatId;\nconst response = $json;\n\nlet answer = '';\nif (response.choices && response.choices.length > 0) {\n  answer = response.choices[0].message?.content || '';\n} else if (response.message?.content) {\n  answer = response.message.content;\n} else {\n  answer = '\\u26A0\\uFE0F \\u0644\\u0645 \\u0623\\u062A\\u0645\\u0643\\u0646 \\u0645\\u0646 \\u0627\\u0644\\u062D\\u0635\\u0648\\u0644 \\u0639\\u0644\\u0649 \\u0631\\u062F';\n}\n\n// Trim if too long for Telegram (4096 char limit)\nif (answer.length > 4000) {\n  answer = answer.substring(0, 4000) + '\\n\\n... (\\u062A\\u0645 \\u0627\\u0642\\u062A\\u0637\\u0627\\u0639 \\u0627\\u0644\\u0631\\u062F)';\n}\n\nreturn [{ json: { chatId, answer } }];\n"},"id":"tb-0005","name":"📝 Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,160]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $vars.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chatId, text: $json.answer }) }}","options":{"timeout":10000}},"id":"tb-0006","name":"📤 Send Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,160]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $vars.TELEGRAM_BOT_TOKEN + '/answerCallbackQuery' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ callback_query_id: $json.callbackQueryId, text: $json.message }) }}","options":{"timeout":10000}},"id":"tb-0007","name":"📩 Answer Callback","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,440]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $vars.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chatId, text: $json.message }) }}","options":{"timeout":10000}},"id":"tb-0008","name":"📤 Send Callback Result","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,440]},{"parameters":{"respondWith":"json","responseBody":"{}","options":{}},"id":"tb-0009","name":"✅ Respond OK (msg)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1600,160]},{"parameters":{"respondWith":"json","responseBody":"{}","options":{}},"id":"tb-0010","name":"✅ Respond OK (cb)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1360,440]},{"parameters":{"respondWith":"json","responseBody":"{}","options":{}},"id":"tb-0011","name":"✅ Respond OK (skip)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[880,600]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $vars.TELEGRAM_BOT_TOKEN + '/sendChatAction' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chatId, action: 'typing' }) }}","options":{"timeout":5000}},"id":"tb-0012","name":"⏳ Typing...","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,20]}],"connections":{"📩 Telegram Webhook":{"main":[[{"node":"🧠 Route Update","type":"main","index":0}]]},"🧠 Route Update":{"main":[[{"node":"🔀 Switch","type":"main","index":0}]]},"🔀 Switch":{"main":[[{"node":"⏳ Typing...","type":"main","index":0}],[{"node":"📩 Answer Callback","type":"main","index":0}],[{"node":"✅ Respond OK (skip)","type":"main","index":0}]]},"⏳ Typing...":{"main":[[{"node":"🤖 Ask الرئيس","type":"main","index":0}]]},"🤖 Ask الرئيس":{"main":[[{"node":"📝 Format Response","type":"main","index":0}]]},"📝 Format Response":{"main":[[{"node":"📤 Send Reply","type":"main","index":0}]]},"📤 Send Reply":{"main":[[{"node":"✅ Respond OK (msg)","type":"main","index":0}]]},"📩 Answer Callback":{"main":[[{"node":"📤 Send Callback Result","type":"main","index":0}]]},"📤 Send Callback Result":{"main":[[{"node":"✅ Respond OK (cb)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"instanceId":"salehsaas"},"pinData":null,"versionId":"035c20c3-7e16-4b0f-9cab-c80feeb76fe4","activeVersionId":null,"versionCounter":19,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-31T01:27:29.717Z","createdAt":"2026-03-31T01:27:29.717Z","role":"workflow:owner","workflowId":"TgBossChat001","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-28T20:29:21.090Z","createdAt":"2026-03-18T21:45:18.965Z","id":"0iSWoHwHgl6DLriB","name":"Saudi Laws Sync - سحب وتحديث القوانين السعودية","description":null,"active":false,"isArchived":false,"nodes":[{"id":"trigger","name":"▶️ تشغيل يدوي","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[180,300],"parameters":{}},{"id":"load-split","name":"📚 تحميل وتقسيم النصوص","type":"n8n-nodes-base.code","typeVersion":2,"position":[380,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const laws = [{\"id\": \"labor_001\", \"name\": \"نظام العمل - الأحكام العامة\", \"text\": \"المادة الأولى: تسري أحكام هذا النظام على العقود المبرمة لأداء عمل في المملكة العربية السعودية. المادة الثانية: لا يسري هذا النظام على موظفي الحكومة والهيئات والمؤسسات العامة وعمال الزراعة والرعي الطبيعي. المادة الثالثة: العامل كل شخص طبيعي يعمل لمصلحة صاحب عمل وتحت إدارته أو إشرافه مقابل أجر. المادة الرابعة: صاحب العمل كل شخص طبيعي أو اعتباري يستخدم عاملاً أو أكثر مقابل أجر. المادة الخامسة: عند العمل لأقل من ثلاثة أشهر يعتبر العامل في فترة تجربة ما لم يتفق على خلاف ذلك.\"}, {\"id\": \"labor_002\", \"name\": \"نظام العمل - إنهاء العقد والتعويضات\", \"text\": \"المادة الثمانون: إذا أنهى صاحب العمل العقد دون سبب مشروع وجب عليه تعويض العامل عن مدة الخدمة بواقع أجر شهر عن كل سنة من سنوات الخدمة. المادة الواحدة والثمانون: يستحق العامل مكافأة نهاية الخدمة بواقع أجر نصف شهر عن كل سنة من السنوات الخمس الأولى وأجر شهر عن كل سنة بعد ذلك. المادة الثانية والثمانون: يحق للعامل إنهاء عقده دون إشعار مسبق إذا أخل صاحب العمل بالتزاماته التعاقدية.\"}, {\"id\": \"company_001\", \"name\": \"نظام الشركات - الشركة ذات المسؤولية المحدودة\", \"text\": \"المادة الأولى: الشركة ذات المسؤولية المحدودة شركة تتكون من شريك أو أكثر ولا يسأل كل منهم إلا بمقدار حصته في رأس المال. المادة الثانية: يجب ألا يقل رأس مال الشركة عن عشرة آلاف ريال سعودي. المادة الثالثة: تتكون الشركة من عقد تأسيس يتضمن اسم الشركة وغرضها ورأس مالها وحصص الشركاء. المادة الرابعة: تُدار الشركة بواسطة مدير أو أكثر من الشركاء أو من غيرهم.\"}, {\"id\": \"vat_001\", \"name\": \"نظام ضريبة القيمة المضافة\", \"text\": \"المادة الأولى: تُفرض ضريبة القيمة المضافة بنسبة خمسة عشر بالمائة على جميع السلع والخدمات المُورَّدة في المملكة. المادة الثانية: يلتزم كل شخص خاضع للضريبة بالتسجيل لدى الهيئة العامة للزكاة والضريبة والجمارك إذا تجاوز حجم أعماله حد التسجيل الإلزامي. المادة الثالثة: حد التسجيل الإلزامي مائة وثمانية وثمانون ألف ريال سعودي سنوياً.\"}, {\"id\": \"data_001\", \"name\": \"نظام حماية البيانات الشخصية\", \"text\": \"المادة الأولى: يهدف هذا النظام إلى حماية البيانات الشخصية من الجمع والمعالجة غير المشروعة وصون الخصوصية. المادة الثانية: لا يجوز جمع البيانات الشخصية أو معالجتها إلا بموافقة صريحة من صاحبها. المادة الثالثة: يحق لصاحب البيانات الاطلاع على بياناته وطلب تصحيحها أو حذفها. المادة الرابعة: يُعاقب على مخالفة أحكام هذا النظام بغرامة مالية لا تتجاوز خمسة ملايين ريال.\"}, {\"id\": \"cyber_001\", \"name\": \"نظام مكافحة الجرائم المعلوماتية\", \"text\": \"المادة الأولى: يُعاقب بالسجن مدة لا تزيد على سنة وبغرامة لا تزيد على خمسمائة ألف ريال كل من يرتكب جريمة معلوماتية. المادة الثانية: الجريمة المعلوماتية كل فعل يُرتكب متضمناً استخدام الحاسب الآلي أو الشبكة المعلوماتية بصورة غير مشروعة. المادة الثالثة: يُعاقب بالسجن مدة لا تزيد على أربع سنوات كل من يصل بطريقة غير مشروعة إلى بيانات تمس النظام العام.\"}];\nconst results = [];\nconst chunkSize = 600;\nconst overlap = 80;\nfor (const law of laws) {\n  const text = law.text;\n  let start = 0, idx = 0;\n  while (start < text.length) {\n    const end = Math.min(start + chunkSize, text.length);\n    const chunk = text.substring(start, end).trim();\n    if (chunk.length > 30) {\n      results.push({ json: { chunk_id: law.id + '_c' + idx, chunk_text: chunk, law_name: law.name, law_id: law.id } });\n      idx++;\n    }\n    if (end >= text.length) break;\n    start += chunkSize - overlap;\n  }\n}\nreturn results;"}},{"id":"ollama","name":"🧠 Ollama Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,300],"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'nomic-embed-text:latest', prompt: $json.chunk_text }) }}","options":{"timeout":60000}}},{"id":"merge","name":"🔗 دمج البيانات","type":"n8n-nodes-base.code","typeVersion":2,"position":[780,300],"parameters":{"mode":"runOnceForEachItem","jsCode":"const embedding = $json.embedding;\nconst prev = $('📚 تحميل وتقسيم النصوص').item.json;\nreturn {\n  ids: [prev.chunk_id],\n  embeddings: [embedding],\n  documents: [prev.chunk_text],\n  metadatas: [{ law_name: prev.law_name, law_id: prev.law_id }],\n  chunk_id: prev.chunk_id,\n  law_name: prev.law_name\n};"}},{"id":"chroma","name":"💾 ChromaDB Upsert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,300],"parameters":{"method":"POST","url":"http://chromadb:8000/api/v1/collections/saleh_knowledge/upsert","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ ids: $json.ids, embeddings: $json.embeddings, documents: $json.documents, metadatas: $json.metadatas }) }}","options":{"timeout":30000}}},{"id":"summary","name":"📊 تقرير النهائي","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nreturn [{ json: { total_saved: items.length, message: '✅ تم حفظ ' + items.length + ' chunk في ChromaDB بنجاح' } }];"}}],"connections":{"▶️ تشغيل يدوي":{"main":[[{"node":"📚 تحميل وتقسيم النصوص","type":"main","index":0}]]},"📚 تحميل وتقسيم النصوص":{"main":[[{"node":"🧠 Ollama Embedding","type":"main","index":0}]]},"🧠 Ollama Embedding":{"main":[[{"node":"🔗 دمج البيانات","type":"main","index":0}]]},"🔗 دمج البيانات":{"main":[[{"node":"💾 ChromaDB Upsert","type":"main","index":0}]]},"💾 ChromaDB Upsert":{"main":[[{"node":"📊 تقرير النهائي","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"dae31dc2-689c-4d9f-91cd-5a878e3f7877","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-18T21:45:18.965Z","createdAt":"2026-03-18T21:45:18.965Z","role":"workflow:owner","workflowId":"0iSWoHwHgl6DLriB","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-30T21:38:19.020Z","createdAt":"2026-03-30T21:35:46.226Z","id":"PgfcpnhMkkgPqimx","name":"Local chatbot with retrieval augmented generation (RAG)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Add your file here","formFields":{"values":[{"fieldLabel":"File","fieldType":"file","acceptFileTypes":".pdf","requiredField":true}]},"options":{}},"id":"a00e5b5b-1cc1-4272-9790-8ffde3c92efb","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[512,352],"webhookId":"4e1e20d4-f759-42c8-8439-87b93f43aa7c","typeVersion":2.2},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"id","value":"rag_collection"},"options":{}},"id":"1218186e-a93e-4e05-b47e-a395f28cf5f9","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[736,352],"typeVersion":1.2},{"parameters":{"model":"=mxbai-embed-large:latest"},"id":"9c7fb858-b571-4626-b976-d3e1995c464b","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","position":[576,560],"typeVersion":1,"credentials":{"ollamaApi":{"id":"l5Eiuz8UT4R8cuwi","name":"Ollama account"}}},{"parameters":{"dataType":"binary","options":{}},"id":"af14443b-ae01-48dc-8552-5ded7a27fce2","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[880,560],"typeVersion":1},{"parameters":{"chunkSize":200,"chunkOverlap":50,"options":{}},"id":"660380c5-63da-4404-98e6-f9c0ee9aaa90","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[976,784],"typeVersion":1},{"parameters":{"content":"## Data Ingestion\n**Add data to the semantic database","height":700,"width":840,"color":3},"id":"49dbe387-751f-4a2e-8803-290bc2c06ec5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1},{"parameters":{"options":{}},"id":"45683271-af59-41d0-9e69-af721d566661","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[1456,320],"webhookId":"5e56a263-3a40-44bd-bc9d-1cfb3bc2a87d","typeVersion":1.1},{"parameters":{"options":{"systemMessage":"You are a helpful assistant. You have access to a tool to retrieve data from a semantic database to answer questions. Always provide arguments when you execute the tool"}},"id":"af562588-2e8c-4c0b-b041-d6fc8c0affd0","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1728,320],"typeVersion":2},{"parameters":{"model":"=llama3.2","options":{}},"id":"4d924b4a-fe07-4606-8385-613d6ea14991","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","position":[1568,560],"typeVersion":1,"credentials":{"ollamaApi":{"id":"l5Eiuz8UT4R8cuwi","name":"Ollama account"}}},{"parameters":{},"id":"de87b7bb-6fec-4d8f-a77a-25bc3a30a038","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1776,560],"typeVersion":1.3},{"parameters":{"mode":"retrieve-as-tool","toolName":"retriever","toolDescription":"Retrieve data from a semantic database to answer questions","qdrantCollection":{"__rl":true,"mode":"id","value":"rag_collection"},"options":{}},"id":"16261539-5218-4df1-8b14-915dd3377167","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[2048,592],"typeVersion":1.2},{"parameters":{"model":"mxbai-embed-large:latest"},"id":"57d3be1d-73cd-4464-a3f3-7dd4a3157cdf","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","position":[1968,784],"typeVersion":1,"credentials":{"ollamaApi":{"id":"l5Eiuz8UT4R8cuwi","name":"Ollama account"}}},{"parameters":{"content":"## RAG Chatbot\n**Chat with your data","height":700,"width":1200,"color":4},"id":"5919cc58-05f4-42c8-aada-3782a16574d9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1248,240],"typeVersion":1}],"connections":{"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"On form submission":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Qdrant Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateId":"5148"},"pinData":{},"versionId":"26c9bb9e-03ac-418a-8441-af7daeb18d00","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-30T21:35:46.226Z","createdAt":"2026-03-30T21:35:46.226Z","role":"workflow:owner","workflowId":"PgfcpnhMkkgPqimx","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-28T20:29:21.474Z","createdAt":"2026-03-28T20:29:21.474Z","id":"UaJRWaaHtVldwoUl","name":"📰 أم القرى - مراقب الأنظمة الجديدة","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","weekInterval":1,"triggerAtDay":[4],"triggerAtHour":6}]}},"id":"c3000001-0001-4001-8001-000000000001","name":"⏰ جدولة أسبوعية (الخميس 6 صباحاً)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,-80]},{"parameters":{},"id":"c3000001-0001-4001-8001-000000000002","name":"▶️ تشغيل يدوي","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[60,-280]},{"parameters":{"jsCode":"// ====================================================================\n// تصنيفات أم القرى للسحب\n// ====================================================================\nconst UQN_BASE = 'https://www.uqn.gov.sa';\nconst PAGES_PER_CATEGORY = 3; // أول 3 صفحات (الأحدث)\n\nconst categories = [\n  {\n    key: 'rules',\n    name: 'لوائح وأنظمة',\n    listPath: '/decisions/rules-and-regulations',\n    type: 'regulation'\n  },\n  {\n    key: 'cabinet',\n    name: 'قرارات مجلس الوزراء',\n    listPath: '/decisions/council-of-ministers-decisions',\n    type: 'cabinet_decision'\n  },\n  {\n    key: 'royal_decrees',\n    name: 'مراسيم ملكية',\n    listPath: '/decisions/royal-decrees',\n    type: 'royal_decree'\n  },\n  {\n    key: 'royal_orders',\n    name: 'أوامر ملكية',\n    listPath: '/decisions/royal-orders',\n    type: 'royal_order'\n  },\n  {\n    key: 'ministerial',\n    name: 'قرارات وزارية',\n    listPath: '/decisions/ministerial-decisions',\n    type: 'ministerial_decision'\n  }\n];\n\n// Generate page URLs to scrape\nconst pageRequests = [];\nfor (const cat of categories) {\n  for (let page = 1; page <= PAGES_PER_CATEGORY; page++) {\n    pageRequests.push({\n      json: {\n        category_key: cat.key,\n        category_name: cat.name,\n        category_type: cat.type,\n        page_number: page,\n        list_url: `${UQN_BASE}${cat.listPath}?pgno=${page}`,\n        base_url: UQN_BASE\n      }\n    });\n  }\n}\n\nreturn pageRequests;"},"id":"c3000001-0001-4001-8001-000000000003","name":"📂 تصنيفات أم القرى","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-180]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"c3000001-0001-4001-8001-000000000004","name":"🔄 صفحة تلو الأخرى","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[520,-180]},{"parameters":{"url":"={{ $json.list_url }}","options":{"timeout":30000,"response":{"response":{"responseFormat":"text"}},"allowUnauthorizedCerts":true}},"id":"c3000001-0001-4001-8001-000000000005","name":"📄 سحب صفحة القائمة","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,-280]},{"parameters":{"jsCode":"// ====================================================================\n// استخراج روابط الأنظمة من صفحة القائمة\n// ====================================================================\nconst batchItem = $('🔄 صفحة تلو الأخرى').item.json;\nconst categoryKey = batchItem.category_key;\nconst categoryType = batchItem.category_type;\nconst categoryName = batchItem.category_name;\n\nlet html = '';\nif (typeof $json === 'string') html = $json;\nelse if ($json.data && typeof $json.data === 'string') html = $json.data;\nelse html = JSON.stringify($json);\n\n// Extract regulation links with title attribute\n// Format: <a href=\".../decisions-and-regulations/[subpath/]DIGITS\" title=\"TITLE\">\nconst titlePattern = /<a[^>]*href=\"(?:https?:\\/\\/www\\.uqn\\.gov\\.sa)?(\\/decisions-and-regulations\\/(?:[^\\/\"]+\\/)?([0-9]+))\"[^>]*title=\"([^\"]+)\"/gi;\n\nconst items = [];\nconst seen = new Set();\nlet match;\n\nwhile ((match = titlePattern.exec(html)) !== null) {\n  const fullPath = match[1];\n  const uqnId = match[2];\n  let title = match[3].replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/\\s+/g, ' ').trim();\n  \n  if (!seen.has(uqnId) && title.length > 3) {\n    seen.add(uqnId);\n    items.push({\n      json: {\n        uqn_id: uqnId,\n        title: title,\n        detail_url: `https://www.uqn.gov.sa${fullPath}`,\n        category_key: categoryKey,\n        category_type: categoryType,\n        category_name: categoryName,\n        source: 'uqn.gov.sa'\n      }\n    });\n  }\n}\n\nif (items.length === 0) {\n  return [{ json: { skip: true, reason: `لا توجد عناصر في ${categoryName} صفحة ${batchItem.page_number}` } }];\n}\n\nreturn items;"},"id":"c3000001-0001-4001-8001-000000000006","name":"🔗 استخراج الروابط","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-280]},{"parameters":{"jsCode":"// ====================================================================\n// فحص ChromaDB - أي أنظمة أم القرى موجودة بالفعل؟\n// ====================================================================\nconst CHROMADB = 'http://chromadb:8000/api/v1';\nconst COLLECTION_NAME = 'saleh_knowledge';\n\n// Get collection\nconst cols = await fetch(`${CHROMADB}/collections`).then(r => r.json());\nconst col = cols.find(c => c.name === COLLECTION_NAME);\nif (!col) throw new Error('Collection saleh_knowledge not found!');\n\n// Get all metadatas\nconst total = await fetch(`${CHROMADB}/collections/${col.id}/count`).then(r => r.json());\nconst data = await fetch(`${CHROMADB}/collections/${col.id}/get`, {\n  method: 'POST',\n  headers: {'Content-Type': 'application/json'},\n  body: JSON.stringify({ include: ['metadatas'], limit: total })\n}).then(r => r.json());\n\n// Build set of existing UQN IDs\nconst existingUqnIds = new Set();\nfor (const meta of (data.metadatas || [])) {\n  if (meta.source === 'uqn.gov.sa' && meta.uqn_id) {\n    existingUqnIds.add(String(meta.uqn_id));\n  }\n}\n\n// Filter input items\nconst inputItems = $input.all();\nconst newItems = inputItems.filter(item => {\n  if (item.json.skip) return false;\n  return !existingUqnIds.has(String(item.json.uqn_id));\n});\n\nif (newItems.length === 0) {\n  return [{ json: { status: 'up_to_date', message: '✅ لا يوجد جديد في أم القرى', total_in_db: total, checked: inputItems.length, existing_uqn: existingUqnIds.size } }];\n}\n\nconsole.log(`🆕 Found ${newItems.length} new items from UQN out of ${inputItems.length}`);\nreturn newItems;"},"id":"c3000001-0001-4001-8001-000000000007","name":"🔍 فحص الموجود في ChromaDB","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,-180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond_uqn_1","leftValue":"={{ $json.status }}","rightValue":"up_to_date","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}},"id":"c3000001-0001-4001-8001-000000000008","name":"🔀 هل يوجد جديد؟","type":"n8n-nodes-base.if","typeVersion":2,"position":[1400,-180]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"c3000001-0001-4001-8001-000000000009","name":"🔄 معالجة نظام تلو الآخر","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1620,-280]},{"parameters":{"url":"={{ $json.detail_url }}","options":{"timeout":60000,"response":{"response":{"responseFormat":"text"}},"allowUnauthorizedCerts":true}},"id":"c3000001-0001-4001-8001-000000000010","name":"🌐 سحب صفحة النظام","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,-280]},{"parameters":{"jsCode":"// ====================================================================\n// استخراج نص النظام وتقسيمه\n// ====================================================================\nconst chunkSize = 1000;\nconst overlap = 150;\nconst results = [];\n\nconst batchNode = $('🔄 معالجة نظام تلو الآخر');\nconst meta = batchNode.item.json;\nconst title = meta.title || 'unknown';\nconst uqnId = meta.uqn_id || 'unknown';\nconst categoryType = meta.category_type || 'regulation';\nconst categoryName = meta.category_name || '';\n\nlet html = '';\nif (typeof $json === 'string') html = $json;\nelse if ($json.data && typeof $json.data === 'string') html = $json.data;\nelse html = JSON.stringify($json);\n\n// === تنظيف HTML ===\nlet text = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '');\ntext = text.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '');\ntext = text.replace(/<br\\s*\\/?>/gi, '\\n');\ntext = text.replace(/<\\/p>/gi, '\\n\\n');\ntext = text.replace(/<[^>]+>/g, ' ');\ntext = text.replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"');\ntext = text.replace(/[ \\t]+/g, ' ');\n\n// === البحث عن بداية النص ===\nconst markers = ['المادة الأولى', 'المادة الاولى', 'مادة أولى', title];\nfor (const m of markers) {\n  const idx = text.indexOf(m);\n  if (idx > -1 && idx < text.length * 0.5) {\n    text = text.substring(idx);\n    break;\n  }\n}\n\n// === إزالة الذيل (Footer) ===\nconst footerMarkers = ['الأكثر قراءة', 'جميع الحقوق محفوظة', 'تابعنا على', 'اتصل بنا', 'خريطة الموقع'];\nfor (const m of footerMarkers) {\n  const idx = text.indexOf(m);\n  if (idx > 200) {\n    text = text.substring(0, idx);\n    break;\n  }\n}\n\n// تنظيف السطور\ntext = text.split('\\n').map(l => l.trim()).filter(l => l.length > 0).join('\\n');\ntext = text.replace(/\\n{3,}/g, '\\n\\n').trim();\n\nif (text.length < 100) {\n  return [{ json: { error: `النص قصير جداً: ${title}`, length: text.length, uqn_id: uqnId } }];\n}\n\n// === التقسيم (مع مراعاة حدود المواد) ===\nconst articlePattern = /(?=المادة\\s+(?:الأولى|الثانية|الثالثة|الرابعة|الخامسة|السادسة|السابعة|الثامنة|التاسعة|العاشرة|الحادية|[\\d\\u0660-\\u0669]+))/;\nconst articleSplits = text.split(articlePattern);\n\nlet chunks = [];\nif (articleSplits.length > 3) {\n  // Article-based chunking\n  let currentChunk = '';\n  for (const part of articleSplits) {\n    const trimmed = part.trim();\n    if (!trimmed) continue;\n    if (currentChunk.length + trimmed.length < chunkSize) {\n      currentChunk += (currentChunk ? '\\n\\n' : '') + trimmed;\n    } else {\n      if (currentChunk) chunks.push(currentChunk.trim());\n      currentChunk = trimmed;\n    }\n  }\n  if (currentChunk) chunks.push(currentChunk.trim());\n} else {\n  // Size-based chunking\n  let start = 0, idx = 0;\n  while (start < text.length) {\n    const end = Math.min(start + chunkSize, text.length);\n    const chunk = text.substring(start, end).trim();\n    if (chunk.length > 50) chunks.push(chunk);\n    if (end >= text.length) break;\n    start += chunkSize - overlap;\n  }\n}\n\n// === إنشاء النتائج ===\nfor (let i = 0; i < chunks.length; i++) {\n  results.push({\n    json: {\n      chunk_id: `uqn_${uqnId}_c${i}`,\n      chunk_text: chunks[i],\n      title: title,\n      uqn_id: uqnId,\n      source: 'uqn.gov.sa',\n      source_url: meta.detail_url || '',\n      category: categoryType,\n      category_name: categoryName,\n      chunk_index: i,\n      total_chunks: chunks.length,\n      total_text_length: text.length\n    }\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { error: `فشل التقسيم: ${title}`, uqn_id: uqnId } }];\n}\n\nreturn results;"},"id":"c3000001-0001-4001-8001-000000000011","name":"✂️ استخراج وتقسيم النص","type":"n8n-nodes-base.code","typeVersion":2,"position":[2060,-280]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'nomic-embed-text:latest', prompt: $json.chunk_text }) }}","options":{"timeout":120000}},"id":"c3000001-0001-4001-8001-000000000012","name":"🧠 Ollama Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,-280]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const embedding = $json.embedding;\nconst prev = $('✂️ استخراج وتقسيم النص').item.json;\n\nreturn {\n  ids: [prev.chunk_id],\n  embeddings: [embedding],\n  documents: [prev.chunk_text],\n  metadatas: [{\n    law_name: prev.title,\n    uqn_id: prev.uqn_id,\n    source: 'uqn.gov.sa',\n    source_url: prev.source_url || '',\n    category: prev.category,\n    chunk_index: prev.chunk_index,\n    total_chunks: prev.total_chunks,\n    ingested_at: new Date().toISOString(),\n    auto_updated: 'true'\n  }],\n  chunk_id: prev.chunk_id,\n  title: prev.title\n};"},"id":"c3000001-0001-4001-8001-000000000013","name":"🔗 تحضير بيانات ChromaDB","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,-280]},{"parameters":{"method":"POST","url":"http://chromadb:8000/api/v1/collections/86fce70f-0753-4989-9e4c-54d1ded405cd/upsert","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ ids: $json.ids, embeddings: $json.embeddings, documents: $json.documents, metadatas: $json.metadatas }) }}","options":{"timeout":30000}},"id":"c3000001-0001-4001-8001-000000000014","name":"💾 حفظ في ChromaDB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,-280]},{"parameters":{"jsCode":"// ====================================================================\n// تقرير نهائي\n// ====================================================================\nconst items = $input.all();\nconst successCount = items.filter(i => !i.json.error).length;\nconst errorCount = items.filter(i => i.json.error).length;\nconst timestamp = new Date().toISOString();\n\nlet finalCount = 'N/A';\ntry {\n  const resp = await fetch('http://chromadb:8000/api/v1/collections/86fce70f-0753-4989-9e4c-54d1ded405cd/count');\n  finalCount = await resp.json();\n} catch(e) {}\n\nreturn [{\n  json: {\n    status: 'completed',\n    source: 'uqn.gov.sa - أم القرى',\n    total_chunks_saved: successCount,\n    errors: errorCount,\n    chromadb_total: finalCount,\n    message: `📰 أم القرى: تم حفظ ${successCount} قطعة جديدة | أخطاء: ${errorCount} | الإجمالي: ${finalCount}`,\n    timestamp: timestamp\n  }\n}];"},"id":"c3000001-0001-4001-8001-000000000015","name":"📊 تقرير نهائي","type":"n8n-nodes-base.code","typeVersion":2,"position":[2940,-280]},{"parameters":{"jsCode":"return [{ json: $json }];"},"id":"c3000001-0001-4001-8001-000000000016","name":"✅ لا يوجد جديد","type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,-80]}],"connections":{"⏰ جدولة أسبوعية (الخميس 6 صباحاً)":{"main":[[{"node":"📂 تصنيفات أم القرى","type":"main","index":0}]]},"▶️ تشغيل يدوي":{"main":[[{"node":"📂 تصنيفات أم القرى","type":"main","index":0}]]},"📂 تصنيفات أم القرى":{"main":[[{"node":"🔄 صفحة تلو الأخرى","type":"main","index":0}]]},"🔄 صفحة تلو الأخرى":{"main":[[{"node":"📄 سحب صفحة القائمة","type":"main","index":0}],[{"node":"🔍 فحص الموجود في ChromaDB","type":"main","index":0}]]},"📄 سحب صفحة القائمة":{"main":[[{"node":"🔗 استخراج الروابط","type":"main","index":0}]]},"🔗 استخراج الروابط":{"main":[[{"node":"🔄 صفحة تلو الأخرى","type":"main","index":0}]]},"🔍 فحص الموجود في ChromaDB":{"main":[[{"node":"🔀 هل يوجد جديد؟","type":"main","index":0}]]},"🔀 هل يوجد جديد؟":{"main":[[{"node":"🔄 معالجة نظام تلو الآخر","type":"main","index":0}],[{"node":"✅ لا يوجد جديد","type":"main","index":0}]]},"🔄 معالجة نظام تلو الآخر":{"main":[[{"node":"🌐 سحب صفحة النظام","type":"main","index":0}],[{"node":"📊 تقرير نهائي","type":"main","index":0}]]},"🌐 سحب صفحة النظام":{"main":[[{"node":"✂️ استخراج وتقسيم النص","type":"main","index":0}]]},"✂️ استخراج وتقسيم النص":{"main":[[{"node":"🧠 Ollama Embedding","type":"main","index":0}]]},"🧠 Ollama Embedding":{"main":[[{"node":"🔗 تحضير بيانات ChromaDB","type":"main","index":0}]]},"🔗 تحضير بيانات ChromaDB":{"main":[[{"node":"💾 حفظ في ChromaDB","type":"main","index":0}]]},"💾 حفظ في ChromaDB":{"main":[[{"node":"🔄 معالجة نظام تلو الآخر","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:⏰ جدولة أسبوعية (الخميس 6 صباحاً)":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"fe28d118-7f27-41ab-bc32-9ba872dbf85b","activeVersionId":"fe28d118-7f27-41ab-bc32-9ba872dbf85b","versionCounter":62,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-28T20:29:21.474Z","createdAt":"2026-03-28T20:29:21.474Z","role":"workflow:owner","workflowId":"UaJRWaaHtVldwoUl","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-30T21:35:02.108Z","createdAt":"2026-03-30T21:33:17.236Z","id":"ePitF3aYs9DxP1Lc","name":"🤖 Build an interactive AI agent with chat interface and multiple tools","description":null,"active":false,"isArchived":true,"nodes":[],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateId":"5819","templateCredsSetupCompleted":true},"pinData":{},"versionId":"81a32b75-735c-46b2-85a8-30b6ca00cd64","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-30T21:33:17.236Z","createdAt":"2026-03-30T21:33:17.236Z","role":"workflow:owner","workflowId":"ePitF3aYs9DxP1Lc","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-28T20:29:21.367Z","createdAt":"2026-03-28T20:29:21.367Z","id":"YPVhIxCVGsgPpNDM","name":"🔄 Saudi Laws Auto-Update - التحديث الذاتي للقوانين","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","weekInterval":1,"triggerAtDay":[1],"triggerAtHour":3}]}},"id":"b2000001-0001-4001-8001-000000000001","name":"⏰ جدولة أسبوعية (الاثنين 3 صباحاً)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,-80]},{"parameters":{},"id":"b2000001-0001-4001-8001-000000000002","name":"▶️ تشغيل يدوي","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[60,-280]},{"parameters":{"jsCode":"// ====================================================================\n// القائمة الشاملة للأنظمة السعودية - 50+ نظام\n// ====================================================================\nconst laws = [\n  // === الأنظمة الأساسية ===\n  { law_id: '16b97fcb-4833-4f66-8531-a9a700f161b6', law_name: 'النظام الأساسي للحكم', category: 'constitutional' },\n  { law_id: 'b5cf540a-e6ac-426a-b348-a9a700f163de', law_name: 'نظام مجلس الشورى', category: 'constitutional' },\n  { law_id: '93e87aa7-f344-4711-b97c-a9a700f1662b', law_name: 'نظام مجلس الوزراء', category: 'constitutional' },\n  { law_id: '93f81644-fbbc-49ca-b33c-a9a700f16701', law_name: 'نظام المناطق', category: 'regions' },\n\n  // === القضاء والمرافعات (verified IDs) ===\n  { law_id: 'ea1765a3-dec3-41a0-a32f-a9a700f26d58', law_name: 'نظام القضاء', category: 'judiciary' },\n  { law_id: 'f0eaae46-9f84-40ee-815e-a9a700f268b3', law_name: 'نظام المرافعات الشرعية', category: 'litigation' },\n  { law_id: '9a0249b7-f835-48fa-8d1e-a9a700f1981a', law_name: 'نظام الإجراءات الجزائية', category: 'criminal_procedure' },\n  { law_id: 'd7e8efd3-4021-4413-8255-ae7c00f190de', law_name: 'نظام التنفيذ', category: 'execution_law' },\n  { law_id: '2716057c-c097-4bad-8e1e-ae1400c678d5', law_name: 'نظام الإثبات', category: 'evidence_law' },\n  { law_id: '12752a60-2a4a-4cab-a05d-a9a700f274a5', law_name: 'نظام التحكيم', category: 'arbitration' },\n  { law_id: '4d72d829-947b-45d5-b9b5-ae5800d6bac2', law_name: 'نظام الأحوال الشخصية', category: 'personal_status' },\n\n  // === العمل والتوظيف ===\n  { law_id: '08381293-6388-48e2-8ad2-a9a700f2aa94', law_name: 'نظام العمل', category: 'labor_law' },\n  { law_id: 'eaee8a20-3a54-4aaf-b0d9-b1ad00998962', law_name: 'نظام التأمينات الاجتماعية', category: 'social_insurance' },\n  { law_id: '32f651e6-2976-439c-b418-a9a700f23fb2', law_name: 'نظام الخدمة المدنية', category: 'civil_service' },\n\n  // === التجارة والشركات ===\n  { law_id: 'a8376aea-1bc3-49d4-9027-aed900b555af', law_name: 'نظام الشركات', category: 'companies_law' },\n  { law_id: '98ee4b51-d398-4323-ae69-b2b8009f3156', law_name: 'نظام السجل التجاري', category: 'commercial_registry' },\n  { law_id: '4763eb94-047b-46f1-9697-a9a700f1b7ed', law_name: 'نظام الأوراق التجارية', category: 'commercial_law' },\n  { law_id: 'c58ba10c-4e89-4c06-98d7-a9a700f1c706', law_name: 'نظام المحكمة التجارية', category: 'commercial_law' },\n  { law_id: 'a748e485-620c-45c4-8ca8-a9f40166406d', law_name: 'نظام الإفلاس', category: 'bankruptcy' },\n  { law_id: 'e3605c0d-ef87-4cff-b5da-aa3f0102bbb4', law_name: 'نظام المنافسة', category: 'competition' },\n\n  // === المالية والضرائب ===\n  { law_id: '23576008-1ce4-4685-ac3e-a9a700f2cb02', law_name: 'نظام ضريبة الدخل', category: 'tax' },\n  { law_id: 'c2c05ee1-201a-48de-91e7-a9a700f2d14f', law_name: 'نظام المنافسات والمشتريات الحكومية', category: 'procurement' },\n  { law_id: 'b93d0275-775f-482a-9d52-a9a700f2ca15', law_name: 'نظام الجمارك الموحد', category: 'customs' },\n\n  // === تقنية المعلومات ===\n  { law_id: 'ae610645-e094-48ef-814e-aeb4009d244f', law_name: 'نظام الاتصالات وتقنية المعلومات', category: 'telecom' },\n  { law_id: '25df73d6-0f49-4dc5-b010-a9a700f2ec1d', law_name: 'نظام مكافحة جرائم المعلوماتية', category: 'cyber_crimes' },\n  { law_id: '6f509360-2c39-4358-ae2a-a9a700f2ed16', law_name: 'نظام التعاملات الإلكترونية', category: 'ecommerce' },\n  { law_id: 'b7cfae89-828e-4994-b167-adaa00e37188', law_name: 'نظام حماية البيانات الشخصية', category: 'data_protection' },\n  { law_id: '360de590-0286-4fa5-a243-aa9100c31979', law_name: 'نظام التجارة الإلكترونية', category: 'ecommerce_law' },\n\n  // === العقارات ===\n  { law_id: '06272e6b-1fb9-4226-90b7-a9a700f21dc0', law_name: 'نظام نزع ملكية العقارات للمنفعة العامة', category: 'real_estate' },\n  { law_id: 'a1bdadb5-c518-48bb-a1d0-b33000e66fd1', law_name: 'نظام تملك غير السعوديين للعقار', category: 'real_estate' },\n  { law_id: 'c9756bfb-ff81-4226-a820-ae8200dc074c', law_name: 'نظام التسجيل العيني للعقار', category: 'real_estate' },\n\n  // === الجزاءات ===\n  { law_id: '75e963c8-9ff3-4d10-88a4-a9a700f17f21', law_name: 'نظام مكافحة الرشوة', category: 'criminal_law' },\n  { law_id: '4a8842df-9cd1-4ee7-bf97-a9a700f180d4', law_name: 'نظام مكافحة غسل الأموال', category: 'aml_law' },\n\n  // === المرور والنقل ===\n  { law_id: '85364e57-c01e-41ba-8def-a9a700f183e9', law_name: 'نظام المرور', category: 'traffic' },\n\n  // === الاستثمار ===\n  { law_id: 'eda86cc3-3a00-4b90-900d-b1d000c8a863', law_name: 'نظام الاستثمار', category: 'investment' },\n  { law_id: 'e7bd6fcc-c29c-4696-8032-aae9009b113a', law_name: 'نظام الرهن التجاري', category: 'commercial_law' },\n\n  // === البيئة والصحة ===\n  { law_id: '63831ff6-63d9-4212-8b54-abf800e146bd', law_name: 'نظام البيئة', category: 'environment' },\n  { law_id: '64e307c5-ac8c-49d8-9174-a9a700f285a0', law_name: 'نظام المؤسسات الصحية الخاصة', category: 'health' },\n  { law_id: 'f1de206c-eef4-4a76-904a-a9a700f2899a', law_name: 'نظام مزاولة المهن الصحية', category: 'health' },\n\n  // === التعليم والملكية الفكرية ===\n  { law_id: 'a6843359-3237-4553-8271-a9a700f1fcda', law_name: 'نظام مجلس التعليم العالي والجامعات', category: 'education' },\n  { law_id: '67d159e6-ee98-4efc-a2ee-a9a700f17083', law_name: 'نظام حماية حقوق المؤلف', category: 'intellectual_property' },\n  { law_id: 'b2d0decd-a691-45b9-9af0-a9a700f1e86f', law_name: 'نظام العلامات التجارية', category: 'intellectual_property' },\n  { law_id: '6cfde53b-e803-49be-b2c6-a9a700f1c434', law_name: 'نظام براءات الاختراع', category: 'intellectual_property' },\n\n  // === الإعلام ===\n  { law_id: 'ecaaec43-8ff9-46b8-b269-a9a700f16e66', law_name: 'نظام المطبوعات والنشر', category: 'media' },\n\n  // === الأمن ===\n  { law_id: 'a445af93-671f-496b-818a-a9a700f19150', law_name: 'نظام الأسلحة والذخائر', category: 'security' },\n\n  // === الأنظمة الحديثة ===\n  { law_id: '48da5c0f-b5a6-4e93-b76c-b33200be0330', law_name: 'نظام المواد البترولية والبتروكيماوية', category: 'petroleum' },\n  { law_id: 'b4edc050-18f3-4b23-aabc-b35b00ddaab7', law_name: 'نظام الإحصاء', category: 'statistics' },\n  { law_id: '366a4221-3214-4338-b3f2-b35c009f36cd', law_name: 'نظام الحرف والصناعات اليدوية', category: 'crafts' },\n];\n\nreturn laws.map(law => ({\n  json: {\n    ...law,\n    url: `https://laws.boe.gov.sa/BoeLaws/Laws/LawDetails/${law.law_id}/1`,\n    source: 'laws.boe.gov.sa'\n  }\n}));"},"id":"b2000001-0001-4001-8001-000000000003","name":"📋 سجل القوانين الشامل (50+ نظام)","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-180]},{"parameters":{"jsCode":"// فحص ChromaDB للقوانين الموجودة\nconst CHROMADB = 'http://chromadb:8000/api/v1';\nconst COLLECTION_NAME = 'saleh_knowledge';\n\n// Get collection ID\nconst cols = await fetch(`${CHROMADB}/collections`).then(r => r.json());\nconst col = cols.find(c => c.name === COLLECTION_NAME);\nif (!col) throw new Error('Collection not found!');\n\n// Get all metadatas\nconst total = await fetch(`${CHROMADB}/collections/${col.id}/count`).then(r => r.json());\nconst data = await fetch(`${CHROMADB}/collections/${col.id}/get`, {\n  method: 'POST',\n  headers: {'Content-Type': 'application/json'},\n  body: JSON.stringify({ include: ['metadatas'], limit: total })\n}).then(r => r.json());\n\n// Build set of existing law_ids and law_names\nconst existingIds = new Set();\nconst existingNames = new Set();\nfor (const meta of (data.metadatas || [])) {\n  if (meta.law_id) existingIds.add(meta.law_id);\n  if (meta.law_name) existingNames.add(meta.law_name);\n}\n\n// Filter only missing laws\nconst allLaws = $input.all();\nconst missing = allLaws.filter(item => {\n  const law = item.json;\n  return !existingIds.has(law.law_id) && !existingNames.has(law.law_name);\n});\n\nif (missing.length === 0) {\n  return [{ json: { status: 'up_to_date', message: '✅ جميع القوانين محدثة! لا يوجد ناقص.', total_in_db: total, checked: allLaws.length } }];\n}\n\n// Log what we found\nconsole.log(`Found ${missing.length} missing laws out of ${allLaws.length}`);\nreturn missing;"},"id":"b2000001-0001-4001-8001-000000000004","name":"🔍 فحص الناقص في ChromaDB","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond1","leftValue":"={{ $json.status }}","rightValue":"up_to_date","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}},"id":"b2000001-0001-4001-8001-000000000005","name":"🔀 هل يوجد ناقص؟","type":"n8n-nodes-base.if","typeVersion":2,"position":[780,-180]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"b2000001-0001-4001-8001-000000000006","name":"🔄 معالجة واحد تلو الآخر","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1000,-280]},{"parameters":{"url":"={{ $json.url }}","options":{"timeout":60000,"response":{"response":{"responseFormat":"text"}},"allowUnauthorizedCerts":true}},"id":"b2000001-0001-4001-8001-000000000007","name":"🌐 سحب صفحة القانون","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,-280]},{"parameters":{"jsCode":"// استخراج نص القانون وتقسيمه\nconst chunkSize = 800;\nconst overlap = 100;\nconst results = [];\n\nconst batchNode = $('🔄 معالجة واحد تلو الآخر');\nconst meta = batchNode.item.json;\nconst lawName = meta.law_name || 'unknown';\nconst lawId = meta.law_id || 'unknown';\nconst source = meta.source || 'boe.gov.sa';\nconst category = meta.category || 'general';\n\nlet html = '';\nif (typeof $json === 'string') html = $json;\nelse if ($json.data && typeof $json.data === 'string') html = $json.data;\nelse html = JSON.stringify($json);\n\n// تنظيف HTML\nlet text = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '');\ntext = text.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '');\ntext = text.replace(/<[^>]+>/g, ' ');\ntext = text.replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"');\ntext = text.replace(/\\s+/g, ' ').trim();\n\nconst markers = ['نـــص النظـــام', 'نص النظام', 'المادة الأولى'];\nfor (const m of markers) {\n  const idx = text.indexOf(m);\n  if (idx > -1) { text = text.substring(idx); break; }\n}\n\nfor (const m of ['جميع الحقوق محفوظة', 'go to top', 'Additional Links']) {\n  const idx = text.indexOf(m);\n  if (idx > -1) text = text.substring(0, idx);\n}\ntext = text.trim();\n\nif (text.length < 100) {\n  return [{ json: { error: `النص قصير جداً: ${lawName}`, length: text.length, law_name: lawName } }];\n}\n\nlet start = 0, chunkIdx = 0;\nwhile (start < text.length) {\n  const end = Math.min(start + chunkSize, text.length);\n  const chunk = text.substring(start, end).trim();\n  if (chunk.length > 50) {\n    results.push({\n      json: {\n        chunk_id: `boe_${category}_${lawId.substring(0,8)}_c${chunkIdx}`,\n        chunk_text: chunk,\n        law_name: lawName,\n        law_id: lawId,\n        source: source,\n        category: category,\n        chunk_index: chunkIdx,\n        total_text_length: text.length\n      }\n    });\n    chunkIdx++;\n  }\n  if (end >= text.length) break;\n  start += chunkSize - overlap;\n}\n\nreturn results;"},"id":"b2000001-0001-4001-8001-000000000008","name":"✂️ استخراج وتقسيم النص","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-280]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'nomic-embed-text:latest', prompt: $json.chunk_text }) }}","options":{"timeout":120000}},"id":"b2000001-0001-4001-8001-000000000009","name":"🧠 Ollama Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,-280]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const embedding = $json.embedding;\nconst prev = $('✂️ استخراج وتقسيم النص').item.json;\n\nreturn {\n  ids: [prev.chunk_id],\n  embeddings: [embedding],\n  documents: [prev.chunk_text],\n  metadatas: [{\n    law_name: prev.law_name,\n    law_id: prev.law_id,\n    source: prev.source,\n    category: prev.category,\n    chunk_index: prev.chunk_index,\n    ingested_at: new Date().toISOString(),\n    auto_updated: 'true'\n  }],\n  chunk_id: prev.chunk_id,\n  law_name: prev.law_name\n};"},"id":"b2000001-0001-4001-8001-000000000010","name":"🔗 تحضير بيانات ChromaDB","type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,-280]},{"parameters":{"method":"POST","url":"http://chromadb:8000/api/v1/collections/86fce70f-0753-4989-9e4c-54d1ded405cd/upsert","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ ids: $json.ids, embeddings: $json.embeddings, documents: $json.documents, metadatas: $json.metadatas }) }}","options":{"timeout":30000}},"id":"b2000001-0001-4001-8001-000000000011","name":"💾 حفظ في ChromaDB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,-280]},{"parameters":{"jsCode":"// تقرير نهائي\nconst items = $input.all();\nconst successCount = items.filter(i => !i.json.error).length;\nconst errorCount = items.filter(i => i.json.error).length;\nconst timestamp = new Date().toISOString();\n\n// Get final count from ChromaDB\nlet finalCount = 'N/A';\ntry {\n  const resp = await fetch('http://chromadb:8000/api/v1/collections/86fce70f-0753-4989-9e4c-54d1ded405cd/count');\n  finalCount = await resp.json();\n} catch(e) {}\n\nreturn [{\n  json: {\n    status: 'completed',\n    total_chunks_saved: successCount,\n    errors: errorCount,\n    chromadb_total: finalCount,\n    message: `✅ تم حفظ ${successCount} قطعة جديدة في ChromaDB | أخطاء: ${errorCount} | الإجمالي: ${finalCount}`,\n    timestamp: timestamp\n  }\n}];"},"id":"b2000001-0001-4001-8001-000000000012","name":"📊 تقرير نهائي","type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,-280]},{"parameters":{"jsCode":"// كل شي محدث - لوق فقط\nreturn [{ json: $json }];"},"id":"b2000001-0001-4001-8001-000000000013","name":"✅ كل شي محدث","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,-80]}],"connections":{"⏰ جدولة أسبوعية (الاثنين 3 صباحاً)":{"main":[[{"node":"📋 سجل القوانين الشامل (50+ نظام)","type":"main","index":0}]]},"▶️ تشغيل يدوي":{"main":[[{"node":"📋 سجل القوانين الشامل (50+ نظام)","type":"main","index":0}]]},"📋 سجل القوانين الشامل (50+ نظام)":{"main":[[{"node":"🔍 فحص الناقص في ChromaDB","type":"main","index":0}]]},"🔍 فحص الناقص في ChromaDB":{"main":[[{"node":"🔀 هل يوجد ناقص؟","type":"main","index":0}]]},"🔀 هل يوجد ناقص؟":{"main":[[{"node":"🔄 معالجة واحد تلو الآخر","type":"main","index":0}],[{"node":"✅ كل شي محدث","type":"main","index":0}]]},"🔄 معالجة واحد تلو الآخر":{"main":[[{"node":"🌐 سحب صفحة القانون","type":"main","index":0}],[{"node":"📊 تقرير نهائي","type":"main","index":0}]]},"🌐 سحب صفحة القانون":{"main":[[{"node":"✂️ استخراج وتقسيم النص","type":"main","index":0}]]},"✂️ استخراج وتقسيم النص":{"main":[[{"node":"🧠 Ollama Embedding","type":"main","index":0}]]},"🧠 Ollama Embedding":{"main":[[{"node":"🔗 تحضير بيانات ChromaDB","type":"main","index":0}]]},"🔗 تحضير بيانات ChromaDB":{"main":[[{"node":"💾 حفظ في ChromaDB","type":"main","index":0}]]},"💾 حفظ في ChromaDB":{"main":[[{"node":"🔄 معالجة واحد تلو الآخر","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:⏰ جدولة أسبوعية (الاثنين 3 صباحاً)":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"0dfa4e7c-c41e-49bf-aefd-eecb9b337645","activeVersionId":"0dfa4e7c-c41e-49bf-aefd-eecb9b337645","versionCounter":62,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-28T20:29:21.367Z","createdAt":"2026-03-28T20:29:21.367Z","role":"workflow:owner","workflowId":"YPVhIxCVGsgPpNDM","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-28T20:29:21.168Z","createdAt":"2026-03-28T20:29:21.168Z","id":"heyEz7Msi6myluLX","name":"🤖 مساعد القوانين السعودية - Saudi Laws Assistant","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"saleh-legal-chat-001","responseMode":"streaming","options":{"rawBody":false}},"id":"webhook-trigger-001","name":"💬 Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,300],"webhookId":"saleh-legal-chat-001"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.body }}","options":{}},"id":"extract-body-001","name":"📦 استخراج البيانات","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,300]},{"parameters":{"jsCode":"// استخراج رسالة المستخدم وإعداد طلب البحث\nconst message = $input.first().json.chatInput || $input.first().json.message || '';\nconst sessionId = $input.first().json.sessionId || 'default';\n\nreturn [{\n  json: {\n    query: message,\n    sessionId: sessionId,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"extract-query-001","name":"📝 استخراج السؤال","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"method":"POST","url":"http://chromadb:8000/api/v1/collections/saleh_knowledge/query","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query_texts\": [\"{{ $json.query }}\"],\n  \"n_results\": 5,\n  \"include\": [\"documents\", \"metadatas\", \"distances\"]\n}","options":{"timeout":30000}},"id":"chromadb-search-001","name":"🔍 البحث في ChromaDB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"continueOnFail":true},{"parameters":{"jsCode":"// تجهيز السياق من نتائج ChromaDB\nconst query = $('📝 استخراج السؤال').first().json.query;\nconst chromaResult = $input.first().json;\n\nlet context = '';\nlet sources = [];\n\ntry {\n  if (chromaResult && !chromaResult.error && chromaResult.documents) {\n    const documents = chromaResult.documents[0] || [];\n    const metadatas = chromaResult.metadatas[0] || [];\n    const distances = chromaResult.distances[0] || [];\n    if (documents.length > 0) {\n      documents.forEach(function(doc, i) {\n        if ((distances[i] || 999) < 1.5) {\n          const meta = metadatas[i] || {};\n          const source = meta.source_name || meta.source || 'مصدر قانوني';\n          sources.push(source);\n          context += '[' + source + ']:\\n' + doc + '\\n\\n---\\n\\n';\n        }\n      });\n    }\n  }\n} catch(e) {\n  context = '';\n}\n\nconst systemPrompt = 'أنت مساعد قانوني متخصص في الأنظمة والتشريعات السعودية.\\n'\n  + 'أجب على الأسئلة بدقة واحترافية باللغة العربية.\\n'\n  + 'استند إلى النصوص القانونية المقدمة إذا كانت متاحة.\\n'\n  + 'إذا لم تجد إجابة في النصوص، وضّح ذلك وقدّم معلومات عامة مفيدة.\\n\\n'\n  + (context ? ('السياق القانوني المتاح:\\n' + context) : 'لا توجد نصوص قانونية محددة متاحة لهذا السؤال.');\n\nreturn [{\n  json: {\n    query: query,\n    systemPrompt: systemPrompt,\n    hasContext: context.length > 0,\n    sources: sources.filter(function(v, i, a) { return a.indexOf(v) === i; })\n  }\n}];\n"},"id":"prepare-context-001","name":"📚 تجهيز السياق القانوني","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/chat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama3.1:latest\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $json.systemPrompt }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.query }}\"\n    }\n  ],\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.3,\n    \"num_predict\": 2048\n  }\n}","options":{"timeout":120000}},"id":"ollama-chat-001","name":"🧠 Ollama: توليد الإجابة","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"continueOnFail":true},{"parameters":{"jsCode":"// تنسيق الإجابة النهائية\nconst rawInput = $input.first().json;\n// n8n HTTP Request node يضع الاستجابة في .data أو مباشرة في json\nconst ollamaResponse = rawInput?.data || rawInput;\nconst contextData = $('📚 تجهيز السياق القانوني').first().json;\n\nlet answer = '';\ntry {\n  // /api/chat يرجع: { message: { content: \"...\" } }\n  // /api/generate يرجع: { response: \"...\" }\n  answer = ollamaResponse?.message?.content \n        || ollamaResponse?.response \n        || '';\n} catch(e) {\n  answer = '';\n}\n\nif (!answer || answer.trim() === '') {\n  answer = 'عذراً، لم أتمكن من توليد إجابة. يرجى المحاولة مرة أخرى.';\n}\n\n// إضافة المصادر إذا وُجدت\nif (contextData && contextData.hasContext && contextData.sources && contextData.sources.length > 0) {\n  answer += '\\n\\n---\\n📚 **المصادر:** ' + contextData.sources.join('، ');\n}\n\nreturn [{\n  json: {\n    output: answer\n  }\n}];"},"id":"format-response-001","name":"✅ تنسيق الإجابة","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,300]}],"connections":{"💬 Webhook Trigger":{"main":[[{"node":"📦 استخراج البيانات","type":"main","index":0}]]},"📦 استخراج البيانات":{"main":[[{"node":"📝 استخراج السؤال","type":"main","index":0}]]},"📝 استخراج السؤال":{"main":[[{"node":"🔍 البحث في ChromaDB","type":"main","index":0}]]},"🔍 البحث في ChromaDB":{"main":[[{"node":"📚 تجهيز السياق القانوني","type":"main","index":0}]]},"📚 تجهيز السياق القانوني":{"main":[[{"node":"🧠 Ollama: توليد الإجابة","type":"main","index":0}]]},"🧠 Ollama: توليد الإجابة":{"main":[[{"node":"✅ تنسيق الإجابة","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Riyadh","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"9bf9d659-0da9-4315-8dad-d087bcf965f1","activeVersionId":"9bf9d659-0da9-4315-8dad-d087bcf965f1","versionCounter":61,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-28T20:29:21.168Z","createdAt":"2026-03-28T20:29:21.168Z","role":"workflow:owner","workflowId":"heyEz7Msi6myluLX","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-31T01:02:45.184Z","createdAt":"2026-03-30T11:51:53.199Z","id":"CwCounclTele001","name":"Advisory Council Telegram Decisions - قرارات تيليجرام","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"council-callback","responseMode":"responseNode","options":{}},"id":"ct-0001","name":"📩 Telegram Callback Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[120,260],"webhookId":"council-callback"},{"parameters":{"jsCode":"const body = $json.body || $json || {};\nconst callback = body.callback_query || {};\nconst callbackData = callback.data || '';\nconst callbackQueryId = callback.id || '';\n\nif (!callbackData.startsWith('COUNCIL_')) {\n  return [{ json: { skip: true } }];\n}\n\nconst [rawDecision, sessionId] = callbackData.split('::');\nconst chatId = String(callback?.message?.chat?.id || '');\nconst allowedChatId = String($vars.SALEH_TELEGRAM_CHAT_ID || '');\n\nif (!allowedChatId || chatId !== allowedChatId) {\n  return [{ json: { chatId, callbackQueryId, message: '⛔ غير مصرح' } }];\n}\n\nconst map = {\n  COUNCIL_APPROVE: { status: 'approved', label: '✅ تم اعتماد التوصية' },\n  COUNCIL_REJECT: { status: 'rejected', label: '❌ تم رفض التوصية' },\n  COUNCIL_RESTUDY: { status: 'restudy', label: '🔄 إعادة دراسة' },\n};\n\nconst decisionInfo = map[rawDecision] || { status: 'unknown', label: 'قرار غير معروف' };\n\nreturn [{\n  json: {\n    chatId,\n    callbackQueryId,\n    message: decisionInfo.label + '\\n\\n🔖 الجلسة: ' + (sessionId || '') + '\\n🕒 ' + new Date().toISOString()\n  }\n}];"},"id":"ct-0002","name":"🧠 تحليل callback وتحديث السجل","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,260]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $vars.TELEGRAM_BOT_TOKEN + '/answerCallbackQuery' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ callback_query_id: $json.callbackQueryId, text: $json.message }) }}","options":{"timeout":10000}},"id":"ct-0003","name":"📤 إيقاف التحميل answerCallback","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,260]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $vars.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $('🧠 تحليل callback وتحديث السجل').item.json.chatId, text: $('🧠 تحليل callback وتحديث السجل').item.json.message }) }}","options":{"timeout":10000}},"id":"ct-0004","name":"📤 إشعار نتيجة القرار","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,260]},{"parameters":{"respondWith":"json","responseBody":"{}"},"id":"ct-0005","name":"↩️ رد Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1020,260]}],"connections":{"📩 Telegram Callback Webhook":{"main":[[{"node":"🧠 تحليل callback وتحديث السجل","type":"main","index":0}]]},"🧠 تحليل callback وتحديث السجل":{"main":[[{"node":"📤 إيقاف التحميل answerCallback","type":"main","index":0}]]},"📤 إيقاف التحميل answerCallback":{"main":[[{"node":"📤 إشعار نتيجة القرار","type":"main","index":0}]]},"📤 إشعار نتيجة القرار":{"main":[[{"node":"↩️ رد Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"instanceId":"salehsaas"},"pinData":null,"versionId":"5667ba05-3c97-45d8-8377-8f3328a1f465","activeVersionId":"5667ba05-3c97-45d8-8377-8f3328a1f465","versionCounter":65,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-30T11:51:57.262Z","createdAt":"2026-03-30T11:51:57.262Z","role":"workflow:owner","workflowId":"CwCounclTele001","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-31T19:37:59.436Z","createdAt":"2026-03-31T19:37:59.436Z","id":"h5ITbvkxvGVEOqVE","name":"Test Tailscale Connection","description":null,"active":false,"isArchived":false,"nodes":[{"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,300],"parameters":{},"id":"8ce5f621-8eda-4c2c-b47d-8d76a80761e4"}],"connections":{"Manual Trigger":{"main":[[{"node":"Code Interpreter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"fa714191-8d4e-45cf-b248-bd017024552a","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-31T19:37:59.436Z","createdAt":"2026-03-31T19:37:59.436Z","role":"workflow:owner","workflowId":"h5ITbvkxvGVEOqVE","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-31T00:39:14.168Z","createdAt":"2026-03-30T11:51:53.198Z","id":"CwCounclWbhk001","name":"Advisory Council Webhook - استقبال طلبات المجلس","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"council-intake","responseMode":"lastNode","options":{}},"id":"cw-0001","name":"🌐 Webhook Intake","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[80,260],"webhookId":"advisory-council-intake"},{"parameters":{},"id":"cw-0002","name":"▶️ تشغيل يدوي","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,80]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * 0"}]}},"id":"cw-0003","name":"⏰ جلسة أسبوعية","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[80,440]},{"parameters":{"jsCode":"const input = $input.item.json;\nconst body = input.body || input;\n\nconst defaultTopic = 'مراجعة أسبوعية: تقييم حالة النظام وفرص التحسين وأي أولويات تشغيلية مستجدة';\nconst topic = (body.topic || input.topic || defaultTopic).trim();\nconst requestedBy = body.requested_by || input.requested_by || 'صالح';\nconst studyType = body.study_type || input.study_type || 'general';\nconst requestId = body.request_id || input.request_id || `REQ-${Date.now()}`;\nconst source = body.source || input.source || 'n8n-manual';\nconst sessionId = `COUNCIL-${Date.now()}`;\nconst sessionDate = new Date().toLocaleDateString('ar-SA', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'Asia/Riyadh' });\n\nreturn [{ json: { topic, requestedBy, studyType, requestId, source, sessionId, sessionDate, receivedAt: new Date().toISOString() } }];"},"id":"cw-0004","name":"🎯 تهيئة الطلب","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,260]},{"parameters":{"method":"POST","url":"http://open_webui:8080/api/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + ($vars.WEBUI_API_KEY || 'sk-773169e4bcce483fb5e8268e9bf393dc') }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أجب باللغة العربية فقط. أنت وكيل الامتثال القانوني في مجلس استشاري. مهمتك: تحليل الموضوع من المنظور القانوني والتنظيمي فقط. أعط 3 نقاط قصيرة وعملية. ابدأ بـ: ⚖️ وكيل القانون والامتثال:' }, { role: 'user', content: 'الموضوع: ' + $('🎯 تهيئة الطلب').item.json.topic + '\\nنوع الدراسة: ' + $('🎯 تهيئة الطلب').item.json.studyType }], stream: false, max_tokens: 400 }) }}","options":{"timeout":120000},"specifyHeaders":"keypair"},"id":"cw-0005","name":"⚖️ رأي القانون والامتثال","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,20]},{"parameters":{"method":"POST","url":"http://open_webui:8080/api/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + ($vars.WEBUI_API_KEY || 'sk-773169e4bcce483fb5e8268e9bf393dc') }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أجب باللغة العربية فقط. أنت وكيل المال والأعمال في مجلس استشاري. مهمتك: تحليل الموضوع من زاوية الجدوى، القيمة، الأولوية، والعائد. أعط 3 نقاط قصيرة وعملية. ابدأ بـ: 💰 وكيل المال والأعمال:' }, { role: 'user', content: 'الموضوع: ' + $('🎯 تهيئة الطلب').item.json.topic + '\\nنوع الدراسة: ' + $('🎯 تهيئة الطلب').item.json.studyType }], stream: false, max_tokens: 400 }) }}","options":{"timeout":120000},"specifyHeaders":"keypair"},"id":"cw-0006","name":"💰 رأي المال والأعمال","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,180]},{"parameters":{"method":"POST","url":"http://open_webui:8080/api/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + ($vars.WEBUI_API_KEY || 'sk-773169e4bcce483fb5e8268e9bf393dc') }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أجب باللغة العربية فقط. أنت وكيل الأمن السيبراني في مجلس استشاري. مهمتك: تحليل الموضوع من زاوية المخاطر الأمنية، ضوابط NCA وPDPL وسلامة التنفيذ. أعط 3 نقاط قصيرة وعملية. ابدأ بـ: 🛡️ وكيل الأمن السيبراني:' }, { role: 'user', content: 'الموضوع: ' + $('🎯 تهيئة الطلب').item.json.topic + '\\nنوع الدراسة: ' + $('🎯 تهيئة الطلب').item.json.studyType }], stream: false, max_tokens: 400 }) }}","options":{"timeout":120000},"specifyHeaders":"keypair"},"id":"cw-0007","name":"🛡️ رأي الأمن السيبراني","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,340]},{"parameters":{"method":"POST","url":"http://open_webui:8080/api/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + ($vars.WEBUI_API_KEY || 'sk-773169e4bcce483fb5e8268e9bf393dc') }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أجب باللغة العربية فقط. أنت وكيل التطوير التقني في مجلس استشاري. مهمتك: تحليل الموضوع من زاوية الجاهزية التقنية، التعقيد، التبعيات، وقابلية التنفيذ. أعط 3 نقاط قصيرة وعملية. ابدأ بـ: ⚙️ وكيل التطوير التقني:' }, { role: 'user', content: 'الموضوع: ' + $('🎯 تهيئة الطلب').item.json.topic + '\\nنوع الدراسة: ' + $('🎯 تهيئة الطلب').item.json.studyType }], stream: false, max_tokens: 400 }) }}","options":{"timeout":120000},"specifyHeaders":"keypair"},"id":"cw-0008","name":"⚙️ رأي التطوير التقني","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,500]},{"parameters":{"numberInputs":4},"id":"cw-0009","name":"🔀 جمع الآراء","type":"n8n-nodes-base.merge","typeVersion":3,"position":[920,260]},{"parameters":{"jsCode":"const allInputs = $input.all();\nconst topicData = $('🎯 تهيئة الطلب').item.json;\n\nconst extractContent = (item) => item.json?.choices?.[0]?.message?.content || item.json?.response || '(لا يوجد رأي)';\nconst opinions = allInputs.map(extractContent);\n\nreturn [{ json: { ...topicData, councilSession: opinions.join('\\n\\n---\\n\\n'), opinionsCount: opinions.length } }];"},"id":"cw-0010","name":"📊 بناء جلسة المجلس","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,260]},{"parameters":{"method":"POST","url":"http://open_webui:8080/api/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + ($vars.WEBUI_API_KEY || 'sk-773169e4bcce483fb5e8268e9bf393dc') }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أجب باللغة العربية فقط. أنت رئيس المجلس الاستشاري. بعد قراءة آراء الأعضاء الأربعة، أخرج قرارًا موحدًا موجزًا بهذا الهيكل: عنوان قرار المجلس، الرأي الموحد، أبرز نقاط الاتفاق، أبرز نقاط الحذر، التوصية التنفيذية، ومستوى الثقة. كن حاسمًا ومختصرًا.' }, { role: 'user', content: 'الموضوع: ' + $json.topic + '\\n\\nآراء الأعضاء:\\n' + $json.councilSession }], stream: false, max_tokens: 600 }) }}","options":{"timeout":120000},"specifyHeaders":"keypair"},"id":"cw-0011","name":"🏛️ القرار الموحد","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,260]},{"parameters":{"jsCode":"const sessionData = $('📊 بناء جلسة المجلس').item.json;\nconst chairDecision = $json?.choices?.[0]?.message?.content || $json?.response || '(تعذر استخراج القرار)';\n\nconst record = {\n  sessionId: sessionData.sessionId,\n  sessionDate: sessionData.sessionDate,\n  topic: sessionData.topic,\n  requestedBy: sessionData.requestedBy,\n  requestId: sessionData.requestId,\n  source: sessionData.source,\n  studyType: sessionData.studyType,\n  councilOpinions: sessionData.councilSession,\n  chairDecision,\n  status: 'awaiting_approval',\n  recordedAt: new Date().toISOString()\n};\n\nreturn [{ json: record }];"},"id":"cw-0012","name":"📝 تجهيز المحضر","type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,260]},{"parameters":{"jsCode":"const record = $json;\nreturn [{ json: { status: 'success', message: 'تم تجهيز محضر الجلسة', session: record } }];"},"id":"cw-0013","name":"💾 حفظ المحضر في logs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,260]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $vars.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $vars.SALEH_TELEGRAM_CHAT_ID || '161458544', text: '🏛️ قرار المجلس الاستشاري\\n\\n📋 الموضوع: ' + ($json.session.topic || '') + '\\n🔖 الجلسة: ' + ($json.session.sessionId || '') + '\\n\\n' + (($json.session.chairDecision || '').substring(0, 2000)) + '\\n\\nهل تعتمد هذه التوصية؟', reply_markup: { inline_keyboard: [[ { text: '✅ اعتماد', callback_data: 'COUNCIL_APPROVE::' + ($json.session.sessionId || '') }, { text: '❌ رفض', callback_data: 'COUNCIL_REJECT::' + ($json.session.sessionId || '') }, { text: '🔄 إعادة دراسة', callback_data: 'COUNCIL_RESTUDY::' + ($json.session.sessionId || '') } ]] } }) }}","options":{"timeout":30000}},"id":"cw-0014","name":"📤 إرسال القرار لتيليجرام","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2120,200]},{"parameters":{"jsCode":"const payload = $json || {};\nreturn [{\n  json: {\n    status: 'success',\n    message: 'تم استلام الطلب وتشغيل جلسة المجلس وحفظ المحضر وإرسال القرار لتيليجرام',\n    session_id: payload?.session?.sessionId || '',\n    topic: payload?.session?.topic || ''\n  }\n}];"},"id":"cw-0015","name":"↩️ استجابة webhook","type":"n8n-nodes-base.code","typeVersion":2,"position":[2360,200]}],"connections":{"🌐 Webhook Intake":{"main":[[{"node":"🎯 تهيئة الطلب","type":"main","index":0}]]},"▶️ تشغيل يدوي":{"main":[[{"node":"🎯 تهيئة الطلب","type":"main","index":0}]]},"⏰ جلسة أسبوعية":{"main":[[{"node":"🎯 تهيئة الطلب","type":"main","index":0}]]},"🎯 تهيئة الطلب":{"main":[[{"node":"⚖️ رأي القانون والامتثال","type":"main","index":0},{"node":"💰 رأي المال والأعمال","type":"main","index":0},{"node":"🛡️ رأي الأمن السيبراني","type":"main","index":0},{"node":"⚙️ رأي التطوير التقني","type":"main","index":0}]]},"⚖️ رأي القانون والامتثال":{"main":[[{"node":"🔀 جمع الآراء","type":"main","index":0}]]},"💰 رأي المال والأعمال":{"main":[[{"node":"🔀 جمع الآراء","type":"main","index":1}]]},"🛡️ رأي الأمن السيبراني":{"main":[[{"node":"🔀 جمع الآراء","type":"main","index":2}]]},"⚙️ رأي التطوير التقني":{"main":[[{"node":"🔀 جمع الآراء","type":"main","index":3}]]},"🔀 جمع الآراء":{"main":[[{"node":"📊 بناء جلسة المجلس","type":"main","index":0}]]},"📊 بناء جلسة المجلس":{"main":[[{"node":"🏛️ القرار الموحد","type":"main","index":0}]]},"🏛️ القرار الموحد":{"main":[[{"node":"📝 تجهيز المحضر","type":"main","index":0}]]},"📝 تجهيز المحضر":{"main":[[{"node":"💾 حفظ المحضر في logs","type":"main","index":0}]]},"💾 حفظ المحضر في logs":{"main":[[{"node":"📤 إرسال القرار لتيليجرام","type":"main","index":0}]]},"📤 إرسال القرار لتيليجرام":{"main":[[{"node":"↩️ استجابة webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:⏰ جلسة أسبوعية":{"recurrenceRules":[]}},"meta":{"instanceId":"salehsaas"},"pinData":null,"versionId":"d2a93d04-acba-4bcd-b442-cc8be0f3ec5b","activeVersionId":"d2a93d04-acba-4bcd-b442-cc8be0f3ec5b","versionCounter":88,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-03-30T11:51:55.166Z","createdAt":"2026-03-30T11:51:55.166Z","role":"workflow:owner","workflowId":"CwCounclWbhk001","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-28T20:29:20.983Z","createdAt":"2026-03-28T20:29:20.983Z","id":"1iMpXFAh3CQbRo1f","name":"🧠 هضم المعرفة التلقائي - SaleH SaaS","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"a1b2c3d4-0001-0001-0001-000000000001","name":"⏰ مراقبة كل دقيقة","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"command":"ls /knowledge_inbox/ 2>/dev/null | grep -E '\\.(pdf|docx|doc|txt|xlsx|xls|pptx|ppt|md)$' || echo 'EMPTY'"},"id":"a1b2c3d4-0002-0002-0002-000000000002","name":"📂 قراءة مجلد المعرفة","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[460,300]},{"parameters":{"jsCode":"const output = $input.first().json.stdout || '';\nconst files = output.split('\\n').filter(f => f.trim() && f.trim() !== 'EMPTY');\nif (files.length === 0) {\n  return [{ json: { hasFiles: false, files: [] } }];\n}\nreturn files.map(f => ({ json: { hasFiles: true, fileName: f.trim() } }));"},"id":"a1b2c3d4-0003-0003-0003-000000000003","name":"🔍 تحليل الملفات","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond1","leftValue":"={{ $json.hasFiles }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"a1b2c3d4-0004-0004-0004-000000000004","name":"⚡ هل توجد ملفات؟","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,300]},{"parameters":{"method":"PUT","url":"=http://tika:9998/tika","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/octet-stream"},{"name":"Accept","value":"text/plain"},{"name":"X-Tika-OCRLanguage","value":"ara+eng"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"a1b2c3d4-0005-0005-0005-000000000005","name":"📤 رفع لـ Tika","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,200]},{"parameters":{"command":"=cat /knowledge_inbox/{{ $json.fileName }} | base64 -w 0"},"id":"a1b2c3d4-0006-0006-0006-000000000006","name":"📄 قراءة محتوى الملف","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1120,200]},{"parameters":{"jsCode":"// تحويل base64 إلى binary للإرسال لـ Tika\nconst base64Content = $input.first().json.stdout || '';\nconst fileName = $('🔍 تحليل الملفات').first().json.fileName;\n\nif (!base64Content.trim()) {\n  return [{ json: { skip: true, reason: 'ملف فارغ', file: fileName } }];\n}\n\nconst buffer = Buffer.from(base64Content.trim(), 'base64');\n\nreturn [{\n  json: { fileName: fileName },\n  binary: {\n    data: {\n      data: base64Content.trim(),\n      mimeType: 'application/octet-stream',\n      fileName: fileName\n    }\n  }\n}];"},"id":"a1b2c3d4-0007-0007-0007-000000000007","name":"🔄 تحويل لـ Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1230,200]},{"parameters":{"jsCode":"const text = $input.first().json.body || $input.first().json.data || '';\nconst fileName = $('🔍 تحليل الملفات').first().json.fileName || 'unknown';\nconst fileExt = fileName.split('.').pop().toLowerCase();\n\nif (!text || text.trim().length < 50) {\n  return [{ json: { skip: true, reason: 'النص قصير جداً', file: fileName } }];\n}\n\nconst cleanText = text.replace(/\\s+/g, ' ').replace(/[\\x00-\\x1F\\x7F]/g, '').trim();\nconst words = cleanText.split(' ');\nconst chunkSize = 400;\nconst overlap = 40;\nconst chunks = [];\n\nfor (let i = 0; i < words.length; i += (chunkSize - overlap)) {\n  const chunk = words.slice(i, i + chunkSize).join(' ');\n  if (chunk.trim().length > 80) {\n    chunks.push({\n      json: {\n        text: chunk,\n        metadata: {\n          source: fileName,\n          chunk_index: chunks.length,\n          file_type: fileExt,\n          ingested_at: new Date().toISOString()\n        }\n      }\n    });\n  }\n}\n\nreturn chunks.length > 0 ? chunks : [{ json: { skip: true, reason: 'لا chunks كافية', file: fileName } }];"},"id":"a1b2c3d4-0008-0008-0008-000000000008","name":"✂️ تقسيم إلى Chunks","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,200]},{"parameters":{"conditions":{"conditions":[{"id":"skip1","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}]}},"id":"a1b2c3d4-0009-0009-0009-000000000009","name":"⏭️ تخطي الفارغة","type":"n8n-nodes-base.if","typeVersion":2,"position":[1780,200]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/embeddings","sendBody":true,"contentType":"json","body":"={{ JSON.stringify({ model: 'nomic-embed-text:latest', prompt: $json.text }) }}","options":{}},"id":"a1b2c3d4-0010-0010-0010-000000000010","name":"🔢 Embedding - Ollama","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,160]},{"parameters":{"jsCode":"const embedding = $input.first().json.embedding;\nconst chunkData = $('✂️ تقسيم إلى Chunks').first().json;\n\nif (!embedding || embedding.length === 0) {\n  return [{ json: { error: 'فشل embedding', chunk: chunkData.text?.substring(0, 50) } }];\n}\n\nconst id = `${chunkData.metadata.source}_${chunkData.metadata.chunk_index}_${Date.now()}`;\n\nreturn [{\n  json: {\n    ids: [id],\n    embeddings: [embedding],\n    documents: [chunkData.text],\n    metadatas: [chunkData.metadata]\n  }\n}];"},"id":"a1b2c3d4-0011-0011-0011-000000000011","name":"🔧 تحضير ChromaDB","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,160]},{"parameters":{"method":"POST","url":"http://chromadb:8000/api/v1/collections/saleh_knowledge/add","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","body":"={{ JSON.stringify($json) }}","options":{}},"id":"a1b2c3d4-0012-0012-0012-000000000012","name":"💾 حفظ في ChromaDB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,160]},{"parameters":{"command":"=mv /knowledge_inbox/{{ $('🔍 تحليل الملفات').first().json.fileName }} /knowledge_processed/ && echo 'moved'"},"id":"a1b2c3d4-0013-0013-0013-000000000013","name":"✅ نقل للمعالج","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2660,160]},{"parameters":{"jsCode":"const fileName = $('🔍 تحليل الملفات').first().json.fileName;\nconst chunks = $('✂️ تقسيم إلى Chunks').all().length;\nconsole.log(`✅ تم هضم: ${fileName} - ${chunks} chunk`);\nreturn [{ json: { status: 'success', file: fileName, chunks, timestamp: new Date().toISOString() } }];"},"id":"a1b2c3d4-0014-0014-0014-000000000014","name":"📊 تسجيل النجاح","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,160]}],"connections":{"⏰ مراقبة كل دقيقة":{"main":[[{"node":"📂 قراءة مجلد المعرفة","type":"main","index":0}]]},"📂 قراءة مجلد المعرفة":{"main":[[{"node":"🔍 تحليل الملفات","type":"main","index":0}]]},"🔍 تحليل الملفات":{"main":[[{"node":"⚡ هل توجد ملفات؟","type":"main","index":0}]]},"⚡ هل توجد ملفات؟":{"main":[[{"node":"📄 قراءة محتوى الملف","type":"main","index":0}],[]]},"📄 قراءة محتوى الملف":{"main":[[{"node":"🔄 تحويل لـ Binary","type":"main","index":0}]]},"🔄 تحويل لـ Binary":{"main":[[{"node":"📤 رفع لـ Tika","type":"main","index":0}]]},"📤 رفع لـ Tika":{"main":[[{"node":"✂️ تقسيم إلى Chunks","type":"main","index":0}]]},"✂️ تقسيم إلى Chunks":{"main":[[{"node":"⏭️ تخطي الفارغة","type":"main","index":0}]]},"⏭️ تخطي الفارغة":{"main":[[{"node":"🔢 Embedding - Ollama","type":"main","index":0}],[]]},"🔢 Embedding - Ollama":{"main":[[{"node":"🔧 تحضير ChromaDB","type":"main","index":0}]]},"🔧 تحضير ChromaDB":{"main":[[{"node":"💾 حفظ في ChromaDB","type":"main","index":0}]]},"💾 حفظ في ChromaDB":{"main":[[{"node":"✅ نقل للمعالج","type":"main","index":0}]]},"✅ نقل للمعالج":{"main":[[{"node":"📊 تسجيل النجاح","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b7555ac1-e824-4d02-8526-676a645a572b","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-28T20:29:20.983Z","createdAt":"2026-03-28T20:29:20.983Z","role":"workflow:owner","workflowId":"1iMpXFAh3CQbRo1f","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-27T20:03:06.278Z","createdAt":"2026-03-27T20:03:06.278Z","id":"DxOu1hA7f9UEyZZ4","name":"Daily Backup - نسخ احتياطي يومي","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtHour":2}]}},"id":"d1000001-0001-4001-8001-000000000001","name":"⏰ يومياً الساعة 2 صباحاً","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,-80]},{"parameters":{},"id":"d1000001-0001-4001-8001-000000000002","name":"▶️ تشغيل يدوي","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[60,-280]},{"parameters":{"jsCode":"// تجميع معلومات النظام قبل النسخ الاحتياطي\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '').substring(0, 15);\nreturn [{\n  json: {\n    timestamp: timestamp,\n    backup_name: `backup_${timestamp}`,\n    services: ['postgres', 'chromadb', 'open_webui', 'knowledge']\n  }\n}];"},"id":"d1000001-0001-4001-8001-000000000003","name":"📋 إعداد بيانات النسخ","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-180]},{"parameters":{"method":"GET","url":"http://chromadb:8000/api/v1/collections/saleh_knowledge","options":{"timeout":10000}},"id":"d1000001-0001-4001-8001-000000000004","name":"📊 عدد الوثائق في ChromaDB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,-180]},{"parameters":{"jsCode":"const chromaInfo = $json;\nconst prev = $('📋 إعداد بيانات النسخ').item.json;\n\n// تسجيل حالة النظام\nconst report = {\n  backup_timestamp: prev.timestamp,\n  chromadb_collection: chromaInfo.name || 'saleh_knowledge',\n  chromadb_documents: chromaInfo.dimension ? 'Collection exists' : 'Unknown',\n  status: 'health_check_passed',\n  message: `✅ فحص النظام: ChromaDB متصل - المجموعة: ${chromaInfo.name || 'N/A'} - الأبعاد: ${chromaInfo.dimension || 'N/A'}`\n};\n\nreturn [{ json: report }];"},"id":"d1000001-0001-4001-8001-000000000005","name":"📝 تقرير الحالة","type":"n8n-nodes-base.code","typeVersion":2,"position":[740,-180]}],"connections":{"⏰ يومياً الساعة 2 صباحاً":{"main":[[{"node":"📋 إعداد بيانات النسخ","type":"main","index":0}]]},"▶️ تشغيل يدوي":{"main":[[{"node":"📋 إعداد بيانات النسخ","type":"main","index":0}]]},"📋 إعداد بيانات النسخ":{"main":[[{"node":"📊 عدد الوثائق في ChromaDB","type":"main","index":0}]]},"📊 عدد الوثائق في ChromaDB":{"main":[[{"node":"📝 تقرير الحالة","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:⏰ يومياً الساعة 2 صباحاً":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"b05466ae-c096-4eb0-bd56-4e7df3a43e74","activeVersionId":"b05466ae-c096-4eb0-bd56-4e7df3a43e74","versionCounter":64,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-27T20:03:06.278Z","createdAt":"2026-03-27T20:03:06.278Z","role":"workflow:owner","workflowId":"DxOu1hA7f9UEyZZ4","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-30T23:01:51.530Z","createdAt":"2026-03-30T23:01:51.530Z","id":"CwCounclMain001","name":"المجلس الاستشاري — Advisory Council","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * 0"}]}},"id":"ac-0001","name":"⏰ جلسة أسبوعية (الأحد 7 صباحاً)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,300]},{"parameters":{},"id":"ac-0002","name":"▶️ تشغيل يدوي","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[60,120]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"ac-0003","name":"📨 طلب من تيليجرام (صالح يطلب دراسة)","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[60,480],"credentials":{"telegramApi":{"id":"telegram_bot_cred","name":"SaleH Telegram Bot"}}},{"parameters":{"jsCode":"// =========================================\n// تحديد مصدر الطلب وإعداد الموضوع\n// =========================================\n\nconst inputData = $input.item.json;\n\n// إذا جاء من تيليجرام — نسحب نص رسالة صالح\nconst telegramText = inputData?.message?.text || inputData?.text || null;\n\n// إذا جاء من جدولة أو يدوي — موضوع افتراضي\nconst defaultTopic = 'مراجعة أسبوعية: تقييم حالة النظام وفرص التحسين وأي أولويات تشغيلية مستجدة';\n\nconst topic = telegramText && !telegramText.startsWith('/') ? telegramText : defaultTopic;\n\nconst isScheduled = !telegramText;\nconst sessionId = `COUNCIL-${Date.now()}`;\nconst sessionDate = new Date().toLocaleDateString('ar-SA', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',\n  timeZone: 'Asia/Riyadh'\n});\n\nreturn [{ json: { topic, sessionId, sessionDate, isScheduled, requestedBy: telegramText ? 'صالح (تيليجرام)' : 'جدولة تلقائية' } }];"},"id":"ac-0004","name":"🎯 تحديد الموضوع ومصدر الطلب","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,300]},{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $vars.SALEH_TELEGRAM_CHAT_ID }}","text":"={{ '🏛️ *المجلس الاستشاري — انعقدت الجلسة*\\n\\n📋 *الموضوع:*\\n' + $json.topic + '\\n\\n⏳ يعمل الوكلاء على الدراسة... سيصلك الرأي الموحد قريباً.' }}","additionalFields":{"parse_mode":"Markdown"}},"id":"ac-0005","name":"📣 إشعار: بدأت الجلسة","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[540,300],"credentials":{"telegramApi":{"id":"telegram_bot_cred","name":"SaleH Telegram Bot"}}},{"parameters":{"method":"POST","url":"http://open_webui:8080/api/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $vars.WEBUI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أنت وكيل الامتثال القانوني في مجلس استشاري. تخصصك: أنظمة العمل السعودية، نظام حماية البيانات (PDPL)، ضوابط الأمن السيبراني (NCA)، ونظام الشركات. مهمتك: للموضوع المطروح، قدّم رأيك من المنظور القانوني والتنظيمي فقط. اجعل رأيك موجزاً (3 نقاط). ابدأ بـ: ⚖️ *وكيل القانون والامتثال:*' }, { role: 'user', content: 'الموضوع: ' + $('🎯 تحديد الموضوع ومصدر الطلب').item.json.topic }], stream: false, max_tokens: 400 }) }}","options":{"timeout":90000}},"id":"ac-0006","name":"⚖️ وكيل القانون والامتثال","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,60]},{"parameters":{"method":"POST","url":"http://open_webui:8080/api/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $vars.WEBUI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أنت وكيل الذكاء المالي والأعمال في مجلس استشاري. تخصصك: الجدوى الاقتصادية، الأولويات المالية، العائد على الاستثمار، وكفاءة التشغيل. مهمتك: للموضوع المطروح، قدّم رأيك من المنظور المالي وقيمة الأعمال فقط. اجعل رأيك موجزاً (3 نقاط). ابدأ بـ: 💰 *وكيل المال والأعمال:*' }, { role: 'user', content: 'الموضوع: ' + $('🎯 تحديد الموضوع ومصدر الطلب').item.json.topic }], stream: false, max_tokens: 400 }) }}","options":{"timeout":90000}},"id":"ac-0007","name":"💰 وكيل المال والأعمال","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,220]},{"parameters":{"method":"POST","url":"http://open_webui:8080/api/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $vars.WEBUI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أنت وكيل الأمن السيبراني في مجلس استشاري. تخصصك: ضوابط NCA، حماية البيانات، المخاطر التقنية الأمنية، وسلامة التنفيذ. مهمتك: للموضوع المطروح، قدّم رأيك من منظور الأمن والمخاطر فقط. اجعل رأيك موجزاً (3 نقاط). ابدأ بـ: 🛡️ *وكيل الأمن السيبراني:*' }, { role: 'user', content: 'الموضوع: ' + $('🎯 تحديد الموضوع ومصدر الطلب').item.json.topic }], stream: false, max_tokens: 400 }) }}","options":{"timeout":90000}},"id":"ac-0008","name":"🛡️ وكيل الأمن السيبراني","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,380]},{"parameters":{"method":"POST","url":"http://open_webui:8080/api/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $vars.WEBUI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أنت وكيل التطوير التقني في مجلس استشاري. تخصصك: جاهزية النظام التقني، قابلية التنفيذ، التبعيات التقنية، وجودة الكود والبنية. مهمتك: للموضوع المطروح، قدّم رأيك من المنظور التقني وقابلية التنفيذ فقط. اجعل رأيك موجزاً (3 نقاط). ابدأ بـ: ⚙️ *وكيل التطوير التقني:*' }, { role: 'user', content: 'الموضوع: ' + $('🎯 تحديد الموضوع ومصدر الطلب').item.json.topic }], stream: false, max_tokens: 400 }) }}","options":{"timeout":90000}},"id":"ac-0009","name":"⚙️ وكيل التطوير التقني","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,540]},{"parameters":{"numberInputs":4},"id":"ac-0010","name":"🔀 تجميع آراء الوكلاء","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1060,300]},{"parameters":{"jsCode":"// =========================================\n// تجميع آراء الوكلاء الأربعة واستخلاصها\n// =========================================\n\nconst allInputs = $input.all();\n\nconst extractContent = (item) => {\n  try {\n    return item.json?.choices?.[0]?.message?.content ||\n           item.json?.message?.content ||\n           item.json?.response ||\n           '(لم يتوفر رأي)';\n  } catch { return '(خطأ في استخراج الرأي)'; }\n};\n\nconst opinions = allInputs.map(extractContent);\n\n// بناء النص الكامل لجلسة المجلس\nconst councilSession = opinions.join('\\n\\n---\\n\\n');\n\n// إعداد بيانات الجلسة للمنسق\nconst topicData = $('🎯 تحديد الموضوع ومصدر الطلب').item.json;\n\nreturn [{\n  json: {\n    topic: topicData.topic,\n    sessionId: topicData.sessionId,\n    sessionDate: topicData.sessionDate,\n    requestedBy: topicData.requestedBy,\n    councilSession,\n    opinions_count: opinions.length\n  }\n}];"},"id":"ac-0011","name":"📊 تجميع نص الجلسة","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,300]},{"parameters":{"method":"POST","url":"http://open_webui:8080/api/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $vars.WEBUI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: $vars.COUNCIL_MODEL || 'llama3.1:latest', messages: [{ role: 'system', content: 'أنت رئيس المجلس الاستشاري ومنسقه. مهمتك: بعد الاستماع لآراء الوكلاء الأربعة، تُصدر قراراً موحداً بهذا الهيكل الصارم:\n\n🏛️ *قرار المجلس الاستشاري*\n\n*الموضوع:* [اذكر الموضوع]\n\n*الرأي الموحد:* [حكم واحد واضح]\n\n*أبرز نقاط الاتفاق:*\n- نقطة 1\n- نقطة 2\n\n*أبرز نقاط الخلاف أو الحذر:*\n- نقطة 1\n\n*التوصية للتنفيذ:*\n[جملة واحدة: ما الذي يُنصح بفعله]\n\n*مستوى الثقة في التوصية:* [عالٍ / متوسط / يحتاج مزيد بحث]\n\nكن موجزاً وحازماً. لا تكرر آراء الوكلاء بالتفصيل.' }, { role: 'user', content: 'الموضوع: ' + $json.topic + '\\n\\nآراء الوكلاء:\\n' + $json.councilSession }], stream: false, max_tokens: 600 }) }}","options":{"timeout":120000}},"id":"ac-0012","name":"🏛️ رئيس المجلس — القرار الموحد","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,300]},{"parameters":{"jsCode":"// استخراج القرار النهائي من رئيس المجلس\nconst chairDecision = $json?.choices?.[0]?.message?.content ||\n                      $json?.message?.content ||\n                      $json?.response ||\n                      '(تعذر استخراج القرار)';\n\nconst sessionData = $('📊 تجميع نص الجلسة').item.json;\n\n// بناء رسالة تيليجرام النهائية\nconst telegramMessage = [\n  `🏛️ *المجلس الاستشاري — قرار الجلسة*`,\n  ``,\n  `📅 ${sessionData.sessionDate}`,\n  `🔖 ${sessionData.sessionId}`,\n  `📥 طلب من: ${sessionData.requestedBy}`,\n  ``,\n  `📋 *الموضوع:*`,\n  sessionData.topic,\n  ``,\n  `─────────────────────`,\n  ``,\n  chairDecision,\n  ``,\n  `─────────────────────`,\n  ``,\n  `هل تعتمد توصية المجلس؟`\n].join('\\n');\n\nreturn [{\n  json: {\n    telegramMessage,\n    chairDecision,\n    sessionId: sessionData.sessionId,\n    topic: sessionData.topic\n  }\n}];"},"id":"ac-0013","name":"📝 صياغة القرار النهائي","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,300]},{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $vars.SALEH_TELEGRAM_CHAT_ID }}","text":"={{ $json.telegramMessage }}","additionalFields":{"parse_mode":"Markdown","reply_markup":{"inline_keyboard":[[{"text":"✅ اعتمد التوصية","callback_data":"={{ 'COUNCIL_APPROVE::' + $json.sessionId }}"},{"text":"🔄 أعد الدراسة","callback_data":"={{ 'COUNCIL_RESTUDY::' + $json.sessionId }}"},{"text":"❌ رفض","callback_data":"={{ 'COUNCIL_REJECT::' + $json.sessionId }}"}]]}}},"id":"ac-0014","name":"📤 إرسال قرار المجلس لصالح","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2020,300],"credentials":{"telegramApi":{"id":"telegram_bot_cred","name":"SaleH Telegram Bot"}}},{"parameters":{"jsCode":"// حفظ محضر الجلسة في logs/\nconst fs = require('fs');\nconst path = require('path');\n\nconst sessionData = $('📊 تجميع نص الجلسة').item.json;\nconst chairDecision = $('📝 صياغة القرار النهائي').item.json.chairDecision;\n\nconst record = {\n  sessionId: sessionData.sessionId,\n  sessionDate: sessionData.sessionDate,\n  topic: sessionData.topic,\n  requestedBy: sessionData.requestedBy,\n  councilOpinions: sessionData.councilSession,\n  chairDecision,\n  recordedAt: new Date().toISOString()\n};\n\n// محاولة الحفظ (يعمل فقط إذا كان /app/logs موجوداً داخل الحاوية)\ntry {\n  const logPath = '/app/logs/advisory_council_sessions.jsonl';\n  fs.appendFileSync(logPath, JSON.stringify(record, null, 0) + '\\n', 'utf8');\n} catch(e) {\n  console.log('تنبيه: تعذر حفظ المحضر في logs/ — ' + e.message);\n}\n\nreturn [{ json: { status: 'logged', sessionId: sessionData.sessionId } }];"},"id":"ac-0015","name":"💾 حفظ محضر الجلسة","type":"n8n-nodes-base.code","typeVersion":2,"position":[2020,520]}],"connections":{"⏰ جلسة أسبوعية (الأحد 7 صباحاً)":{"main":[[{"node":"🎯 تحديد الموضوع ومصدر الطلب","type":"main","index":0}]]},"▶️ تشغيل يدوي":{"main":[[{"node":"🎯 تحديد الموضوع ومصدر الطلب","type":"main","index":0}]]},"📨 طلب من تيليجرام (صالح يطلب دراسة)":{"main":[[{"node":"🎯 تحديد الموضوع ومصدر الطلب","type":"main","index":0}]]},"🎯 تحديد الموضوع ومصدر الطلب":{"main":[[{"node":"📣 إشعار: بدأت الجلسة","type":"main","index":0}]]},"📣 إشعار: بدأت الجلسة":{"main":[[{"node":"⚖️ وكيل القانون والامتثال","type":"main","index":0},{"node":"💰 وكيل المال والأعمال","type":"main","index":0},{"node":"🛡️ وكيل الأمن السيبراني","type":"main","index":0},{"node":"⚙️ وكيل التطوير التقني","type":"main","index":0}]]},"⚖️ وكيل القانون والامتثال":{"main":[[{"node":"🔀 تجميع آراء الوكلاء","type":"main","index":0}]]},"💰 وكيل المال والأعمال":{"main":[[{"node":"🔀 تجميع آراء الوكلاء","type":"main","index":1}]]},"🛡️ وكيل الأمن السيبراني":{"main":[[{"node":"🔀 تجميع آراء الوكلاء","type":"main","index":2}]]},"⚙️ وكيل التطوير التقني":{"main":[[{"node":"🔀 تجميع آراء الوكلاء","type":"main","index":3}]]},"🔀 تجميع آراء الوكلاء":{"main":[[{"node":"📊 تجميع نص الجلسة","type":"main","index":0}]]},"📊 تجميع نص الجلسة":{"main":[[{"node":"🏛️ رئيس المجلس — القرار الموحد","type":"main","index":0}]]},"🏛️ رئيس المجلس — القرار الموحد":{"main":[[{"node":"📝 صياغة القرار النهائي","type":"main","index":0}]]},"📝 صياغة القرار النهائي":{"main":[[{"node":"📤 إرسال قرار المجلس لصالح","type":"main","index":0},{"node":"💾 حفظ محضر الجلسة","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"instanceId":"salehsaas"},"pinData":null,"versionId":"dd80f41a-755b-47c9-9d93-544f35d63a8b","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-30T23:01:51.530Z","createdAt":"2026-03-30T23:01:51.530Z","role":"workflow:owner","workflowId":"CwCounclMain001","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-28T20:29:21.600Z","createdAt":"2026-03-27T19:51:22.931Z","id":"HuuRe6ooTrbh5rJF","name":"Saudi Legal Scraper v2 - سحب القوانين من المصادر الرسمية","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","weekInterval":1,"triggerAtDay":[4],"triggerAtHour":23}]}},"id":"a1000001-0001-4001-8001-000000000001","name":"⏰ جدولة أسبوعية","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,-80]},{"parameters":{},"id":"a1000001-0001-4001-8001-000000000002","name":"▶️ تشغيل يدوي","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[60,-280]},{"parameters":{"jsCode":"// قائمة الأنظمة السعودية المهمة من هيئة الخبراء\nconst laws = [\n  { law_id: '08381293-6388-48e2-8ad2-a9a700f2aa94', law_name: 'نظام العمل', category: 'labor_law' },\n  { law_id: '25df73d6-0f49-4dc5-b010-a9a700f2ec1d', law_name: 'نظام مكافحة جرائم المعلوماتية', category: 'cyber_crimes' },\n  { law_id: '6f509360-2c39-4358-ae2a-a9a700f2ed16', law_name: 'نظام التعاملات الإلكترونية', category: 'ecommerce' },\n  { law_id: 'c2c05ee1-201a-48de-91e7-a9a700f2d14f', law_name: 'نظام المنافسات والمشتريات الحكومية', category: 'procurement' },\n  { law_id: '23576008-1ce4-4685-ac3e-a9a700f2cb02', law_name: 'نظام ضريبة الدخل', category: 'tax' },\n  { law_id: 'ae610645-e094-48ef-814e-aeb4009d244f', law_name: 'نظام الاتصالات وتقنية المعلومات', category: 'telecom' },\n  { law_id: 'eda86cc3-3a00-4b90-900d-b1d000c8a863', law_name: 'نظام الاستثمار', category: 'investment' },\n  { law_id: '85364e57-c01e-41ba-8def-a9a700f183e9', law_name: 'نظام المرور', category: 'traffic' },\n  { law_id: '98ee4b51-d398-4323-ae69-b2b8009f3156', law_name: 'نظام السجل التجاري', category: 'commercial_registry' },\n  { law_id: '93e87aa7-f344-4711-b97c-a9a700f1662b', law_name: 'نظام مجلس الوزراء', category: 'government' },\n  { law_id: 'b5cf540a-e6ac-426a-b348-a9a700f163de', law_name: 'نظام مجلس الشورى', category: 'government' },\n  { law_id: '93f81644-fbbc-49ca-b33c-a9a700f16701', law_name: 'نظام المناطق', category: 'regions' }\n];\n\nreturn laws.map(law => ({\n  json: {\n    ...law,\n    url: `https://laws.boe.gov.sa/BoeLaws/Laws/LawDetails/${law.law_id}/1`,\n    source: 'laws.boe.gov.sa'\n  }\n}));"},"id":"a1000001-0001-4001-8001-000000000003","name":"📋 قائمة القوانين","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-180]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"a1000001-0001-4001-8001-000000000004","name":"🔄 معالجة واحد تلو الآخر","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[540,-180]},{"parameters":{"url":"={{ $json.url }}","options":{"timeout":60000,"response":{"response":{"responseFormat":"text"}},"allowUnauthorizedCerts":true}},"id":"a1000001-0001-4001-8001-000000000005","name":"🌐 سحب صفحة القانون","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,-180]},{"parameters":{"jsCode":"// استخراج نص القانون من HTML وتقسيمه إلى أجزاء\nconst chunkSize = 800;\nconst overlap = 100;\nconst results = [];\n\n// الحصول على بيانات القانون من SplitInBatches\nconst batchNode = $('🔄 معالجة واحد تلو الآخر');\nconst meta = batchNode.item.json;\nconst lawName = meta.law_name || 'unknown';\nconst lawId = meta.law_id || 'unknown';\nconst source = meta.source || 'boe.gov.sa';\nconst category = meta.category || '';\n\n// الحصول على HTML من HTTP Response\nlet html = '';\nif (typeof $json === 'string') {\n  html = $json;\n} else if ($json.data && typeof $json.data === 'string') {\n  html = $json.data;\n} else {\n  html = JSON.stringify($json);\n}\n\n// تنظيف HTML\nlet text = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '');\ntext = text.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '');\ntext = text.replace(/<[^>]+>/g, ' ');\ntext = text.replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"');\ntext = text.replace(/\\s+/g, ' ').trim();\n\n// البحث عن بداية نص النظام\nconst markers = ['نـــص النظـــام', 'نص النظام', 'المادة الأولى'];\nlet startIdx = -1;\nfor (const m of markers) {\n  startIdx = text.indexOf(m);\n  if (startIdx > -1) break;\n}\nif (startIdx > -1) text = text.substring(startIdx);\n\n// إزالة الفوتر\nconst footerMarkers = ['جميع الحقوق محفوظة', 'go to top', 'Additional Links'];\nfor (const m of footerMarkers) {\n  const idx = text.indexOf(m);\n  if (idx > -1) text = text.substring(0, idx);\n}\ntext = text.trim();\n\nif (text.length < 100) {\n  return [{ json: { error: `النص قصير جداً: ${lawName}`, length: text.length } }];\n}\n\n// تقسيم النص\nlet start = 0, chunkIdx = 0;\nwhile (start < text.length) {\n  const end = Math.min(start + chunkSize, text.length);\n  const chunk = text.substring(start, end).trim();\n  if (chunk.length > 50) {\n    results.push({\n      json: {\n        chunk_id: `boe_${category}_c${chunkIdx}`,\n        chunk_text: chunk,\n        law_name: lawName,\n        law_id: lawId,\n        source: source,\n        category: category,\n        chunk_index: chunkIdx,\n        total_text_length: text.length\n      }\n    });\n    chunkIdx++;\n  }\n  if (end >= text.length) break;\n  start += chunkSize - overlap;\n}\n\nreturn results;"},"id":"a1000001-0001-4001-8001-000000000006","name":"✂️ استخراج وتقسيم النص","type":"n8n-nodes-base.code","typeVersion":2,"position":[980,-180]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'nomic-embed-text:latest', prompt: $json.chunk_text }) }}","options":{"timeout":120000}},"id":"a1000001-0001-4001-8001-000000000007","name":"🧠 Ollama Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,-180]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// دمج بيانات Embedding مع بيانات القطعة\nconst embedding = $json.embedding;\nconst prev = $('✂️ استخراج وتقسيم النص').item.json;\n\nreturn {\n  ids: [prev.chunk_id],\n  embeddings: [embedding],\n  documents: [prev.chunk_text],\n  metadatas: [{\n    law_name: prev.law_name,\n    law_id: prev.law_id,\n    source: prev.source,\n    category: prev.category,\n    chunk_index: prev.chunk_index,\n    ingested_at: new Date().toISOString()\n  }],\n  chunk_id: prev.chunk_id,\n  law_name: prev.law_name\n};"},"id":"a1000001-0001-4001-8001-000000000008","name":"🔗 تحضير بيانات ChromaDB","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,-180]},{"parameters":{"method":"POST","url":"http://chromadb:8000/api/v1/collections/86fce70f-0753-4989-9e4c-54d1ded405cd/upsert","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ ids: $json.ids, embeddings: $json.embeddings, documents: $json.documents, metadatas: $json.metadatas }) }}","options":{"timeout":30000}},"id":"a1000001-0001-4001-8001-000000000009","name":"💾 حفظ في ChromaDB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,-180]},{"parameters":{"jsCode":"// تقرير نهائي\nconst items = $input.all();\nconst successCount = items.filter(i => !i.json.error).length;\nconst errorCount = items.filter(i => i.json.error).length;\n\nreturn [{\n  json: {\n    total_chunks_saved: successCount,\n    errors: errorCount,\n    message: `✅ تم حفظ ${successCount} قطعة في ChromaDB بنجاح`,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"a1000001-0001-4001-8001-000000000010","name":"📊 تقرير نهائي","type":"n8n-nodes-base.code","typeVersion":2,"position":[1860,-180]}],"connections":{"⏰ جدولة أسبوعية":{"main":[[{"node":"📋 قائمة القوانين","type":"main","index":0}]]},"▶️ تشغيل يدوي":{"main":[[{"node":"📋 قائمة القوانين","type":"main","index":0}]]},"📋 قائمة القوانين":{"main":[[{"node":"🔄 معالجة واحد تلو الآخر","type":"main","index":0}]]},"🔄 معالجة واحد تلو الآخر":{"main":[[{"node":"📊 تقرير نهائي","type":"main","index":0}],[{"node":"🌐 سحب صفحة القانون","type":"main","index":0}]]},"🌐 سحب صفحة القانون":{"main":[[{"node":"✂️ استخراج وتقسيم النص","type":"main","index":0}]]},"✂️ استخراج وتقسيم النص":{"main":[[{"node":"🧠 Ollama Embedding","type":"main","index":0}]]},"🧠 Ollama Embedding":{"main":[[{"node":"🔗 تحضير بيانات ChromaDB","type":"main","index":0}]]},"🔗 تحضير بيانات ChromaDB":{"main":[[{"node":"💾 حفظ في ChromaDB","type":"main","index":0}]]},"💾 حفظ في ChromaDB":{"main":[[{"node":"🔄 معالجة واحد تلو الآخر","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:⏰ جدولة أسبوعية":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"557e3ca0-a2d8-437b-8004-e6e970ebbd8d","activeVersionId":"557e3ca0-a2d8-437b-8004-e6e970ebbd8d","versionCounter":81,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-27T19:51:22.931Z","createdAt":"2026-03-27T19:51:22.931Z","role":"workflow:owner","workflowId":"HuuRe6ooTrbh5rJF","projectId":"e0lyHkBKXBRrwY2u","project":{"updatedAt":"2026-03-18T21:43:38.664Z","createdAt":"2026-03-18T20:56:09.269Z","id":"e0lyHkBKXBRrwY2u","name":"saleh almajnouni <salmajnouni@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e92a560a-b90d-4bcf-89c7-38221dba48bd"}}],"versionMetadata":{"name":null,"description":null}}]