dev_studio/workflows/url_inbox_watcher_workflow.json
{
  "name": "📂 URL Inbox Watcher — مراقبة مجلد الروابط",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 1 }]
        }
      },
      "id": "schedule-trigger",
      "name": "⏱️ كل دقيقة",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// قراءة قائمة الملفات من File API ثم قراءة كل ملف واستخراج الروابط\nconst FILE_API = 'http://host.docker.internal:8765';\nconst INBOX_PATH = 'D:\\\\SaleHSaaS3\\\\url_inbox';\n\nlet listResponse;\ntry {\n  listResponse = await $helpers.httpRequest({\n    method: 'GET',\n    url: FILE_API + '/list',\n    qs: { path: INBOX_PATH, extensions: '.txt,.url,.md' }\n  });\n} catch(e) {\n  return [{ json: { skip: true, error: 'File API غير متاح: ' + e.message } }];\n}\n\nconst files = listResponse.files || [];\nif (files.length === 0) {\n  return [{ json: { skip: true, message: 'لا توجد ملفات في url_inbox' } }];\n}\n\nconst results = [];\nfor (const file of files) {\n  const fileName = file.fileName;\n  const filePath = file.filePath;\n  let readResponse;\n  try {\n    readResponse = await $helpers.httpRequest({\n      method: 'GET',\n      url: FILE_API + '/read',\n      qs: { path: filePath }\n    });\n  } catch(e) {\n    continue;\n  }\n  const content = readResponse.content || '';\n  const lines = content.split('\\n').map(function(l) { return l.trim(); }).filter(function(l) { return l.length > 0; });\n  const urls = lines.filter(function(l) { return l.startsWith('http://') || l.startsWith('https://'); });\n  if (urls.length === 0) continue;\n  const title = fileName.replace(/\\.(txt|url|md)$/i, '').replace(/[_-]/g, ' ');\n  for (let i = 0; i < urls.length; i++) {\n    results.push({\n      json: {\n        url: urls[i],\n        title: urls.length > 1 ? title + ' (' + (i + 1) + ')' : title,\n        fileName: fileName,\n        filePath: filePath,\n        totalUrls: urls.length\n      }\n    });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { skip: true, message: 'لا توجد روابط صالحة في أي ملف' } }];\n}\n\nreturn results;"
      },
      "id": "scan-inbox",
      "name": "🔍 فحص url_inbox واستخراج الروابط",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "check-urls",
      "name": "📁 يوجد روابط؟",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nif (inputData.skip || !inputData.url) {\n  return [{ json: { skip: true, reason: 'لا يوجد رابط' } }];\n}\nconst url = inputData.url;\nconst title = inputData.title || '';\nlet type = 'webpage';\nif (url.indexOf('youtube.com') !== -1 || url.indexOf('youtu.be') !== -1) type = 'youtube';\nelse if (url.indexOf('twitter.com') !== -1 || url.indexOf('x.com') !== -1) type = 'twitter';\nelse if (url.indexOf('linkedin.com') !== -1) type = 'linkedin';\nelse if (url.indexOf('facebook.com') !== -1 || url.indexOf('fb.com') !== -1) type = 'facebook';\nelse if (url.indexOf('instagram.com') !== -1) type = 'instagram';\nelse if (url.indexOf('tiktok.com') !== -1) type = 'tiktok';\nelse if (url.indexOf('reddit.com') !== -1) type = 'reddit';\nelse if (/\\.(mp3|wav|ogg|m4a|aac)$/i.test(url)) type = 'audio';\nelse if (/\\.(mp4|avi|mov|mkv|webm)$/i.test(url)) type = 'video';\nelse if (/\\.pdf$/i.test(url)) type = 'pdf';\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').slice(0, 19);\nconst safeTitle = (title || type).replace(/[^\\u0600-\\u06FFa-zA-Z0-9 ]/g, '').trim().slice(0, 50);\nconst outputFilename = timestamp + '_' + safeTitle + '.md';\nreturn [{ json: Object.assign({}, inputData, { type: type, outputFilename: outputFilename, timestamp: timestamp }) }];"
      },
      "id": "detect-type",
      "name": "🔍 تحديد نوع الرابط",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "text/plain" },
            { "name": "X-Return-Format", "value": "markdown" },
            { "name": "Authorization", "value": "Bearer jina_dc99ce20ea034f5a9c8295a654d1128bHX6fO6j6_c93ytgTSdqWi3iaQD8B" },
            { "name": "X-Timeout", "value": "30" }
          ]
        },
        "options": { "timeout": 35000 }
      },
      "id": "jina-fetch",
      "name": "🌐 جلب المحتوى (Jina Premium)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "// استدعاء Ollama عبر helpers.httpRequest لتجنب مشاكل JSON في n8n\nconst typeData = $('🔍 تحديد نوع الرابط').first().json;\nconst jinaData = $input.first().json;\nconst content = jinaData.body || jinaData.data || '';\nconst contentSlice = content.slice(0, 3000);\nconst prompt = 'أنت مساعد متخصص في تلخيص المحتوى. المصدر: ' + typeData.url + '\\n\\nالمهمة:\\n1. اكتب ملخصاً موجزاً (3-5 أسطر)\\n2. استخرج 5-7 نقاط رئيسية\\n3. حدد الكلمات المفتاحية\\n\\nالمحتوى:\\n' + contentSlice + '\\n\\nأجب بالعربية بصيغة Markdown.';\nlet summary = '';\ntry {\n  const ollamaResponse = await $helpers.httpRequest({\n    method: 'POST',\n    url: 'http://host.docker.internal:11434/api/generate',\n    body: {\n      model: 'qwen2.5:3b',\n      prompt: prompt,\n      stream: false,\n      options: { temperature: 0.3, num_predict: 800 }\n    },\n    json: true,\n    timeout: 120000\n  });\n  summary = ollamaResponse.response || '';\n} catch(e) {\n  summary = '(فشل التلخيص: ' + e.message + ')';\n}\nreturn [{ json: { jinaContent: content, summary: summary } }];"
      },
      "id": "ai-summarize",
      "name": "🤖 تلخيص بـ AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "const typeData = $('🔍 تحديد نوع الرابط').first().json;\nconst aiData = $input.first().json;\nconst content = aiData.jinaContent || '';\nconst summary = aiData.summary || '';\nconst wordCount = content.split(/\\s+/).length;\nconst dateStr = new Date().toLocaleDateString('ar-SA');\nconst markdown = '---\\ntitle: \"' + (typeData.title || typeData.url) + '\"\\nurl: ' + typeData.url + '\\ntype: ' + typeData.type + '\\ndate: ' + typeData.timestamp + '\\nwords: ' + wordCount + '\\nsource_file: ' + typeData.fileName + '\\n---\\n\\n# ' + (typeData.title || 'محتوى من: ' + typeData.url) + '\\n\\n**المصدر:** ' + typeData.url + '  \\n**النوع:** ' + typeData.type + '  \\n**التاريخ:** ' + dateStr + '  \\n**الملف الأصلي:** ' + typeData.fileName + '\\n\\n---\\n\\n## الملخص الذكي\\n\\n' + summary + '\\n\\n---\\n\\n## المحتوى الكامل\\n\\n' + content + '\\n';\nreturn [{ json: Object.assign({}, typeData, { markdown: markdown, wordCount: wordCount }) }];"
      },
      "id": "build-markdown",
      "name": "📝 بناء Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "jsCode": "const FILE_API = 'http://host.docker.internal:8765';\nconst data = $input.first().json;\nconst markdown = data.markdown;\nconst outputFilename = data.outputFilename;\nconst filePath = data.filePath;\nconst fileName = data.fileName;\n\ntry {\n  await $helpers.httpRequest({\n    method: 'POST',\n    url: FILE_API + '/write',\n    body: {\n      path: 'D:\\\\SaleHSaaS3\\\\knowledge_inbox\\\\' + outputFilename,\n      content: markdown\n    },\n    json: true\n  });\n} catch(e) {\n  throw new Error('فشل حفظ ملف Markdown: ' + e.message);\n}\n\ntry {\n  await $helpers.httpRequest({\n    method: 'POST',\n    url: FILE_API + '/move',\n    body: {\n      source: filePath,\n      destination: 'D:\\\\SaleHSaaS3\\\\url_processed\\\\' + fileName\n    },\n    json: true\n  });\n} catch(e) {\n  console.log('تحذير: فشل نقل الملف: ' + e.message);\n}\n\nreturn [{ json: Object.assign({}, data, {\n  savedTo: 'D:\\\\SaleHSaaS3\\\\knowledge_inbox\\\\' + outputFilename,\n  movedFrom: filePath,\n  success: true\n}) }];"
      },
      "id": "save-and-move",
      "name": "💾 حفظ ونقل الملفات",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.log('تمت معالجة: ' + data.fileName + ' -> ' + data.outputFilename);\nreturn [{ json: {\n  success: true,\n  sourceFile: data.fileName,\n  outputFile: data.outputFilename,\n  savedTo: data.savedTo,\n  url: data.url,\n  type: data.type,\n  words: data.wordCount,\n  timestamp: new Date().toISOString()\n} }];"
      },
      "id": "log-success",
      "name": "✅ تسجيل النجاح",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 200]
    }
  ],
  "connections": {
    "⏱️ كل دقيقة": {
      "main": [[{ "node": "🔍 فحص url_inbox واستخراج الروابط", "type": "main", "index": 0 }]]
    },
    "🔍 فحص url_inbox واستخراج الروابط": {
      "main": [[{ "node": "📁 يوجد روابط؟", "type": "main", "index": 0 }]]
    },
    "📁 يوجد روابط؟": {
      "main": [
        [{ "node": "🔍 تحديد نوع الرابط", "type": "main", "index": 0 }],
        []
      ]
    },
    "🔍 تحديد نوع الرابط": {
      "main": [[{ "node": "🌐 جلب المحتوى (Jina Premium)", "type": "main", "index": 0 }]]
    },
    "🌐 جلب المحتوى (Jina Premium)": {
      "main": [[{ "node": "🤖 تلخيص بـ AI", "type": "main", "index": 0 }]]
    },
    "🤖 تلخيص بـ AI": {
      "main": [[{ "node": "📝 بناء Markdown", "type": "main", "index": 0 }]]
    },
    "📝 بناء Markdown": {
      "main": [[{ "node": "💾 حفظ ونقل الملفات", "type": "main", "index": 0 }]]
    },
    "💾 حفظ ونقل الملفات": {
      "main": [[{ "node": "✅ تسجيل النجاح", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "salehsaas"
  },
  "tags": [
    { "name": "knowledge", "createdAt": "2026-03-05" },
    { "name": "automation", "createdAt": "2026-03-05" },
    { "name": "file-watcher", "createdAt": "2026-03-05" }
  ]
}
