n8n_workflows/daily_health_check.json
{
  "name": "Daily Backup - نسخ احتياطي يومي",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "d1000001-0001-4001-8001-000000000001",
      "name": "يومياً الساعة 2 صباحاً",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [60, -80]
    },
    {
      "parameters": {},
      "id": "d1000001-0001-4001-8001-000000000002",
      "name": "تشغيل يدوي",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [60, -280]
    },
    {
      "parameters": {
        "command": "powershell.exe -NonInteractive -ExecutionPolicy Bypass -File \"C:\\saleh26\\salehsaas\\SaleHSaaS3\\backup.ps1\""
      },
      "id": "d1000001-0001-4001-8001-000000000010",
      "name": "تنفيذ backup.ps1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [300, -180]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $json.stdout || '';\nconst stderr = $json.stderr || '';\n\nconst failCount = (stdout.match(/\\[FAIL\\]/g) || []).length;\nconst warnCount = (stdout.match(/\\[WARN\\]/g) || []).length;\nconst okCount   = (stdout.match(/\\[OK\\]/g)   || []).length;\n\nconst zipMatch = stdout.match(/Archive: (.+\\.zip)/);\nconst zipFile  = zipMatch ? zipMatch[1].trim() : 'لم يُنشأ ملف مضغوط';\n\nconst success = (failCount === 0) && (okCount > 0);\n\nreturn [{ json: {\n  success: success,\n  verdict: success\n    ? ('نجح: ' + okCount + ' مكون' + (warnCount > 0 ? ' (' + warnCount + ' تحذير)' : '') + ' | الملف: ' + zipFile)\n    : ('فشل: ' + failCount + ' مكون فشل | ' + zipFile),\n  ok_count:   okCount,\n  warn_count: warnCount,\n  fail_count: failCount,\n  zip_file:   zipFile,\n  raw_output: stdout.substring(0, 1000)\n}}];"
      },
      "id": "d1000001-0001-4001-8001-000000000011",
      "name": "التحقق من النتيجة",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, -180]
    }
  ],
  "connections": {
    "يومياً الساعة 2 صباحاً": {
      "main": [[{"node": "تنفيذ backup.ps1", "type": "main", "index": 0}]]
    },
    "تشغيل يدوي": {
      "main": [[{"node": "تنفيذ backup.ps1", "type": "main", "index": 0}]]
    },
    "تنفيذ backup.ps1": {
      "main": [[{"node": "التحقق من النتيجة", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
