n8n_workflows/mcp_models_agent.json
{
  "name": "salehsaas-models-agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "models-trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "أنت وكيل إدارة النماذج في نظام SaleHSaaS.\n\n## مهمتك\nإدارة نماذج Ollama المحلية: عرضها، الاستعلام عنها، وتحميل نماذج جديدة.\n\n## الأدوات المتاحة (عبر MCP)\n1. **ollama_model_builder** — إدارة نماذج Ollama:\n   - `list_local_models` — عرض كل النماذج المحلية\n   - `get_model_info` — معلومات نموذج محدد\n   - `pull_model` — تحميل نموذج جديد من Ollama Hub\n\n2. **Ollama API Direct** — استعلام مباشر على Ollama:\n   - عرض النماذج: GET http://host.docker.internal:11434/api/tags\n   - معلومات نموذج: POST http://host.docker.internal:11434/api/show\n\n## قواعد العمل\n- قبل تحميل نموذج جديد، تحقق من المساحة المتاحة\n- أخبر المستخدم بحجم النموذج قبل التحميل\n- عند عرض النماذج، رتّبها حسب الحجم\n- رد بالعربية مع معلومات واضحة\n\nالطلب الوارد: {{ $json.chatInput ?? $json.action ?? $json.query ?? 'لا يوجد طلب' }}\nاسم النموذج (إن وُجد): {{ $json.model_name ?? '' }}}"
        }
      },
      "id": "models-agent",
      "name": "Models Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        560,
        300
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": "qwen2.5-coder:14b",
        "options": {
          "temperature": 0.1,
          "numCtx": 4096
        }
      },
      "id": "models-ollama",
      "name": "Ollama (Models)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        240,
        560
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "ollama-local",
          "name": "Ollama Local"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Manage Ollama models via MCP protocol. Tools: list_local_models (list all installed models), get_model_info (details about a specific model), pull_model (download a new model from Ollama Hub).",
        "sseEndpoint": "http://mcpo:8000/ollama_model_builder/sse",
        "authentication": "none",
        "include": "all"
      },
      "id": "models-mcp",
      "name": "Ollama Manager (MCP)",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        440,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "toolDescription": "Direct Ollama API access. Use GET http://host.docker.internal:11434/api/tags to list models, or POST http://host.docker.internal:11434/api/show with {name: model_name} for model details.",
        "url": "={{ $fromAI('url', 'Ollama API URL: http://host.docker.internal:11434/api/tags or http://host.docker.internal:11434/api/show', 'string') }}",
        "method": "={{ $fromAI('method', 'GET or POST', 'string') }}",
        "options": {}
      },
      "id": "models-api",
      "name": "Ollama API Direct",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        640,
        560
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "respondWith": "lastNode",
        "options": {}
      },
      "id": "models-output",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        880,
        300
      ],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Models Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Models Agent": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama (Models)": {
      "ai_languageModel": [
        [
          {
            "node": "Models Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Manager (MCP)": {
      "ai_tool": [
        [
          {
            "node": "Models Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama API Direct": {
      "ai_tool": [
        [
          {
            "node": "Models Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "salehsaas"
    },
    {
      "name": "sub-agent"
    },
    {
      "name": "models"
    }
  ]
}