n8n_workflows/smart_compliance_alerts.json
{
  "name": "Smart Compliance Alerts (NCA/PDPL)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "e4f8d68d-8a4d-4e9b-9a9e-8a7d6e5d4c3b",
      "name": "Check Logs Every 5m",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "command": "python3 /app/core/grc_engine/grc_engine.py --mode monitor --log /app/logs/watcher.log"
      },
      "id": "f5e9f79e-9b5e-5f0c-0b0f-9b8e7f6e5d4c",
      "name": "Run GRC Monitor",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        350,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"exitCode\"]}}",
              "value2": "0"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Violation Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://salehsaas_dashboard:5000/api/social/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "Security Compliance Alert: Potential Data Violation Detected by SaleH GRC Engine."
            },
            {
              "name": "platform",
              "value": "Admin Alert"
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Alert Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        200
      ]
    }
  ],
  "connections": {
    "Check Logs Every 5m": {
      "main": [
        [
          {
            "node": "Run GRC Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run GRC Monitor": {
      "main": [
        [
          {
            "node": "Violation Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Violation Found?": {
      "main": [
        [
          {
            "node": "Alert Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "staticData": null,
  "meta": {
    "templateId": "saleh_compliance_001"
  },
  "pinData": {}
}
